.add-config-to-application {
  .application-select {
    width: 100%;
  }
  .catalogs-overlay-panel {
    max-width: 600px;
  }

  .choice-contents {
    margin-bottom: 10px;
    margin-left: @grid-gutter-width / 2;

    .has-warning {
      margin-bottom: 10px;
    }
  }

  .container-options {
    margin-left: 20px;
    .select-container {
      max-height: 200px;
      overflow-y: auto;
      .checkbox:first-of-type {
        margin-top: 0;
      }
    }
  }

  .dialog-title {
    border-bottom: 1px solid @color-pf-black-300;

    h3 {
      margin: 18px 0;
      padding-left: 15px;
    }
  }

  .dialog-body {
    padding: 20px;

    .button-group {
      .btn {
        margin-left: 10px;
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
    legend {
      border-bottom: 0;
      font-size:  @font-size-base + 1;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .radio {
      margin-top: 0;
    }
  }

  .field-help {
    position: relative;
    text-decoration: none;
    top: 1px;
  }

  .form-group {
    display: flex;
    margin-bottom: 10px;
    .control-label {
      margin-bottom: 0;
      margin-right:  @grid-gutter-width / 2;
      padding-top: 3px;
      label.required:before {
        left: (@grid-gutter-width / 2) + 10px;
      }
    }
    .control-input {
      flex: 1 0 0%;
    }
  }

  .updating {
    background-color: @color-pf-white;
    bottom: 55px;
    left: 0;
    padding-top: 60px;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1000;
  }
}
