.add-config-to-application {
  .application-select {
    width: 100%;
  }

  .choice-contents {
    margin-bottom: 10px;
    margin-left: @grid-gutter-width / 2;

    .has-warning {
      margin-bottom: 10px;
    }
  }

  .container-options {
    margin-left: 20px;
    .select-container {
      max-height: 200px;
      overflow-y: auto;
      .checkbox:first-of-type {
        margin-top: 0;
      }
    }
  }

  .field-help {
    position: relative;
    text-decoration: none;
    top: 1px;
  }

  .form-group {
    display: flex;
    margin-bottom: 10px;
    .control-label {
      margin-bottom: 0;
      margin-right:  @grid-gutter-width / 2;
      padding-top: 3px;
      label.required:before {
        left: (@grid-gutter-width / 2) + 5px;
      }
    }
    .control-input {
      flex: 1 0 0%;
    }
  }

  legend {
    border-bottom: 0;
    font-size:  @font-size-base + 1;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .updating {
    background-color: @color-pf-white;
    bottom: 55px;
    left: 0;
    padding-top: 60px;
    position: absolute;
    right: 0;
    top: 55px;
    z-index: 1000;
  }
}
