@landing-search-area-height: 52px;

.bind-service-wizard .wizard-pf-contents {
  display: block;
  width: 100%;
}

.landing {
  @media(min-width: @screen-sm-min) {
    top: @landing-search-area-height;
  }
  h1, .nav-tabs {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
}

@media(min-width: @screen-sm-min) {
  .catalog-search, .landing-side-bar {
    top: @navbar-os-header-height-desktop + 1; // add 1 for the bottom border
  }
}
