/* Data toolbar
   - Includes customizations for label filter input and active filter
---------------------------------------------------------------------------- */
// @screen-md-min - (sidebar-left + left + right margin); 992 - (145 + 30 + 30) = 787
@data-toolbar-filter-max-width:   (@screen-md-min - (@sidebar-left-width-md + @middle-content-container-padding-lg + @middle-content-container-padding-lg));
@label-filter-input-width-lg: 730px; // max width available for input at > 992
@label-filter-input-width-md: 540px; // max width available for input at > 768
@label-filter-input-width-sm: 400px; // max width available for input at > 480
@label-filter-input-width-xs: 240px; // 320 - (40 + 40); container - ((left + right margin) + button)


.data-toolbar {
  padding: 5px 0;
  @media (min-width: @screen-sm-min) {
    .flex-display(@display: flex);
  }
  // Set min-widths to prevent clipping when option lengths are known
  &.other-resources-toolbar .data-toolbar-dropdown {
    min-width: 210px;
  }
  .checkbox {
    margin-bottom: 0;
    margin-top: 10px;
    @media (min-width: @screen-sm-min) {
      .flex(@columns: 1 1 0%);
      margin-left: 20px;
      margin-top: 3px;
      text-align: right;
    }
  }
  .data-toolbar-filter {
    @media (min-width: @screen-sm-min) {
      .flex(@columns: 1 1 0%);
    }
    @media (min-width: @screen-md-min) {
      max-width: @data-toolbar-filter-max-width;
    }
    .filter .navbar-filter-widget .label-filter .selectize-control .selectize-input {
      &, & input {
        font-size: @font-size-base;
      }
    }
    .label-filter-key .selectize-input.not-full {
      // Increase default input click target
      width: @label-filter-input-width-xs;
      @media (min-width: @screen-xs-min) { width: @label-filter-input-width-sm;}
      @media (min-width: @screen-sm-min) { width: @label-filter-input-width-md;}
      @media (min-width: @screen-md-min) { width: @label-filter-input-width-lg;}
    }
    .form-group {
      margin-bottom: 0;
    }
  }
  // TODO:  remove this rule with https://github.com/openshift/origin-web-console/issues/220
  .data-toolbar-views {
    .flex(@columns: 0 1 auto);
    text-align: right;
    @media (min-width: @screen-lg-min) {
      .flex(@columns: 0 1 auto);
    }
  }
  .vertical-divider + .data-toolbar-filter {
    margin-top: 10px;
    @media (min-width: @screen-sm-min) {
      margin-top: 0;
    }
  }
}
.selectize-dropdown {
  font-size: @font-size-base;
}
