.copy-to-clipboard input.form-control:read-only {
  background-color: white;
  color: @text-color;
}

.input-group-addon.wildcard-prefix {
  padding-left: 10px;
}

.editor-examples {
  padding: 19px;
  margin-bottom: 20px;
  border: 1px solid @color-pf-black-300;
  .copy-to-clipboard {
    margin-top: 3px;
  }
}
