//
// Layouts (substructure)
// ------------------------------------

.layout-pf.layout-pf-fixed {
  height: 1px;
  body {
    height: 1px;
    padding-top: @navbar-os-header-height-mobile;
    @media(min-width: @screen-sm-min) {
      padding-top: @navbar-os-header-height-desktop;
    }
    &.has-project-bar {
      padding-top: (@navbar-os-header-height-mobile + @project-bar-height-mobile);
      &.has-project-search {
        padding-top: (@navbar-os-header-height-mobile + @project-bar-height-mobile + @project-search-height-mobile);
      }
      @media(min-width: @screen-sm-min) {
        padding-top: (@navbar-os-header-height-desktop + @project-bar-height-desktop);
        &.has-project-search {
          padding-top: (@navbar-os-header-height-desktop + @project-bar-height-desktop);
        }
        .container-pf-nav-pf-vertical {
          margin-left: @nav-pf-vertical-width;
          &.collapsed-nav {
            margin-left: 75px;
          }
        }
      }
    }
  }
  .container-pf-nav-pf-vertical {
    height: 100%;
    &,
    &.collapsed-nav {
      margin-left: 0; // override PatternFly default
    }
    .middle-header {
      margin-bottom: @grid-gutter-width / 2;
    }
    .view {
      height: 100%;
    }
  }
  .has-project-bar .container-pf-nav-pf-vertical {
    transition: margin-left .1s ease-in-out;
  }
}
.surface-shaded {
  background-color: @panel-shaded;
  min-height: 100%;
}
