//
// Layouts (substructure)
// ------------------------------------
html,body {
  margin:0;
  padding:0;
}

.layout-pf.layout-pf-fixed body {
  &.has-project-bar {
    padding-top: (@navbar-vertical-height-short + @project-bar-height-mobile);
    @media(min-width: @screen-xs-max) {
      padding-top: (@navbar-vertical-height-tall + @project-bar-height-desktop); // offset of .nav-pf-vertical - border-top
    }
  }
}

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  &.collapsed {
    margin-left: 75px;
  }
}

.layout-pf-fixed .tech-preview & {
  // top: @tech-preview-banner-height;
}

.console-os {
  background-color: @body-bg;
  &.tech-preview .top-header {
    height: @navbar-os-header-mobile + @tech-preview-banner-height;
  }
  .top-header {
    position: relative;
    height: @navbar-os-header-mobile;
  }
  .chromeless {
    // Prevent chromeless log-viewer from having margin or padding
    .middle-content,
    .middle-header {
      margin:0 !important;
      padding:0 !important;
    }
  }
  .sidebar-left {
    background: @sidebar-os-bg;
    padding: 0;
    position:relative;
    @media (max-width: @screen-xs-max) {
      border-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }
  .sidebar-right {
    background-color: @panel-light;
    display: none;
  }
  .no-sidebar .middle-content > .container {
    // reduce 20px to account for tile bottom margin
    padding-bottom: (@middle-content-bottom-margin - 20px);
  }
  .wrap {
    height: 100%;
    // Makes container extend full height for pages with bg color
    .middle-content {
      > .container {
        height: 100%;
        min-height: calc(100vh ~"-" (@navbar-vertical-height-tall + @project-bar-height-desktop));
      }
    }
    &.no-sidebar {
      .surface-shaded;
      h1 {
        margin: 10px 0 20px;
      }
      .middle {
        padding-top: 30px;
      }
    }
  }
}
.header-toolbar {
  background-color: @panel-light;
  border-bottom: 1px solid @page-header-border-color;
  margin-bottom: @grid-gutter-width / 2;
}
.surface-shaded {
  background-color: @panel-shaded;
}

@media (min-width: @screen-sm-min) {
  .layout-pf-alt-fixed .nav-pf-vertical-alt {
    position: fixed;
    bottom:0;
    overflow: visible;
    /* width: inherit; used if parent is using width: can't use 100% or auto */
  }
  .console-os {
    &.tech-preview {
      .top-header {
        height: @navbar-os-header-desktop + @tech-preview-banner-height;
      }
      .wrap {
        margin-top: -(@navbar-os-header-desktop + @tech-preview-banner-height); /* top offset height */
        padding-top: @navbar-os-header-desktop + @tech-preview-banner-height; /* top offset height */
      }
    }
    .top-header {
      height: @navbar-os-header-desktop; /* top offset height */
    }
    .sidebar-left,.middle,.sidebar-right {
      height: 100%;
      -webkit-overflow-scrolling:touch;
    }
    .show-sidebar-right {
      .sidebar-right {
        display: block;
        .dl-horizontal {
          margin: 0 0 @line-height-computed;
          dt {
            text-align: left;
          }
          dd {
            .word-break();
          }
        }
        .sidebar-help {
          color: @gray-light;
        }
      }
    }
    .sidebar-right {
      border-left: 1px solid #dadada;
      flex: 0 0 @sidebar-right-width-sm;
      position: relative;
    }
    .no-sidebar {
      .sidebar-left {
        display: none !important;
      }
    }
  }
  .right-section {
    position: absolute;
    top: 0;
    right: 0;
    width: @sidebar-right-width-sm;
    height: 100%;
    .right-container {
      align-items: flex-start;
      bottom: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      height: 100%;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
      .right-header  {
        flex: 0 0 auto;
        width: 100%;
      }
      .right-content {
        flex: 1 1 auto;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}
