//
// Layouts (substructure)
// ------------------------------------
html,body {
  margin:0;
  padding:0;
}
.layout-pf.layout-pf-fixed body {
  padding-top: @navbar-os-header-mobile;
  @media(min-width: @screen-sm-min) {
    padding-top: @navbar-os-header-desktop;
  }
  &.has-project-bar {
    padding-top: (@navbar-os-header-mobile + @project-bar-height-mobile);
    @media(min-width: @screen-sm-min) {
      padding-top: (@navbar-os-header-desktop + @project-bar-height-desktop);
    }
  }
}
.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
  padding-left: 0;
  padding-right: 0;
  position: relative;
  @media(max-width: @screen-xs-max) {
    // Remove left margin for mobile nav. The menu opens over the content.
    margin-left: 0;
  }
  &.collapsed {
    margin-left: 75px;
  }
  .middle-header {
    margin-bottom: @grid-gutter-width / 2;
  }
}
.layout-pf-fixed .tech-preview & {
  // top: @tech-preview-banner-height;
}
.console-os {
  background-color: @body-bg;
  &.tech-preview .top-header {
    height: @navbar-os-header-mobile + @tech-preview-banner-height;
  }
  .chromeless {
    // Prevent chromeless log-viewer from having margin or padding
    .middle-content,
    .middle-header {
      margin:0 !important;
      padding:0 !important;
    }
  }
  .top-header {
    position: relative;
    height: @navbar-os-header-mobile;
  }
  .wrap {
    height: 100%;
    // Makes container extend full height for pages with bg color
    .middle-content {
      > .container {
        height: 100%;
        min-height: calc(100vh ~"-" @navbar-os-header-mobile);
        @media(min-width: @screen-sm-min) {
          min-height: calc(100vh ~"-" @navbar-os-header-desktop);
        }
      }
    }
    &.no-sidebar {
      // .surface-shaded;
      h1 {
        margin: 10px 0 20px;
      }
      .nav-pf-vertical {
        top: @navbar-os-header-mobile;
        .nav-vertical-primary {
          display: none;
        }
        @media(min-width: @screen-sm-min) {
          display: none;
        }
      }
    }
  }
}
.header-toolbar {
  background-color: @panel-light;
  border-bottom: 1px solid @page-header-border-color;
}
.surface-shaded {
  background-color: @panel-shaded;
}

@media (min-width: @screen-sm-min) {
  .console-os {
    &.tech-preview {
      .top-header {
        height: @navbar-os-header-desktop + @tech-preview-banner-height;
      }
      .wrap {
        margin-top: -(@navbar-os-header-desktop + @tech-preview-banner-height); /* top offset height */
        padding-top: @navbar-os-header-desktop + @tech-preview-banner-height; /* top offset height */
      }
    }
    .top-header {
      height: @navbar-os-header-desktop; /* top offset height */
    }
  }
}
