//
// List view
// --------------------------------------------------

.list-group-expanded-section {
  border: 1px solid @table-border-color;
  border-top: 0;
  padding: 15px;
  &.expanded + .list-group-item-expandable,
  + .list-group-item-expandable.expanded {
    border-top: 0;
  }
}

.monitoring-page .list-group-expanded-section {
  .log-fixed-height.empty-state-message,
  .metrics .empty-state-message {
    margin: 10px 0 0;
    padding: 0;
    text-align: left;
    h2 {
      margin-top: 0;
    }
  }
  .metrics .empty-state-message .pficon-error-circle-o {
    // Hide the icon so the message is consistent with logs, which doesn't have an error icon.
    display: none;
  }
}

.list-group-item {
  padding-left: 10px;
  padding-right: 10px;
}

.list-view-pf-checkbox {
  border-right-color: #ddd;
  font-size: 22px;
  margin-bottom: (@grid-gutter-width / 4);
  margin-top: (@grid-gutter-width / 4);
  width: 25px;
  a {
    color: #555;
  }
}

.list-group-item-text, .list-view-pf-additional-info {
  .fa, .pficon {
    font-size: @font-size-base;
    margin-right: 3px;
  }
}

.list-view-pf {
  margin-bottom: 50px;
  h2 + & {
    margin-top: 20px;
  }
  .list-group-item {
    &:first-child {
      border-top-color: #eaeaea;
    }
    &:hover {
      background-color: @list-pf-hover-background-color;
    }
  }
  .list-group-item-expandable {
    cursor: pointer;
    border: 1px solid #eaeaea;
    border-left-color: transparent;
    border-right-color: transparent;
    &.expanded {
      border-color: @table-border-color;
      &, &:hover {
        background-color: @list-pf-header-background-color;
      }
      .list-view-pf-checkbox {
        border-right-color: @table-border-color;
      }
    }
    .list-group-item-heading {
      white-space: normal;
    }
  }
  .list-group-item-heading {
    font-size: @font-size-base;
    small {
      overflow: hidden;
      text-overflow: ellipsis;
      .text-muted();
    }
  }
  .list-group-item-text {
    margin-bottom: 5px;
  }
}

.list-view-pf-additional-info-item {
  display: inline-block;
  text-align: left;
  width: 100%; // IE 11
  image-names {
    display: block; // IE 11
  }
}

.list-view-pf-description {
  flex: 1 0 55%;
}

.list-view-pf-main-info {
  padding-bottom: (@grid-gutter-width / 4);
  padding-top: (@grid-gutter-width / 4);
  @media(max-width: @screen-sm-max) {
    .list-view-pf-body {
      display: block; // IE 11
    }
  }
}


@media (min-width: @screen-md-min) {
  .list-view-pf {
    .list-group-item-heading {
      flex: 1 0 auto;
      margin: 0;
      padding: 0 20px 0 0;
      width: 50%;
    }
    .list-group-item-text {;
      flex: 1 0 auto;
      margin: 0;
      padding: 0 20px 0 0;
      width: 50%;
    }
  }
  .list-view-pf-additional-info {
    width: 40%;
  }
  .list-view-pf-description {
    width: 60%;
  }
}
