.mobile-clients-view {
  .copy-to-clipboard {
    margin-bottom: 25px;
    pre {
      max-height: 350px;
    }
  }
  .create-binding {
    text-align: center;
    .note {
      font-size: 1.3em;
    }
  }  
  .note {
    text-align: center;
  }
}

.overview {
  .icon {
    clear: both;
    color: #888;
    font-size: 2em;
    margin: auto;
  }
  .list-pf-name {
    h3 {
      .logo {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        display: block;
        float: left;
        font-size: 1.6em;
        img {
          width: inherit;
          height: inherit;
        }
      }
    }
  }
}