.mobile-service-instance-list {

  &.note {
    text-align: center;
  }

  .mobile-service-instance-row {
    .icon {
      clear: both;
      color: #888;
      font-size: 2em;
      margin: auto;
    }
    .list-pf-name {
      h3 {
        .logo {
          width: 30px;
          height: 30px;
          margin: 0 10px;
          display: block;
          float: left;
          font-size: 1.6em;
          img {
            width: inherit;
            height: inherit;
          }
        }
      }
    }
  }

}