.mobile-client-builds-list {

  .status-icon {
    font-size: 13px;
    &.Complete {
      color: @build-pipeline-success-color;
    }
    &.Failed{
      color: @build-pipeline-failed-color;
    }
  }

  .build-summary {
    padding-left: 20px;
  }

  .client-build-history {
    margin-top: 10px;

    .build-history-list {
      .mobile-client-build-history-item {
        border: 1px solid @build-pipeline-border-color;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: -1px;
        padding: 0;

        .status-panel {
          align-items: center;
          display: flex;
          padding: 0;

          .build-summary {
            border: none;
          }

          .state {
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            .col-sm-12 {
              padding-left: 10px;
            }

            .info {
              display: inline;
              padding-right: 20px;

              &.logs {
                padding-right: 60px;
              }
            }
          }
        }

        .download-trigger {
          align-items: center;
          display: flex;
          justify-content: flex-end;
          padding: 13px 20px 13px 0;

          button {
            color: @text-color;
            width: 91px;
          }
        }
      }
    }

    .mobile-chevron {
      margin-bottom: 10px;

      a {
        text-decoration: none;
      }
    }
  }

  .component-label {
    padding-top: 15px;
  }
  .expanded-section {
    width: 100%;
  }
  .icon-header {
    font-size:19px!important;
  }
  .latest-build {
    display: inline-block;
    width: 100%;
    border: 1px solid @build-pipeline-border-color;
  }


  .latest-mobile-build {
    display: flex;

    .latest-build-pipeline {
      padding: 0px;

      .build-summary, .build-pipeline {
        border: none;
      }
      .pipeline-stage {
        @media (min-width: @screen-lg-min) {
          width: 25%;
        }
      }
    }
    .latest-download-trigger {
      align-items: center;
      display: flex;
      justify-content: flex-end;
    }
  }

  .list-pf-content {
    .list-row-longname {
      display: inline-block;
      height: 26px;
      font-size: 16px;
      line-height: 26px;
    }
  }

  .mobile-client-download-url {
    margin-top: -1px;
    padding: 0px;

    canvas {
      height: 180px;
    }
    p {
      font-weight: bold;
    }
    span {
      font-weight: bold;
    }
    .spinner {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
  .no-builds-note {
    text-align: center;
  }
  .qr-code-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &.note {
    text-align: center;
  }
}