@overview-border-light-gray: #ededed;
@overview-border-gray: #d6d6d6;
@overview-font-weight: 300;
@shield-bgcolor:       #ebebeb;
@shield-border-color:  @overview-border-gray;
@shield-width:         36px;
@shield-width-lg:      50px;
@service-group-vertical-margin: 6px;
@service-group-horizontal-margin: 8px;
@two-column-min-width: 750px;
@two-column-max-width: 749px;
@tile-min-height:      256px;
@tile-min-height-lg:   352px;


.overview {
  font-weight: @overview-font-weight;
  .middle { // hack to quickly, safely fix bugs where all of the overview page isn't gray; TODO: fix using .surface-shaded
    background-color: @panel-shaded;
  }
  h2 {
    line-height: 1.4;
  }
  .link-service-button {
    font-size: 13px;
  }
  .overview-timestamp {
    @media (max-width: @screen-xs-max) {
      display: block;
    }
  }
  .container-fluid {
    margin-top: 20px;
    @media (min-width: @screen-md-min) {
      margin-top: 30px;
    }
  }
  /* Can remove some of these styles when we dump the old overview and its old build-block styles */
  .builds-block {
    background-color: #fff;
    margin-left: 0;
    border-right: 1px solid @overview-border-gray;

    .builds {
      overflow: inherit;

      .build {
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 14px;
        border-radius: 0;

        &:first-child {
          padding-top: 5px;
        }

        &:last-child {
          border-bottom: 1px solid @overview-border-gray;
          padding-bottom: 5px;
        }
      }
    }
  }
  .loading-message {
    font-weight: normal;
    margin-top: 5px;
  }
  .service-group-with-route-row .service-group,
  .standalone-service-row .service-group {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 3px;
      position: absolute;
      background: @color-pf-light-blue-400;
      left: 0;
      z-index: 1;
    }
    .alert-wrapper {
      width: 100%;
      // offset to left margin so alert right edge aligns
      padding-right: @service-group-horizontal-margin;
      .alert {
        width: 100%;
        border-color: @overview-border-gray;
        margin-bottom: 0;
        margin-left: @service-group-horizontal-margin;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        .pficon {
          box-shadow: none;
          //box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        }
        .close {
          color: #8b8d8f;
        }
      }
    }
  }
  .service-group-with-route-row .service-group .alert-wrapper .alert {
    margin-top: @service-group-vertical-margin;
  }
  .standalone-service-row .service-group .alert-wrapper .alert {
    margin-bottom: @service-group-vertical-margin;
  }
  overview-set,
  overview-pod,
  overview-deployment-config,
  overview-deployment {
    .flex-display(@display: flex);
    width: 100%;
  }
  .service-group-header,
  .overview-tile {
    border: 1px solid @overview-border-gray;
  }
  .service-group-header,
  .overview-tile,
  .no-deployments-block .service-title {
    background-color: #ffffff;
    border-left-width: 0;
  }
  .no-deployments-block .service-title {
    border-bottom: 1px solid @overview-border-gray;
  }
  .service-group-header,
  .overview-tile,
  .standalone-service .builds-block,
  .service-group-triggers {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  .standalone-service {
    width: 100%;
    display: flex;
    position: relative;
    overview-service {
      .flex(@columns: 0 0 100%);
    }
    .builds-block .builds .build:last-child {
      margin-bottom: @service-group-vertical-margin;
    }
    .service-group-body .overview-services {
      overview-service {
        max-width: none;
      }
      .overview-tile {
        margin-top: 0;
      }
    }
    overview-service-group {
      width: 100%;
    }
    .service-group > div {
      .flex-display(@display: flex);
      .flex-direction(@direction: column);
      height: 100%;
    }
    .service-group-body {
      margin-top: 0;
      .overview-services .primary-service {
        .deployment-block {
          .flex-display(@display: flex);
        }
      }
    }
    .alert-wrapper .alert {
      margin-bottom: @service-group-vertical-margin;
      margin-top: 0;
    }
    .service-group-body {
      .flex-display(@display: flex);
      .flex-direction(@direction: column);
      width: 100%;
      .overview-services {
        .flex-direction(@direction: row);
        @media (min-width: @screen-sm-min) {
          min-height: @tile-min-height-lg;
        }
        @media (min-width: @screen-md-min) {
          min-height: @tile-min-height;
        }
        overview-service,.no-child-services-message {
          max-width: none;
          margin-top: 0;
        }
        .no-child-services-block {
          display: none;
        }
      }
    }
  }
  .unserviced-row {
    .justify-content(@justify: space-between);
    .no-service {
      .flex-display(@display: flex);
      width: 100%;
      margin-bottom: 20px;
      position: relative;
      &:before {
        content: "";
        display: block;
        height: 100%;
        width: 3px;
        position: absolute;
        background: @color-pf-light-blue-400;
        left: 0;
        top: 0;
        z-index: 1;
      }
      @media (min-width: @two-column-min-width) {
        width: 50%;
        &:nth-child(odd) {
          padding-right: 3px;
        }
        &:nth-child(even) {
          padding-left: 3px;
          &:before {
            left: 3px;
          }
        }
      }
      .overview-tile-wrapper {
        width: 100%;
      }
    }
  }
  .service-group-header {
    cursor: pointer;
    .flex-direction(@direction: column);
    .flex-display(@display: flex);
    .justify-content(@justify: space-between);
    padding: 7px;
    .route-title {
      font-weight: @overview-font-weight;
      line-height: 1.4;
      // Margin at mobile if there is an app name. The route is stacked below the app name.
      margin: 0 0 0 6px;
      &:only-child {
        // Margin without app name.
        margin: 0;
      }
      .fa-external-link {
        margin-left: 2px;
        margin-right: 6px;
      }
      @media (min-width: @screen-sm-min) {
        // At wider screen widths, always 0 margin.
        margin: 0;
        .fa-external-link {
          margin-left: 0;
          margin-right: 5px;
        }
      }
    }
    .app-name {
      .truncate();
      font-weight: @overview-font-weight;
      margin: 0;
      text-transform: uppercase;
      min-width: 130px; // prevent name from complete truncation at mobile
    }
    .other-routes-msg {
      display: block;
      line-height: 1.1;
      margin: 3px 25px;
    }
    .create-route-link {
      .nowrap();
      @media (max-width: @screen-sm-max) {
        margin-left: 30px;
      }
    }
    @media (min-width: @screen-sm-min) {
      .flex-direction(@direction: row);
      align-items: center;
      .other-routes-msg {
        display: inline-block;
        margin: 0;
      }
      &.has-app-label .other-routes-msg {
        // Display the message below the route when there is an app label.
        display: block;
        .text-right();
      }
    }
  }
  .service-group-body {
    border-top-width: 0;
    margin-top: @service-group-vertical-margin;
    padding: 0;
    .overview-services {
      .justify-content(@justify: space-between);
      .flex-display(@display: flex);
      .flex-wrap(@wrap: wrap);
      .flex-direction(@direction: column);
      overview-service {
        &:nth-child(n+3) {
          margin-top: @service-group-vertical-margin;
        }
        @media (max-width: @two-column-max-width) {
          &:nth-child(n+2) {
            margin-top: @service-group-vertical-margin;
          }
        }
      }
      .deployment-block {
        .flex-display(@display: flex);
        .flex(@columns: 1 0 0%);
        height: 100%;
        @media (min-width: @screen-sm-min) {
          min-height: @tile-min-height-lg;
        }
        @media (min-width: @screen-md-min) {
          min-height: @tile-min-height;
        }
        &.service-multiple-targets, &.service-multiple-targets .overview-tile-wrapper {
          display: block;
        }
      }
      .overview-tile-wrapper {
        .flex-display(@display: flex);
        .flex(@columns: 1 0 0%);
        + .overview-tile-wrapper {
          margin-top: @service-group-vertical-margin;
        }
      }
      .overview-tile {
        .flex(@columns: 1 0 0%);
        position: relative;
      }
    }
  }
  // Set 2 column widths and padding
  @media (min-width: @two-column-min-width) {
    .service-group-with-route-row .overview-services {
      .flex-direction(@direction: row);
      overview-service {
        width: 50%;

        &:nth-child(even) {
          padding-left: 3px;
        }
        &:nth-child(odd) {
          padding-right: 3px;
        }
      }
    }
    @media (min-width: @two-column-min-width) {
      .standalone-service-row .standalone-service {
        width: 50%;
        &:nth-child(odd) {
          padding-right: 3px;
        }
        &:nth-child(even) {
          padding-left: 3px;
        }
      }
    }
  }
  .component-label {
    .text-muted();
    font-size: @component-label;
    padding: 0 10px 4px 0;
    text-transform: uppercase;
  }
  .build-pipeline {
    // Avoid double borders inside the panel.
    margin-top: -1px;
  }
  .service-title {
    .text-muted();
    .align-items(@align: center);
    border-bottom: 1px solid @overview-border-gray;
    .justify-content(@justify: space-between);
    padding: 5px 10px;
    .service-name {
      .h3();
      font-weight: @overview-font-weight;
      margin-top: 3px;
      margin-bottom: 3px;
      .pficon {
        margin-right: 7px;
        vertical-align: -2px;
      }
    }
  }
  .overview-tile {
    border-left: 1px solid @overview-border-gray;
    width: 100%;
    .overview-tile-header {
      .text-muted();
      position: relative;
    }
    .rc-header {
      .text-muted();
      padding: 5px 10px;
      // Prevent the content from overlapping the deployment shield
      margin-right: @shield-width-lg;
    }
    .overview-tile-body {
      .flex-direction(@direction: column);
      padding: 10px;
      position: relative;
      .deployment-donut {
        .align-items(@align: center);
        min-width: 0;
      }
      @media (min-width: @screen-md-min) {
        .flex-direction(@direction: row);
        .justify-content(@justify: space-between);
      }
    }
    &.deployment-in-progress {
      // Prevent the metrics from being shown outside tile as they slide out.
      // Only use this style when a deployment is in progress so that chart
      // tooltips aren't clipped.
      overflow: hidden;
    }
    .overview-donut, .overview-metrics {
      .align-items(@align: center);
    }
    .overview-metrics {
      .metrics-sparkline {
        @media (min-width: @screen-lg-min) {
          width: 60%;
        }
      }
      @media (max-width: @screen-sm-max) {
        margin: 0 auto;
        .text-center();
      }
    }
    @media (max-width: @screen-sm-max) {
      .overview-tile-details {
        .flex-order(@order: 5);
        pod-template {
          margin: 20px auto 5px;
        }
      }
    }
    .overview-donut {
      .flex-order(@order: 2);
      &.latest {
        .flex-order(@order: 4);
      }
    }
    .overview-donut-connector {
      .align-items(@align: center);
      .flex-order(@order: 3);
      .justify-content(@justify: center);
      line-height: 1;
      padding-bottom: 10px;
      position: relative;
      text-align: center;
      &.contains-deployment-status-msg {
        .flex-order(@order: 5);
      }
      .deployment-connector-arrow {
        color: #ccc;
        font-size: 200%;
        &:before {
          content: '\2193';
          padding-right: 23px; // align down arrow with donuts
        }
      }
    }
    .overview-unsuccessful-state {
      text-align: center;
      & .text-danger {
        color: @brand-danger;
      }
    }
    .deployment-status-msg {
      .text-muted();
      line-height: normal;
      margin-bottom: 10px;
    }

    @keyframes simpleSlideOut {
      0% {
        margin-left: 0%;
        opacity: 1;
      }
      100% {
        margin-left: -50%;
        opacity: 0;
      }
    }
    @keyframes simpleSlideIn {
      0% {
        margin-right: -50%;
      }
      100% {
        margin-right: 0%;
      }
    }

    @media (min-width: @screen-md-min) {
      .overview-tile-details {
        padding-left: 30px;
        width: 50%;
        &.ng-leave {
          animation: simpleSlideOut 1s ease forwards;
        }
      }
      .overview-donut {
        min-height: 150px;
        width: 50%;
        &.ng-enter {
          animation: simpleSlideIn 1s ease forwards;
        }
      }
      .overview-donut-connector {
        padding-bottom: 0;
        &.contains-deployment-status-msg {
          .flex-order(@order: 3);
          width: 50%;
        }
        .deployment-connector-arrow {
          font-size: 300%;
          left: -20px;
          line-height: 0;
          position: absolute;
          top: 10%; // position arrow higher at narrow width
          @media (min-width: @screen-lg-min) {
            top: 47%;
          }
          &:before {
            content: '\2192';
            padding-right: 0;
          }
        }
      }
      .overview-unsuccessful-state {
        .flex(@columns: 1 1 0%);
        .flex-order(@order: 3);
        .align-items(@align: center);
        .justify-content(@justify: center);
        line-height: 1;
      }
      .deployment-status-msg {
        font-size: 16px;
        .deployment-log-link {
          font-size: 14px;
        }
      }
    }
    .overview-tile {
      @media (min-width: @screen-sm-min) {
        max-width: 50%;
      }
    }
  }
  .no-deployments-block {
    .flex-display(@display: flex);
    height: 100%;
    width: 100%;
  }
  .no-child-services-block {
    padding-left: 3px;
    width: 50%;
  }
  .no-child-services-message, .no-deployments-message {
    .text-center();
    .text-muted();
    .well();
    margin-bottom: 0;
    padding: 0; // negate .well default padding to maintain equal widths
    h2 {
      &:first-child {
        margin-top: 15px;
      }
      @media (min-width: @two-column-min-width) {
        margin-top: 0;
      }
    }
    @media (min-width: @screen-sm-min) {
      // Content can overflow the well in Safari without a min-height.
      min-height: @tile-min-height;
    }
  }
  .no-deployments-message {
    .flex(@columns: 1 0 0%); // the parent overview-service is where width with flex-basis is set.
  }
  .no-child-services-message {
    display: none;
    // Account for missing service header height so messages align.
    padding-top: 35px;
    @media (min-width: @two-column-min-width) {
      .flex-display(@display: flex);
      .flex(@columns: 1 0 0%);
      .flex-direction(@direction: column);
    }
  }
  .empty-tile {
    padding: 50px;
  }
  .empty-dc {
    .text-center();
    .text-muted();
    padding: 0 50px 70px;
  }
  @media (min-width: @screen-md-min) {
    .overview-services.single-alternate-service {
      .primary-service {
        .overview-tile, .no-deployments-block {
          border-right: 0;
          .service-title {
            padding-right: 0;
          }
        }
      }
      // Remove the gap between the tiles.
      overview-service:nth-child(odd) {
        padding-right: 0;
      }
      overview-service:nth-child(even) {
        padding-left: 0;
      }
      .alternate-service {
        .overview-tile {
          // Prevent the left box-shadow from appearing over the primary service tile.
          box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.1);
        }
        .overview-tile, .no-deployments-block {
          .service-title {
            padding-left: 0;
          }
        }
        .service-metadata {
          order: -1;
          .traffic-label {
            display: none;
          }
          .progress {
            margin-left: 0;
            .progress-bar {
              background-color: @color-pf-blue-500;
            }
          }
        }
      }
    }
  }
  .overview-tile, .no-deployments-block {
    .traffic-label {
      display: inline-block;
    }
    .progress {
      background-color: inherit;
      border: 0;
      box-shadow: none;
      display: inline-block;
      margin: 0 0 0 5px;
      // Make sure the bar is wide enough to show the label for small percentages like 2%.
      min-width: 2em;
      vertical-align: -3px;
      .progress-bar {
        width: 100%;
      }
      @media (min-width: @screen-lg-min) {
        width: 250px;
      }
    }
  }
  .standalone-service-row {
    .justify-content(@justify: space-between);
  }
  .standalone-service .no-deployments-block {
    margin-left: 0;
    // Min heights matching .overview-services
    @media (min-width: @screen-sm-min) {
      min-height: @tile-min-height-lg;
    }
    @media (min-width: @screen-md-min) {
      min-height: @tile-min-height;
    }
    .no-deployments-message {
      margin-top: 0;
    }
  }
  .hash {
    font-size: 10px;
    margin-left: 3px;
  }
  .shield {
    background: @shield-bgcolor;
    border: 1px solid @shield-border-color;
    border-bottom: 0;
    width: @shield-width;
    position: absolute;
    .align-items(@align: center);
    right: 10px;
    top: -1px;
    z-index: 9;
    .shield-number {
      .flex-display(@display: flex);
      font-size: 11px;
      font-weight: 500;
      height: 30px;
      position: relative;
      width: @shield-width;
      .align-items(@align: center);
      .justify-content(@justify: center);
    }
    .shield-number:before {
      border-left: (@shield-width / 2) solid transparent;
      border-right: (@shield-width / 2) solid transparent;
      border-top: 10px solid @shield-border-color;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      bottom: -10px;
      width: 0;
    }
    .shield-number:after {
      border-left: (@shield-width / 2) solid transparent;
      border-right: (@shield-width / 2) solid transparent;
      border-top: 10px solid @shield-bgcolor;
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      bottom: -9px;
      width: 0;
    }
    // Use if deployments > 999
    &.shield-lg {
      width: @shield-width-lg;
      .shield-number {width: @shield-width-lg;}
      .shield-number:before, .shield-number:after {
        border-left: (@shield-width-lg / 2) solid transparent;
        border-right: (@shield-width-lg / 2) solid transparent;
      }
    }
  }
}
