// -------------
// Projects page
// -------------

.project-actions {
  margin: 16px 0 0;
  @media (min-width: @screen-md-min) {
    margin-top: 0;
  }
  .project-action-item {
    margin-left: 10px;
  }
}

.project-additional-info.list-view-pf-additional-info {
  .align-items(@align: flex-start);
  @media (min-width: @screen-xs-min) {
    .align-items(@align: center);
  }
}

.project-age {
  .align-items(@align: flex-start);
  .flex(@columns: 1 1 auto);
  .flex-display(@display: flex);
  @media (min-width: @screen-xs-min) {
    .align-items(@align: center);
    width: 45%;
  }
  .h1 {
    margin: 0;
    text-align: center;
  }
  .h2 {
    margin-bottom: 0;
    margin-top: 10px;
  }
  .h3 {
    text-align: left;
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 0;
  }
}

.project-background {
  background-color: #fff;
  h1 {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.project-bar {
  .form-control {
    .flex(@columns: 1);
    padding-left: 8px;
    @media (min-width: @screen-sm-min) {
      .flex(@columns: 0);
      min-width: 200px;
    }
  }
  .project-sort .form-group {
    margin: 0;
  }
  .vertical-divider {
    border-left: 1px solid #bbb;
    display: inline-block;
    height: 25px;
    margin: 0 7px;
    vertical-align: middle;
    width: 1px;
  }
}

.projects-content {
  padding-left: 0;
  padding-right: 0;
}

.project-description.list-group-item-text {
  .flex(@columns: 1 1 auto);
  margin-bottom: 0px;
  width: 100%; // IE 10
  @media (min-width: @screen-xs-min) {
    margin-bottom: 0;
    width: 55%;
  }
}

.project-info.list-group-item {
  border-bottom: 0;
  padding: 10px 20px;
}

.project-name-item.list-group-item-heading {
  @media (min-width: @screen-md-min) {
    white-space: normal;
  }
}

.project-names.list-view-pf-description {
  .flex(@columns: 1 1 auto);
  width: 100%; // IE 10
  @media (min-width: @screen-md-min) {
    width: 50%;
  }
}

.project-summary .h1 {
  margin-top: 0;
}

.projects-list {
  border-top: 0;
  margin-bottom: 20px;
  .project-info:hover {
    background-color: #bee1f4;
  }
}
