//
//  Vertical nav (Sidebar left)
//  -----------------------------------------------

@media(max-width: @screen-xs-max) {
  .layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical {
    // Remove left margin for mobile nav. The menu opens over the content.
    margin-left: 0;
  }
}

.nav-pf-vertical {
  background-color: @nav-pf-vertical-bg-color;
  top: (@project-bar-height-mobile + @navbar-os-header-mobile - 1px); // subtract for 1px border
  z-index: 990;
  @media(min-width: @screen-sm-min) {
    top: (@project-bar-height-desktop + @navbar-os-header-desktop);
  }
  .list-group-item {
    border-color: @nav-pf-vertical-border-color;
    &:after {
      background: @nav-pf-vertical-border-inset-color;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 0px;
      width: 100%;
    }
    &:first-child {
      border-top: inherit;
    }
    &.active:hover {
      border-top-color: @nav-pf-vertical-border-inset-color;
    }
    &.active > a,
    &:hover > a {
      background-color: @nav-pf-vertical-secondary-bg-color;
      font-weight: 300;
    }
    > a,
    > a:focus {
      font-size: @font-size-base;
      font-weight: 300;
      text-decoration: none;
      @media(max-width: @screen-xs-max) {
        height: auto;
        padding: 10px 15px;

      }

      // remove margin from icon that causes shifting when toggled
      .fa, .pficon {
        font-size: (@font-size-base + 2);
        margin-right: 0;
        @media(min-width: @screen-sm-min) {
          font-size: (@font-size-base + 5);
        }
      }
      // add margin between icon and text and align verticaly
      .list-group-item-value {
        line-height: 26px;
        margin-left: 10px;
      }
    }
  }
  &.collapsed {
    .list-group-item.secondary-nav-item-pf:hover,
    .list-group-item.secondary-nav-item-pf.active {
      > a:after {
        right: 12px !important; // prevent arrow moving onHover
      }
    }
    .nav-pf-secondary-nav {
      left: (@nav-pf-vertical-collapsed-width - 1); // adjust for 1px border
    }
  }
  .nav-pf-secondary-nav {
    background: @nav-pf-vertical-secondary-bg-color;
    border-left: 1px solid @nav-pf-vertical-border-color;
    border-right: 1px solid @nav-pf-vertical-border-color;
    top: (@project-bar-height-mobile + @navbar-os-header-mobile - 1); // adjust for 1px border
    @media(min-width: @screen-sm-min) {
      top: (@project-bar-height-desktop + @navbar-os-header-desktop);
    }
    .list-group-item {
      &:after {
        display: none;
      }
      &.active > a {
        background: @nav-pf-vertical-secondary-active-bg-color;
        &:hover {
          background: @nav-pf-vertical-secondary-active-bg-color;
        }
      }
      > a {
        background: transparent;
        &:hover {
          text-decoration: none;
          background: @nav-pf-vertical-secondary-hover-color;
        }
      }
    }
  }
  .list-group-item.secondary-nav-item-pf {
    // right arrow adjustments
    > a:after {
      font-size: 14px;
      top: initial;
      padding: 0;
      line-height: inherit;
    }
  }
  .nav-item-pf-header {
    font-size: (@font-size-base + 1);
  }
  .nav-pf-secondary-nav .list-group-item > a {
    padding: 4px 0 2px 0;
    margin-left: 20px;
  }
}
