<!-- Always show `<div class="list-pf-actions">` so everything lines up even if the kebab is hidden.  -->
<div class="list-pf-actions">
  <div ng-if="row.canIDoAny()">
    <div ng-switch="row.apiObject.kind">
      <div ng-switch-when="DeploymentConfig">
        <div uib-dropdown>
          <a href=""
          uib-dropdown-toggle
          class="actions-dropdown-kebab"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><span class="sr-only" translate>Actions</span></a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li ng-if="row.showStartPipelineAction()" role="menuitem">
              <a href="" ng-click="row.startBuild(row.pipelines[0])" translate>Start Pipeline</a>
            </li>
            <li ng-if="row.showStartBuildAction()" role="menuitem">
              <a href="" ng-click="row.startBuild(row.buildConfigs[0])" translate>Start Build</a>
            </li>
            <li ng-if="'deploymentconfigs/instantiate' | canI : 'create'" role="menuitem">
              <a href="" ng-if="row.canDeploy()" ng-click="row.startDeployment()" translate>Deploy</a>
              <a href="" ng-if="!(row.canDeploy())" class="disabled-link" aria-disabled="true" translate>
                Deploy <span ng-if="row.isPaused()">(Paused)</span>
              </a>
            </li>
            <li ng-if="'deploymentconfigs' | canI : 'update'" role="menuitem">
              <a ng-href="{{row.apiObject | editResourceURL}}" translate>Edit</a>
            </li>
            <li ng-if="('pod_presets' | enableTechPreviewFeature)
                      && row.state.bindableServiceInstances.length
                      && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create')" role="menuitem">
              <a href="" ng-click="row.showOverlayPanel('bindService', {target: row.apiObject})" translate>Create Binding</a>
            </li>
            <li ng-if="('pod_presets' | enableTechPreviewFeature)
                      && row.state.deleteableBindingsByApplicationUID[row.apiObject.metadata.uid].length
                      && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'delete')" role="menuitem">
              <a href="" ng-click="row.showOverlayPanel('unbindService', {target: row.apiObject})" translate>Delete Binding</a>
            </li>
            <li ng-if="row.current && ('deploymentconfigs/log' | canI : 'get')" role="menuitem">
              <a ng-href="{{row.current | navigateResourceURL}}?tab=logs" translate>View Logs</a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-switch-when="Pod">
        <div uib-dropdown>
          <a href=""
          uib-dropdown-toggle
          class="actions-dropdown-kebab"><i class="fa fa-ellipsis-v"></i><span class="sr-only" translate>Actions</span></a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-if="'pods' | canI : 'update'">
              <a ng-href="{{row.apiObject | editYamlURL}}" translate>Edit YAML</a>
            </li>
            <li role="menuitem" ng-if="('pods/log' | canI : 'get')">
              <a ng-href="{{row.apiObject | navigateResourceURL}}?tab=logs" translate>View Logs</a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-switch-default>
        <div uib-dropdown>
          <a href=""
          uib-dropdown-toggle
          class="actions-dropdown-kebab"><i class="fa fa-ellipsis-v"></i><span class="sr-only" translate>Actions</span></a>
          <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
            <li role="menuitem" ng-if="row.rgv | canI : 'update'">
              <a ng-href="{{row.apiObject | editYamlURL}}" translate>Edit YAML</a>
            </li>
            <li ng-if="('pod_presets' | enableTechPreviewFeature)
                      && row.state.bindableServiceInstances.length
                      && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create')" role="menuitem">
              <a href="" ng-click="row.showOverlayPanel('bindService', {target: row.apiObject})" translate>Create Binding</a>
            </li>
            <li ng-if="('pod_presets' | enableTechPreviewFeature)
                      && row.state.deleteableBindingsByApplicationUID[row.apiObject.metadata.uid].length
                      && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'delete')" role="menuitem">
              <a href="" ng-click="row.showOverlayPanel('unbindService', {target: row.apiObject})" translate>Delete Binding</a>
            </li>
            <li ng-if="(pod = row.firstPod(row.current)) && ('pods/log' | canI : 'get')" role="menuitem">
              <a ng-href="{{pod | navigateResourceURL}}?tab=logs" translate>View Logs</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div><!-- /list-pf-actions-->
