<div class="list-pf-item" ng-class="{
  'active': row.expanded,
  'deployment-in-progress': row.previous
}">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">
    <div class="list-pf-chevron">
      <div ng-include src=" 'views/overview/_list-row-chevron.html' " class="list-pf-content"></div>
    </div>
    <div ng-include src=" 'views/overview/_list-row-content.html' " class="list-pf-content"></div>
    <div ng-include src=" 'views/overview/_list-row-actions.html' "></div>
  </div>
  <div class="list-pf-expansion collapse" ng-if="row.expanded" ng-class="{ in: row.expanded }">
    <div ng-include src=" 'views/overview/_list-row-expanded.html' "></div>
  </div>
</div>
<overlay-panel show-panel="row.overlay.panelVisible" handle-close="row.closeOverlayPanel">
  <div ng-if="row.overlay.panelName === 'bindService'">
    <bind-service target="row.overlay.state.target"
                  project="row.state.project"
                  on-close="row.closeOverlayPanel"></bind-service>
  </div>
  <div ng-if="row.overlay.panelName === 'unbindService'">
    <unbind-service
      target="row.overlay.state.target"
      bindings="row.state.deleteableBindingsByApplicationUID[row.overlay.state.target.metadata.uid]"
      on-close="row.closeOverlayPanel"></unbind-service>
  </div>
</overlay-panel>
