<div class="list-pf-item mobile-row" ng-class="{ active: row.expanded }">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">
    <div class="list-pf-chevron">
      <div ng-include src=" 'views/overview/_list-row-chevron.html' " class="list-pf-content"></div>
    </div>
    <div class="list-pf-content">
      <div class="list-pf-name">
        <h3>
          <div class="list-row-longname"><span>{{row.clientType}}</span></div>
          <a ng-href="{{row.apiObject | navigateResourceURL}}">
            <span ng-bind-html="row.apiObject.spec.name | highlightKeywords : row.state.filterKeywords"></span>
          </a>
          <div class="list-row-longname">{{row.bundleDisplay}}</div>
        </h3>
      </div>
    </div>
    <span class="pficon-info icon" ng-if="!row.alertDismissed && (row.servicesNotBoundCount > 0) && !row.expanded"></span>
    <div class="list-pf-actions">
      <div class="dropdown-kebab-pf" uib-dropdown ng-if="row.actionsDropdownVisible()">
        <button uib-dropdown-toggle class="btn btn-link dropdown-toggle">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          <span class="sr-only">Actions</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <li ng-if="row.mobileclientVersion | canI : 'delete'">
            <delete-link
              kind="MobileClient"
              group="mobile.k8s.io"
              stay-on-current-page="true"
              resource-name="{{row.apiObject.metadata.name}}"
              project-name="{{row.projectName}}">
            </delete-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="list-pf-expansion collapse" ng-if="row.expanded" ng-class="{ in: row.expanded }">
    <div class="list-pf-container">
      <div class="expanded-section" ng-if="!(row.services | size)">
        <div class="empty-state-message text-center">
          <p>Add a mobile service to your project. Or connect to external service.</p>
          <div class="empty-state-message-main-action">
            <button class="btn btn-primary btn-lg" ng-click="row.browseCatalog()">
              Browse Mobile Services
            </button>
          </div>
        </div>
      </div>
      <div class="expanded-section" ng-if="(row.services | size)">
        <div class="row">
          <div ng-if="(row.services | size)" class="col-md-12">
            <div ng-if="!row.alertDismissed && (row.servicesNotBoundCount > 0)" class="alert alert-info alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="row.alertDismissed = true">
                <span class="pficon pficon-close"></span>
              </button>
              <span class="pficon pficon-info"></span>
              {{row.servicesNotBoundCount}} mobile services are not bound to this client.
              <a href="" ng-href="{{ row.navigateToMobileTab('mobileServices') }}">Bind them to use with this client.</a>
            </div>
          </div>
          <div ng-if="(row.services | size)" class="col-md-6">
            <div>
              <div class="component-label section-label">Mobile Services</div>
              <div class="services-chart">
                <pf-donut-chart config="row.config" data="row.data" chart-height="row.chartHeight"></pf-donut-chart>
              </div>
              <a href="" ng-href="{{ row.navigateToMobileTab('mobileServices') }}">View All Mobile Services</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="component-label section-label">Client Info</div>
            <mobile-client-config mobile-client="row.apiObject"></mobile-client-config>
          </div>
        </div>
        <div ng-if="(row.builds | size)">
          <div class="component-label section-label">Mobile Builds</div>
          <div ng-repeat="build in (row.builds | limitTo: 5) track by (build | uid)" class="mobile-builds">
            <div class="row">
              <div class="col-md-6">
                <h3>
                  <a ng-href="{{row.navigateToMobileTab('builds', (build | buildConfigForBuild))}}">{{build | buildConfigForBuild}}</a>
                </h3>
              </div>
              <div class="col-md-6">
                <span class="status-icon" ng-class="build.status.phase">
                  <span ng-switch="build.status.phase" class="hide-ng-leave">
                    <span ng-switch-when="Complete" aria-hidden="true">
                      <i class="fa fa-check-circle fa-fw" aria-hidden="true"></i>
                    </span>
                    <span ng-switch-when="Failed" aria-hidden="true">
                      <i class="fa fa-times-circle fa-fw" aria-hidden="true"></i>
                    </span>
                    <span ng-switch-default>
                      <status-icon status="build.status.phase"></status-icon>
                    </span>
                  </span>
                </span>
                <a ng-href="{{build | navigateResourceURL}}">Build #{{build | annotation : 'buildNumber'}}</a>
                <span am-time-ago="build.metadata.creationTimestamp" class="build-timestamp"></span>
              </div>
            </div>
          </div>
          <a href="" ng-href="{{ row.navigateToMobileTab('builds') }}">View All Mobile Builds</a>
        </div>
        <div ng-if="loading">
          Loading...
        </div>
      </div>
    </div>
  </div>
</div>
