<div ng-if="notification.byType.error" class="notification-icon-count animate-if">
  <span
    dynamic-content="{{notification.byType.error}}"
    data-toggle="tooltip"
    data-trigger="hover">
    <span
      class="pficon pficon-error-circle-o"
      aria-hidden="true"></span>
    {{notification.countByType.error}}
    <span ng-if="notification.countByType.error === 1">
      Error
    </span>
    <span ng-if="notification.countByType.error !== 1">
      Errors
    </span>
  </span>
</div>
<div ng-if="notification.byType.warning" class="notification-icon-count animate-if">
  <span
    dynamic-content="{{notification.byType.warning}}"
    data-toggle="tooltip"
    data-trigger="hover">
    <span
      class="pficon pficon-warning-triangle-o"
      aria-hidden="true"></span>
    {{notification.countByType.warning}}
    <span ng-if="notification.countByType.warning === 1">
      Warning
    </span>
    <span ng-if="notification.countByType.warning !== 1">
      Warnings
    </span>
  </span>
</div>
<div ng-if="notification.byType.info" class="notification-icon-count animate-if">
  <span
    dynamic-content="{{notification.byType.info}}"
    data-toggle="tooltip"
    data-trigger="hover">
    <span
      class="pficon pficon-info"
      aria-hidden="true"></span>
    {{notification.countByType.info}}
    <span ng-if="notification.countByType.info === 1">
      Message
    </span>
    <span ng-if="notification.countByType.info !== 1">
      Messages
    </span>
  </span>
</div>
