<div class="overview-tile" ng-if="pod.kind === 'Pod'">
  <ng-include src="'views/overview/_service-header.html'"></ng-include>
  <div class="rc-header"> <!-- TODO may want different treatment for a pod-name? -->
    <div>
      Pod
      <a ng-href="{{pod | navigateResourceURL}}">{{pod.metadata.name}}</a>
      <small class="overview-timestamp">
        <span class="hidden-xs">&ndash;</span>
        <span am-time-ago="pod.metadata.creationTimestamp"></span>
      </small>
    </div>
    <div class="small">
      <image-names ng-if="showMetrics" pod-template="pod" pods="[pod]"></image-names>
    </div>
  </div>
  <div row class="overview-tile-body">
    <div column class="overview-donut">
      <pod-donut
          pods="[pod]"
          class="clickable"
          ng-click="viewPod()">
      </pod-donut>
      <!-- Add a link for screen readers. -->
      <a href=""
         class="sr-only"
         ng-click="viewPod()"
         role="button">
         View pod
      </a>
    </div>
    <div column class="overview-tile-details">
      <deployment-metrics
        ng-if="showMetrics && !collapse"
        pods="[pod]"
        containers="pod.spec.containers"
        profile="compact"
        class="overview-metrics">
      </deployment-metrics>
      <pod-template ng-if="!showMetrics" pod-template="pod"></pod-template>
    </div>
  </div>
</div>
