<div class="deployment-tile" ng-if="deployment.kind === 'ReplicationController'">
  <ng-include src="'views/overview/_service-header.html'"></ng-include>
  <div class="deployment-header">
    <div class="rc-header">
      <div>
        Replication Controller
        <a ng-href="{{deployment | navigateResourceURL}}">{{deployment.metadata.name}}</a>
        <small class="overview-timestamp">
          <span class="hidden-xs">&ndash;</span>
          <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp>
        </small>
      </div>
      <div class="small truncate">
        <image-names
            ng-if="showMetrics"
            pod-template="deployment.spec.template"
            pods="podsByDeployment[deployment.metadata.name]">
        </image-names>
      </div>
    </div>
  </div>
  <div row class="deployment-body">
    <!-- all visible deployments -->
    <div column class="overview-donut" ng-class="{ latest: isDeploymentLatest(deployment) }">
      <deployment-donut
          rc="deployment"
          deployment-config="deploymentConfigs[dcName]"
          pods="podsByDeployment[deployment.metadata.name]"
          hpa="getHPA(deployment.metadata.name, dcName)"
          limit-ranges="limitRanges"
          scalable="isScalableDeployment(deployment)"
          alerts="alerts">
      </deployment-donut>
    </div>
    <!-- /all visible deployments -->
    <!-- metrics or pod template -->
    <div column class="deployment-details">
      <deployment-metrics
        ng-if="showMetrics && !collapse"
        pods="podsByDeployment[deployment.metadata.name]"
        containers="deployment.spec.template.spec.containers"
        compact="true"
        class="overview-metrics">
      </deployment-metrics>
      <pod-template ng-if="!showMetrics" pod-template="deployment.spec.template"></pod-template>
    </div>
    <!-- /metrics or pod template -->
  </div>
</div>
