<div class="deployment-tile" ng-if="deployment.kind === 'ReplicationController'">
  <div row class="service-title" ng-if="service">
    <div>
      <translate>Service:</translate>
      <a ng-href="{{service | navigateResourceURL}}">{{service.metadata.name}}</a>
    </div>
    <div ng-if="weightByService[service.metadata.name]" class="service-metadata">
      <ng-include src="'views/overview/_traffic-percent.html'"></ng-include>
    </div>
  </div>
  <div class="deployment-header">
    <div class="rc-header">
      <div>
        <translate>Replication Controller:</translate>
        <a ng-href="{{deployment | navigateResourceURL}}">{{deployment.metadata.name}}</a>
      </div>
      <div>
        <relative-timestamp timestamp="deployment.metadata.creationTimestamp"></relative-timestamp>
      </div>
    </div>
  </div>
  <div row class="deployment-body">
    <!-- all visible deployments -->
    <div column class="overview-donut" ng-class="{ latest: isDeploymentLatest(deployment) }">
      <deployment-donut
          rc="deployment"
          deployment-config="deploymentConfigs[dcName]"
          pods="podsByDeployment[deployment.metadata.name]"
          hpa="getHPA(deployment.metadata.name, dcName)"
          limit-ranges="limitRanges"
          scalable="isScalableDeployment(deployment)"
          alerts="alerts">
      </deployment-donut>
    </div>
    <!-- /all visible deployments -->
    <!-- metrics or pod template -->
    <div column class="deployment-details">
      <metrics ng-if="showMetrics && !collapse" deployment="deployment" profile="compact" class="overview-metrics"></metrics>
      <pod-template ng-if="!showMetrics" pod-template="deployment.spec.template"></pod-template>
    </div>
    <!-- /metrics or pod template -->
  </div>
</div>
