<div class="expanded-section">
  <div class="section-title hidden-xs" translate>Service Bindings</div>
  <overview-service-binding
    ng-repeat="binding in $ctrl.bindings track by (binding | uid)"
    namespace="$ctrl.namespace"
    binding="binding"
    service-classes="$ctrl.serviceClasses"
    service-instances="$ctrl.serviceInstances"
    secrets="$ctrl.secrets">
  </overview-service-binding>
  <div ng-if="($ctrl.bindableServiceInstances | size) && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create')">
    <a href="" ng-click="$ctrl.createBinding()" role="button">
      <span class="pficon pficon-add-circle-o" aria-hidden="true"></span>
      <translate>Create Binding</translate>
    </a>
  </div>
  <div ng-if="!($ctrl.bindableServiceInstances | size)">
    <span translate>You must have a bindable service in your namespace in order to create bindings.</span>
    <div>
      <a href="./" translate>Browse Catalog</a>
    </div>
  </div>
</div>
