<div ng-if="!tileCount" class="no-deployments-block">
  <div column class="no-deployments-message">
    <ng-include src="'views/overview/_service-header.html'"></ng-include>
    <div class="empty-tile">
      <h2>No deployments or pods.</h2>
      <p>
        Service
        <a ng-href="{{service | navigateResourceURL}}">{{service.metadata.name}}</a>
        does not route to any deployments or pods.
      </p>
    </div>
  </div>
</div>
<div ng-attr-row="{{!service ? '' : undefined}}"
     ng-attr-wrap="{{!service ? '' : undefined}}"
     ng-if="tileCount"
     class="deployment-block"
     ng-class="{
       'no-service': !service,
       'service-multiple-targets': tileCount > 1
     }">
   <div ng-repeat="deploymentConfig in deploymentConfigs track by (deploymentConfig | uid)" class="overview-tile-wrapper">
    <!-- visible deployments with a dc -->
    <overview-deployment-config></overview-deployment-config>
    <!-- /visible deployments with a dc -->
  </div>
  <div ng-repeat="set in replicationControllers track by (set | uid)" class="overview-tile-wrapper">
    <!-- visible replication controllers without a dc -->
    <overview-set></overview-set>
    <!-- /visible deployments without a dc -->
  </div>

  <div ng-repeat="(deploymentName, replicaSets) in visibleReplicaSetsByDeployment track by deploymentName" class="overview-tile-wrapper">
    <!-- visible replica sets with a deployment -->
    <overview-deployment ng-if="deploymentName"></overview-deployment>
    <!-- /visible replica sets with a deployment -->

    <!-- visible replica sets without a deployment -->
    <div ng-if="!deploymentName"
         ng-repeat="set in replicaSets | orderObjectsByDate : true track by (set | uid)"
         class="overview-tile-wrapper">
      <overview-set></overview-set>
    </div>
    <!-- /visible replica sets without a deployment -->
  </div>

  <div class="overview-tile-wrapper" ng-repeat="set in statefulSetsByService[service.metadata.name] track by (set | uid)">
    <overview-set></overview-set>
  </div>

  <!-- monopods -->
  <div ng-repeat="pod in monopodsByService[service.metadata.name || ''] | orderObjectsByDate : true track by (pod | uid)"
      class="overview-tile-wrapper">
    <overview-pod></overview-pod>
  </div>
  <!-- /monopods -->
</div>
