<div ng-if="!(visibleReplicationControllersByDC | hashSize) && !(visibleReplicaSets | hashSize) && !(petSetsByService[service.metadata.name] | hashSize) && !(monopodsByService[service.metadata.name] | hashSize)" class="no-deployments-block">
  <div column class="no-deployments-message">
    <ng-include src="'views/overview/_service-header.html'"></ng-include>
    <div class="pad-xxl">
      <h2>No deployments.</h2>
      <p>
        There are no deployments or pods for service
        <a ng-href="{{service | navigateResourceURL}}">{{service.metadata.name}}</a>.
      </p>
    </div>
  </div>
</div>
<div ng-attr-row="{{!service ? '' : undefined}}"
     ng-attr-wrap="{{!service ? '' : undefined}}"
     ng-if="(visibleReplicationControllersByDC | hashSize) || (visibleReplicaSetsByDeployment | hashSize) || (petSetsByService[service.metadata.name] | hashSize) || (monopodsByService[service.metadata.name || ''] | hashSize)"
     class="deployment-block"
     ng-class="{
       'no-service': !service,
       'service-multiple-targets': rcTileCount + rsTileCount + (petSetsByService[service.metadata.name] | hashSize) + (monopodsByService[service.metadata.name] | hashSize) > 1
     }">
  <div ng-repeat="(dcName, replicationControllers) in visibleReplicationControllersByDC track by dcName" class="overview-tile-wrapper">
    <!-- visible deployments with a dc -->
    <overview-deployment-config ng-if="dcName"></overview-deployment-config>
    <!-- /visible deployments with a dc -->

    <!-- visible replication controllers without a dc -->
    <div ng-if="!dcName"
         ng-repeat="set in replicationControllers | orderObjectsByDate : true track by (set | uid)"
         class="overview-tile-wrapper">
      <overview-set></overview-set>
    </div>
    <!-- /visible deployments without a dc -->
  </div>

  <div ng-repeat="(deploymentName, replicaSets) in visibleReplicaSetsByDeployment track by deploymentName" class="overview-tile-wrapper">
    <!-- visible replica sets with a deployment -->
    <overview-deployment ng-if="deploymentName"></overview-deployment>
    <!-- /visible replica sets with a deployment -->

    <!-- visible replica sets without a dc -->
    <div ng-if="!deploymentName"
         ng-repeat="set in replicaSets | orderObjectsByDate : true track by (set | uid)"
         class="overview-tile-wrapper">
      <overview-set></overview-set>
    </div>
    <!-- /visible replica sets without a dc -->
  </div>

  <div class="overview-tile-wrapper" ng-repeat="set in petSetsByService[service.metadata.name] track by (set | uid)">
    <overview-set></overview-set>
  </div>

  <!-- monopods -->
  <div ng-repeat="pod in monopodsByService[service.metadata.name || ''] | orderObjectsByDate : true track by (pod | uid)"
      class="overview-tile-wrapper">
    <overview-pod></overview-pod>
  </div>
  <!-- /monopods -->
</div>
