<div class="list-pf-item provisioned-service" ng-class="{ active: row.expanded }">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">
    <div class="list-pf-chevron">
      <div ng-include src=" 'views/overview/_list-row-chevron.html' " class="list-pf-content"></div>
    </div>
    <div class="list-pf-content">
      <div class="list-pf-name">
        <h3>
          <span ng-bind-html="row.displayName | highlightKeywords : row.state.filterKeywords"></span>
          <div ng-bind-html="row.apiObject.metadata.name | highlightKeywords : row.state.filterKeywords" class="list-row-longname"></div>
        </h3>
        <div class="status-icons">
          <notification-icon ng-if="!row.expanded" alerts="row.notifications"></notification-icon>
        </div>
      </div>
      <div class="list-pf-details">
        <div ng-if="!row.expanded">
          <div class="hidden-xs hidden-sm">
            <span ng-if="!row.bindings.length
                        && row.isBindable
                        && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create')">
              <a href="" ng-click="row.showOverlayPanel('bindService', {target: row.apiObject})" translate>Create Binding</a>
            </span>
            <span ng-if="row.bindings.length" class="component-label" translate>Bindings</span>
            <p ng-if="firstBinding = row.bindings[0]" class="bindings">
              <span ng-if="application = row.state.applicationsByBinding[firstBinding.metadata.name][0]">
                {{application.metadata.name}}
              </span>
              <span ng-if="!application">
                {{firstBinding.spec.secretName}}
              </span>
              <span ng-if="row.bindings.length > 1">
                <translate>and</translate>
                <a
                  ng-if="row.bindings.length > 1"
                  ng-click="row.toggleExpand($event, true)">
                  <translate>{{row.bindings.length -1}} other<span ng-if="row.bindings.length > 2">s</span></translate></a>
              </span>
            </p>
          </div>
        </div>
        <div
          class="hidden-xs"
          ng-if="!row.expanded && row.apiObject.status.dashboardURL">
          <a ng-href="{{row.apiObject.status.dashboardURL}}" target="_blank">
            Console
          </a> <i class="fa fa-external-link small" aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="list-pf-actions" ng-if="row.actionsDropdownVisible()">
      <div uib-dropdown>
        <a href=""
        uib-dropdown-toggle
        class="actions-dropdown-kebab"><i class="fa fa-ellipsis-v"></i><span class="sr-only" translate>Actions</span></a>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <li role="menuitem" ng-if="row.isBindable && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create')">
            <a href="" ng-click="row.showOverlayPanel('bindService', {target: row.apiObject})" translate>Create Binding</a>
          </li>
          <li role="menuitem" ng-if="row.deleteableBindings.length && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'delete')">
            <a href="" ng-click="row.showOverlayPanel('unbindService', {target: row.apiObject})" translate>Delete Binding</a>
          </li>
          <li role="menuitem">
            <a href="" ng-click="row.deprovision()" role="button" ng-if="{resource: 'instances', group: 'servicecatalog.k8s.io'} | canI : 'delete'" translate>Delete</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="list-pf-expansion collapse"
    ng-if="row.expanded"
    ng-class="{ in: row.expanded }">
    <div class="list-pf-container">
      <div class="expanded-section">
        <alerts alerts="row.notifications"></alerts>
        <!--
          TODO: follow-on PR
        <div class="expanded-section">
          <div class="section-title">
            Configuration Details
          </div>
          <div class="row" ng-repeat="item in [{
            name: 'password',
            value: '*****'
          }, {
            name: 'lorem ipsum',
            value: 'dolor sit amet'
          }]">
            <div class="col-sm-5">{{item.name}}</div>
            <div class="col-sm-7">{{item.value}}</div>
          </div>
        </div>
        -->
        <div class="row">
          <div class="col-sm-12" ng-if="row.description">
            <p class="pre-wrap" ng-bind-html="row.description | linky"></p>
          </div>
        </div>
        <div class="section-title" ng-if="row.isBindable || row.bindings">
          Application Bindings
        </div>
        <div class="row overview-bindings" ng-repeat="(name, binding) in row.bindings">
          <div class="col-sm-5 col-md-6">
            <div ng-if="!(row.state.applicationsByBinding[binding.metadata.name] | size)">
              <h3>
                <div class="component-label">
                  Secret
                </div>
                <span ng-if="(binding | isBindingReady) && ('secrets' | canI : 'get')">
                  <a
                    ng-if="(binding | isBindingReady) && ('secrets' | canI : 'get')"
                    ng-href="{{row.getSecretForBinding(binding) | navigateResourceURL}}">
                    {{binding.spec.secretName}}
                  </a>
                </span>
                <span ng-if="!(binding | isBindingReady) || !('secrets' | canI : 'get')">
                  {{binding.spec.secretName}}
                </span>
              </h3>
            </div>
            <div ng-repeat="target in row.state.applicationsByBinding[binding.metadata.name] track by (target | uid)">
              <h3>
                <div class="component-label">
                  {{target.kind | humanizeKind : true}}
                </div>
                <a ng-href="{{target | navigateResourceURL}}">{{target.metadata.name}}</a>
              </h3>
            </div>
          </div>
          <div class="col-sm-7 col-md-6 overview-bindings">
            <span ng-if="binding.metadata.deletionTimestamp">
              <status-icon status="'Pending'"></status-icon> Deleting
            </span>
            <span ng-if="!(binding | isBindingReady) && !binding.metadata.deletionTimestamp">
              <status-icon status="'Pending'"></status-icon> Pending
            </span>
            <a
              ng-if="(binding | isBindingReady) && ('secrets' | canI : 'get')"
              ng-href="{{row.getSecretForBinding(binding) | navigateResourceURL}}">
              View Secret
            </a>
          </div>
        </div>
        <div class="row" ng-if="row.isBindable && ({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create')">
          <div class="col-sm-12">
            <a href="" ng-click="row.showOverlayPanel('bindService', {target: row.apiObject})">Create Binding</a>
          </div>
        </div>
        <div class="row" ng-if="!row.bindings.length && (!row.isBindable || !({resource: 'bindings', group: 'servicecatalog.k8s.io'} | canI : 'create'))">
          <div class="col-sm-12">
            <em>No bindings</em>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<overlay-panel single-column="true" show-panel="row.overlay.panelVisible" show-close="true" handle-close="row.closeOverlayPanel">
  <div ng-if="row.overlay.panelName === 'bindService'">
    <bind-service target="row.overlay.state.target"
                  project="row.state.project"
                  on-close="row.closeOverlayPanel"></bind-service>
  </div>
  <div ng-if="row.overlay.panelName === 'unbindService'">
    <unbind-service
      target="row.overlay.state.target"
      bindings="row.deleteableBindings"
      applications-by-binding="row.state.applicationsByBinding"
      on-close="row.closeOverlayPanel"></unbind-service>
  </div>
</overlay-panel>
