<div class="list-pf-item" ng-class="{ active: row.expanded }">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">

    <div class="list-pf-chevron">
      <div ng-include src=" 'views/overview/_list-row-chevron.html' " class="list-pf-content"></div>
    </div>

    <div class="list-pf-content">
      <div class="list-pf-name">
        <h3>
          <span ng-bind-html="row.displayName | highlightKeywords : row.state.filterKeywords"></span>
          <div class="component-label tranform-none">
            {{row.apiObject.metadata.name}}
          </div>
        </h3>
        <div class="status-icons">
          <notification-icon ng-if="!row.expanded" alerts="row.notifications"></notification-icon>
        </div>
      </div>
    </div>

    <div class="list-pf-content hidden-xs hidden-sm">
      <div class="list-pf-content-right">
        <div>
          <strong ng-if="!row.bindings.length">No Bindings</strong>
          <strong ng-if="row.bindings.length">Bindings</strong>
        </div>
        <span ng-if="row.bindings.length >= 1">{{row.bindings[0].metadata.name}}</span><span ng-if="row.bindings.length > 1">,&nbsp;</span>
        <a
          ng-if="row.bindings.length > 1"
          ng-click="row.toggleExpand($event, true)">
          {{row.bindings.length -1}} others</a>
      </div>
    </div>

    <div
      class="hidden-xs hidden-sm"
      ng-if="row.apiObject.spec.osbDashboardURL">
      <span class="page-header-link">
        <a ng-href="{{row.apiObject.spec.osbDashboardURL}}" target="_blank">
          Console <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </span>
    </div>

    <div class="list-pf-actions">
      <div uib-dropdown>
        <a href=""
        uib-dropdown-toggle
        class="actions-dropdown-kebab"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <li role="menuitem">
            <a href="" ng-click="row.showOverlayPanel('bindService', {target: row.apiObject})">Create Binding</a>
          </li>
          <li role="menuitem">
            <a href="" ng-click="row.deprovision()" role="button">Deprovision</a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div
    class="list-pf-expansion collapse"
    ng-if="row.expanded"
    ng-class="{ in: row.expanded }">

    <div class="list-pf-container">
      <div class="expanded-section">
        <alerts alerts="row.notifications"></alerts>
        <!--
          TODO: follow-on PR
        <div class="expanded-section">
          <div class="section-title">
            Configuration Details
          </div>
          <div class="row" ng-repeat="item in [{
            name: 'password',
            value: '*****'
          }, {
            name: 'lorem ipsum',
            value: 'dolor sit amet'
          }]">
            <div class="col-sm-5">{{item.name}}</div>
            <div class="col-sm-7">{{item.value}}</div>
          </div>
        </div>
        -->

        <div class="row">
          <div class="col-sm-12" ng-if="row.description">
            <p class="pre-wrap" ng-bind-html="row.description | linky"></p>
          </div>
        </div>
        <div class="section-title">
          Bindings
        </div>
        <span ng-if="!row.bindings">There are no bindings.</span>
        <div
          ng-if="row.bindings"
          class="row"
          ng-repeat="(name, binding) in row.bindings">
          <div class="col-sm-5">
            <span>{{binding.metadata.name}}</span>
          </div>
          <div class="col-sm-7">
            <!-- TODO: follow-on PR
            <a ng-href="{{binding | navigateResourceURL}}">View configuration details</a>
            -->
            <span ng-if="!(binding | isBindingReady)">
              <status-icon status="'Pending'"></status-icon> Pending
            </span>
            <a
              ng-if="(binding | isBindingReady) && ('secrets' | canI : 'get')"
              href="{{row.getSecretForBinding(binding) | navigateResourceURL}}">
              View secret
            </a>
          </div>
        </div>
        <!-- TODO: follow-on PR
        <div class="row">
          <div class="col-sm-12">
            <a href="#">
              <i class="fa fa-plus-circle"></i> Create binding
            </a>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>

</div>
<overlay-panel single-column="true" show-panel="row.overlay.panelVisible" show-close="true" handle-close="row.closeOverlayPanel">
  <div ng-if="row.overlay.panelName === 'bindService'">
    <bind-service target="row.overlay.state.target"
                  on-close="row.closeOverlayPanel"></bind-service>
  </div>
</overlay-panel>
