<div class="overview-tile">
  <ng-include src="'views/overview/_service-header.html'"></ng-include>
  <div class="overview-tile-header">
    <div class="rc-header">
      <div>
        {{set.kind | humanizeKind : true}}
        <a ng-href="{{set | navigateResourceURL}}">{{set.metadata.name}}</a>
        <small class="overview-timestamp">
          <span class="hidden-xs">&ndash;</span>
          <span am-time-ago="set.metadata.creationTimestamp"></span>
        </small>
      </div>
      <div class="small">
        <image-names
            ng-if="showMetrics"
            pod-template="set.spec.template"
            pods="podsByOwnerUID[set.metadata.uid]">
        </image-names>
      </div>
    </div>
  </div>
  <div row class="overview-tile-body">
    <div column class="overview-donut" ng-class="{ latest: isDeploymentLatest(set) }">
      <deployment-donut
          rc="set"
          deployment-config="deploymentConfigs[dcName]"
          pods="podsByOwnerUID[set.metadata.uid]"
          hpa="getHPA(set)"
          limit-ranges="limitRanges"
          quotas="quotas"
          cluster-quotas="clusterQuotas"
          scalable="isScalableReplicationController(set)"
          alerts="alerts">
      </deployment-donut>
    </div>
    <!-- /all visible deployments -->
    <!-- metrics or pod template -->
    <div column class="overview-tile-details">
      <deployment-metrics
        ng-if="showMetrics && !collapse"
        pods="podsByOwnerUID[set.metadata.uid]"
        containers="set.spec.template.spec.containers"
        profile="compact"
        class="overview-metrics">
      </deployment-metrics>
      <pod-template ng-if="!showMetrics" pod-template="set.spec.template"></pod-template>
    </div>
    <!-- /metrics or pod template -->
  </div>
</div>
