<div class="list-pf-item" ng-class="{ active: row.expanded }">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">
    <div class="list-pf-chevron">
      <div ng-include src=" 'views/overview/_list-row-chevron.html' " class="list-pf-content"></div>
    </div>
    <div class="list-pf-content">
      <div class="list-pf-name">
        <h3>
          <div class="component-label">
            <span>Virtual Machine</span>
          </div>
          <a ng-href="{{row.vm | navigateResourceURL}}">
            <span ng-bind-html="row.apiObject.metadata.name | highlightKeywords : row.state.filterKeywords"></span>
          </a>
        </h3>
      </div>
      <div ng-if="row.state.showMetrics && (row.state.breakpoint === 'md' || row.state.breakpoint === 'lg') && row.pods[0]" class="list-pf-details">
        <metrics-summary
          pods="[row.pods[0]]"
          containers="row.pods[0].spec.containers">
        </metrics-summary>
      </div>
      <div class="list-pf-details">
        <vm-state ng-if="!row.expanded" state="row.vmi | vmStateText : row.vm"></vm-state>
      </div>
    </div>
    <div class="list-pf-actions">
      <div class="dropdown-kebab-pf" uib-dropdown ng-if="row.actionsDropdownVisible()">
        <button uib-dropdown-toggle class="btn btn-link dropdown-toggle">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          <span class="sr-only">Actions</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <dropdown-item
            action="row.VmActions.start(row.vmCopy(), row.state.context)"
            ng-if="row.KubevirtVersions.virtualMachine | canI : 'update'"
            enabled="row.VmActions.canStart(row.vm)">Start</dropdown-item>
          <dropdown-item
            action="row.VmActions.restart(row.vmi, row.state.context)"
            ng-if="row.KubevirtVersions.virtualMachineInstance | canI : 'delete'"
            enabled="row.VmActions.canRestart(row.apiObject._vm, row.apiObject)">Restart</dropdown-item>
          <dropdown-item
            action="row.VmActions.stop(row.vmCopy(), row.state.context)"
            ng-if="row.KubevirtVersions.virtualMachine | canI : 'update'"
            enabled="row.VmActions.canStop(row.vm)">Stop</dropdown-item>
          <li ng-if="row.KubevirtVersions.virtualMachine | canI : 'update'">
            <a ng-href="{{row.vm | editYamlURL}}" role="button">Edit YAML</a>
          </li>
          <li ng-if="row.KubevirtVersions.virtualMachine | canI : 'delete'">
            <delete-link
              kind={{row.KubevirtVersions.virtualMachine.kind}}
              group="{{row.KubevirtVersions.virtualMachine.group}}"
              stay-on-current-page="true"
              resource-name="{{row.apiObject.metadata.name}}"
              project-name="{{row.projectName}}">
            </delete-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="list-pf-expansion collapse" ng-if="row.expanded" ng-class="{ in: row.expanded }">
    <div class="list-pf-container">
      <div class="row full-width">
        <div class="col-md-6">

          <div class="word-break">
            <span class="vm-detail-key">State:</span>
            &nbsp;
            <vm-state state="row.vmi | vmStateText : row.vmi" ></vm-state>
            <vm-actions-line vmi="row.vmi" vm="row.vm" context="row.state.context"></vm-actions-line>
          </div>

          <div class="word-break" ng-if="row.isWindowsVmi() && ((row.vmi | vmStateText) === 'Running')">
            <span class="vm-detail-key">Remote Desktop:</span>
            <span class="vm-detail-value">
              <a href="" ng-if="row.getRdpService()" ng-click="row.onOpenRemoteDesktop()">Open Console</a>
                <div ng-if="!row.getRdpService()">No RDP service defined</div>
            </span>
          </div>

          <div class="word-break">
            <span class="vm-detail-key">Operating System:</span>
            <span class="vm-detail-value">{{row.vm.spec.template | vmOs | orDashes }}</span>
          </div>

          <div class="word-break">
            <span class="vm-detail-key">Virtual Machine Instance:</span>
            <span class="vm-detail-value" >
              <a ng-href="{{row.vmi | navigateResourceURL}}" ng-if="row.vmi">{{row.vmi.metadata.name}}</a>
              <span ng-if="!row.vmi">--</span>
            </span>
          </div>

          <div class="word-break">
            <span class="vm-detail-key">Pod:</span>
            <span class="vm-detail-value" >
              <span ng-if="!(row.pods | size)">--</span>
              <ul ng-if="row.pods | size" class="list-unstyled" style="display: inline-block;">
                <li ng-repeat="pod in row.pods track by pod.metadata.uid">
                  <a ng-href="{{pod | navigateResourceURL}}">{{pod.metadata.name}}</a>
                </li>
              </ul>
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div ng-if="row.pods[0] && row.state.showMetrics">
            <deployment-metrics
              pods="[row.pods[0]]"
              containers="row.pods[0].spec.containers"
              profile="compact"
              alerts="row.state.alerts"
              class="overview-metrics">
            </deployment-metrics>
            <h4 class="h5">Usage <small>Last 15 Minutes</small></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
