<div class="list-pf-item" ng-class="{ active: row.expanded }">
  <div class="list-pf-container" ng-click="row.toggleExpand($event)">
    <div class="list-pf-chevron">
      <div ng-include src=" 'views/overview/_list-row-chevron.html' " class="list-pf-content"></div>
    </div>
    <div class="list-pf-content">
      <div class="list-pf-name">
        <h3>
          <div class="component-label"><span>Offline Virtual Machine</span></div>
          <a ng-href="{{row.apiObject | navigateResourceURL}}">
            <span ng-bind-html="row.apiObject.metadata.name | highlightKeywords : row.state.filterKeywords"></span>
          </a>
        </h3>
      </div>
      <div ng-if="row.state.showMetrics && (row.state.breakpoint === 'md' || row.state.breakpoint === 'lg') && row.apiObject._pod" class="list-pf-details">
        <metrics-summary
          pods="[row.apiObject._pod]"
          containers="row.apiObject._pod.spec.containers">
        </metrics-summary>
      </div>
      <div class="list-pf-details">
        <vm-state ng-if="!row.expanded" state="row.apiObject._vm | vmStateText : row.apiObject"></vm-state>
      </div>
    </div>
    <div class="list-pf-actions">
      <div class="dropdown-kebab-pf" uib-dropdown ng-if="row.actionsDropdownVisible()">
        <button uib-dropdown-toggle class="btn btn-link dropdown-toggle">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          <span class="sr-only">Actions</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu">
          <dropdown-item
            action="row.VmActions.start(row.apiObject, row.state.context)"
            ng-if="row.KubevirtVersions.offlineVirtualMachine | canI : 'update'"
            enabled="row.VmActions.canStart(row.apiObject)">Start</dropdown-item>
          <dropdown-item
            action="row.VmActions.restart(row.apiObject._vm, row.state.context)"
            ng-if="row.KubevirtVersions.virtualMachine | canI : 'delete'"
            enabled="row.VmActions.canRestart(row.apiObject._vm, row.apiObject)">Restart</dropdown-item>
          <dropdown-item
            action="row.VmActions.stop(row.apiObject, row.state.context)"
            ng-if="row.KubevirtVersions.offlineVirtualMachine | canI : 'update'"
            enabled="row.VmActions.canStop(row.apiObject)">Stop</dropdown-item>
          <li ng-if="row.KubevirtVersions.offlineVirtualMachine | canI : 'update'">
            <a ng-href="{{row.apiObject | editYamlURL}}" role="button">Edit YAML</a>
          </li>
          <li ng-if="row.KubevirtVersions.offlineVirtualMachine | canI : 'delete'">
            <delete-link
              kind="OfflineVirtualMachine"
              group="{{row.OfflineVirtualMachineVersion.group}}"
              stay-on-current-page="true"
              resource-name="{{row.apiObject.metadata.name}}"
              project-name="{{row.projectName}}">
            </delete-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="list-pf-expansion collapse" ng-if="row.expanded" ng-class="{ in: row.expanded }">
    <div class="list-pf-container">

      <div class="word-break">
        <span class="vm-detail-key">State:</span>

        <vm-state state="row.apiObject._vm | vmStateText : row.apiObject" ></vm-state>
        <vm-actions-line vm="row.apiObject._vm" ovm="row.apiObject" context="row.state.context"></vm-actions-line>
      </div>

      <div class="word-break">
        <span class="vm-detail-key">Uptime:</span>
        <span class="vm-detail-value">{{ row.apiObject._pod | vmPodUptime }}</span>
      </div>

      <div class="word-break" ng-if="row.isWindowsVM() && row.isOvmInRunningPhase()">
        <span class="vm-detail-key">Remote Desktop:</span>
        <span class="vm-detail-value">
          <a href="" ng-if="row.isRdpService()" ng-click="row.onOpenRemoteDesktop()">Open Console</a>
            <div ng-if="!row.isRdpService()">No RDP service defined</div>
        </span>
      </div>

      <div class="word-break">
        <span class="vm-detail-key">Operating System:</span>
        <span class="vm-detail-value">{{row.apiObject.metadata.labels['kubevirt.io/os'] || '--'}}</span>
      </div>

    </div>
  </div>
</div>
