<div class="build-pipeline-collapsed animate-show animate-hide animate-slide" ng-show="!hideBuild">
  <div class="build-summary" ng-class="{'dismissible' : !(build | isIncompleteBuild)}">
    <div class="build-name">
      <span class="component-label">
        Pipeline
      </span>
      <a ng-href="{{build | configURLForResource}}">{{buildConfigName}}</a>,
      <a ng-href="{{build | navigateResourceURL}}">#{{build | annotation : 'buildNumber'}}</a>
    </div>
    <div class="build-phase">
      <status-icon status="build.status.phase"></status-icon>
      {{build.status.phase}}
    </div>
    <span am-time-ago="build.metadata.creationTimestamp" class="build-timestamp"></span>
    <div ng-include="'views/directives/_build-pipeline-links.html'" class="build-links"></div>
    <build-close build="build" hide-build="hideBuild"></build-close>
  </div>
</div>
