<div class="copy-to-clipboard"
      ng-class="{'limit-width': !displayWide, 'copy-to-clipboard-multiline': multiline, 'input-group': !hidden}">
  <input
      ng-if="!multiline"
      id="{{id}}"
      type="text"
      class="form-control"
      value="{{inputText || clipboardText}}"
      ng-disabled="isDisabled"
      ng-readonly="!isDisabled"
      select-on-focus>
  <pre ng-if="multiline" id="{{id}}">{{inputText || clipboardText}}</pre>
  <span ng-class="{ 'input-group-btn': !multiline }" ng-hide="hidden">
    <a ng-show="!inputText"
        data-clipboard-target="#{{id}}"
        href=""
        ng-disabled="isDisabled"
        data-toggle="tooltip"
        data-placement="left"
        data-container=".middle"
        title="Copy to Clipboard"
        role="button"
        class="btn btn-default">
      <i class="fa fa-clipboard" aria-hidden="true"></i>
      <span class="sr-only">Copy to Clipboard</span>
    </a>
    <a ng-show="inputText"
        data-clipboard-text="{{clipboardText}}"
        href=""
        ng-disabled="isDisabled"
        data-toggle="tooltip"
        data-placement="left"
        data-container=".middle"
        title="Copy to Clipboard"
        role="button"
        class="btn btn-default">
      <i class="fa fa-clipboard" aria-hidden="true"></i>
      <span class="sr-only">Copy to Clipboard</span>
    </a>
  </span>
</div><!-- /input-group -->
