<div class="service-binding">
  <div class="row">
    <div class="col-sm-5 col-md-6">
      <h3 ng-if="$ctrl.serviceClass">
        <span ng-if="$ctrl.serviceClass">
          <span ng-if="$ctrl.refApiObject.kind !== 'Instance'">
            {{$ctrl.serviceClass.externalMetadata.displayName || $ctrl.serviceClass.metadata.name}}
          </span>
          <span ng-if="$ctrl.refApiObject.kind === 'Instance'">
            {{$ctrl.binding.spec.secretName}}
          </span>
        </span>
        <span ng-if="!$ctrl.serviceClass">
          {{$ctrl.binding.spec.instanceRef.name}}
        </span>
        <small ng-if="$ctrl.serviceClass">{{$ctrl.binding.spec.instanceRef.name}}</small>
        <small>created <span am-time-ago="$ctrl.binding.metadata.creationTimestamp"></span></small>
      </h3>
    </div>
    <div class="col-sm-7 col-md-6" ng-if="!($ctrl.binding | isBindingReady)">
      <status-icon status="'Pending'"></status-icon>Pending
    </div>
  </div>
  <div class="service-binding-actions" ng-if="!ctrl.binding.metadata.deletionTimestamp">
    <delete-link
      ng-if="({resource: 'serviceinstancecredentials', group: 'servicecatalog.k8s.io'} | canI : 'delete')"
      label="Delete Binding"
      kind="binding"
      group="servicecatalog.k8s.io"
      resource-name="{{$ctrl.binding.metadata.name}}"
      project-name="{{$ctrl.binding.metadata.namespace}}"
      stay-on-current-page="true">
    </delete-link>
    <a ng-if="('secrets' | canI : 'get')" ng-href="{{$ctrl.binding.spec.secretName | navigateResourceURL : 'Secret' : $ctrl.namespace}}">
      View Secret
    </a>
  </div>
</div>
