<div class="service-integration pull-left" ng-if="$ctrl.integration">
  <div ng-class="{active: $ctrl.getState() == 'active',
                  inactive: $ctrl.getState() == 'no-binding',
                  unknown: $ctrl.getState() == 'no-service'}" class="integration">
    <img class="image-icon pull-left" ng-src="{{ $ctrl.integration.spec.externalMetadata.imageUrl }}">
    <div class="description pull-left" ng-switch="$ctrl.getState()">
      <h4 class="integration-name">{{$ctrl.integration.spec.externalMetadata.displayName || "Service Integration"}}</h4>
      <span class="integration-error" ng-if="$ctrl.getState() == 'pending' || $ctrl.getState() == 'service-provision-pending' || $ctrl.getState() == 'service-deprovision-pending'"><span class="spinner spinner-xs spinner-inline" aria-hidden="true"></span></span>
      <delete-link
        class="inline-delete"
        ng-if="$ctrl.getState() == 'active'"
        kind="servicebinding"
        group="servicecatalog.k8s.io"
        button-only="true"
        stay-on-current-page="true"
        resource-name="{{$ctrl.binding.metadata.name}}"
        project-name="{{$ctrl.binding.metadata.namespace}}"
        success="$ctrl.deletePodPreset">
      </delete-link>
      <div class="id" ng-switch-when="pending">Status: Pending</div>
      <div class="id" ng-switch-when="active">ID: {{ $ctrl.binding.metadata.name }}</div>
      <div class="id" ng-switch-when="no-binding">No {{$ctrl.integration.spec.externalMetadata.displayName}} integration found. 
        <span ng-click="$ctrl.openIntegrationPanel()" class="integrate-link">Integrate {{$ctrl.integration.spec.externalMetadata.displayName}}</span>
      </div>
      <div class="id" ng-switch-when="service-provision-pending">Waiting for {{$ctrl.integration.spec.externalMetadata.displayName}} provision to complete.</div>
      <div class="id" ng-switch-when="service-deprovision-pending">Waiting for {{$ctrl.integration.spec.externalMetadata.displayName}} deprovision to complete.</div>
      <div class="id" ng-switch-when="no-service">
        <span ng-click="$ctrl.provision()">Provision {{$ctrl.integration.spec.externalMetadata.displayName}} to enable integration.</span>
      </div>
    </div>
  </div>
</div>

<overlay-panel show-panel="$ctrl.integrationPanelVisible" handle-close="$ctrl.closeIntegrationPanel">
  <bind-service target="serviceInstance"
                project="$ctrl.project"
                on-close="$ctrl.closeIntegrationPanel"
                on-finish="$ctrl.onBind"
                parameter-data="$ctrl.parameterData"></bind-service>
</overlay-panel>
