<div ng-if="annotations" class="gutter-top-bottom">
  <a href="" ng-click="toggleAnnotations()" ng-if="annotations && !expandAnnotations">Show annotations</a>
  <a href="" ng-click="toggleAnnotations()" ng-if="annotations && expandAnnotations">Hide annotations</a>
  <div ng-if="expandAnnotations" class="table-responsive" style="margin-top: 5px;">
    <table class="table table-bordered table-bordered-columns key-value-table">
      <tbody>
        <tr ng-repeat="(annotationKey, annotationValue) in annotations">
          <td class="key">{{annotationKey}}</td>
          <td class="value">
            <span style="white-space: pre;">{{annotationValue | prettifyJSON}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
