<div class="bind-service-wizard">
  <pf-wizard
       wizard-title="Create Binding"
       hide-sidebar="true"
       step-class="bind-service-wizard-step"
       wizard-ready="ctrl.wizardReady"
       next-title="ctrl.nextTitle"
       hide-back-button="{{ctrl.hideBack}}"
       on-finish="ctrl.closeWizard()"
       on-cancel="ctrl.closeWizard()"
       wizard-done="ctrl.wizardComplete">
    <pf-wizard-step ng-repeat="step in ctrl.steps track by step.id"
       step-title="{{step.label}}"
       next-enabled="step.valid"
       wz-disabled="{{step.hidden}}"
       on-show="step.onShow"
       step-id="{{step.id}}"
       step-priority="{{$index}}"
       allow-click-nav="step.allowClickNav">
      <div class="wizard-pf-main-inner-shadow-covers">
        <div class="bind-service-config">
          <div ng-if="!step.hidden" ng-include="step.view" class="wizard-pf-main-form-contents"></div>
        </div>
      </div>
    </pf-wizard-step>
  </pf-wizard>
</div>
