<status-icon status="build.status.phase" disable-animation></status-icon>
<span ng-if="!build.status.reason || build.status.phase === 'Cancelled'">{{build.status.phase}}</span>
<span ng-if="build.status.reason && build.status.phase !== 'Cancelled'">{{build.status.reason | sentenceCase}}</span>
<span ng-if="build.status.startTimestamp" class="small text-muted">
  &ndash;
  <span ng-if="build.status.completionTimestamp">
    {{build.status.startTimestamp | timeOnlyDurationFromTimestamps : build.status.completionTimestamp}}
  </span>
  <span ng-if="!build.status.completionTimestamp">
    <time-only-duration-until-now timestamp="build.status.startTimestamp" time-only></time-only-duration-until-now>
  </span>
</span>
