<div class="deploy-image">
  <p translate>
    Deploy an existing image from an image stream tag or docker pull spec.
  </p>
  <ng-form name="forms.imageSelection">
    <fieldset ng-disabled="loading">
      <div class="radio">
        <label>
          <input type="radio" ng-model="mode" value="istag">
          <translate>Image Stream Tag</translate>
        </label>
      </div>
      <fieldset>
        <istag-select model="istag" select-required="mode === 'istag'" select-disabled="mode !== 'istag'" include-shared-namespace="true"></istag-select>
        <div ng-if="mode == 'istag' && istag.namespace && istag.namespace !== 'openshift' && istag.namespace !== project.metadata.name" class="alert alert-warning">
          <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
          <translate>Service account <strong>default</strong> will need image pull authority to deploy images from <strong>{{istag.namespace}}</strong>. You can grant authority with the command:</translate>

          <p>
            <code>oc policy add-role-to-user system:image-puller system:serviceaccount:{{project.metadata.name}}:default -n {{istag.namespace}}</code>
          </p>
        </div>
      </fieldset>
      <div class="radio">
        <label>
          <input type="radio" ng-model="mode" value="dockerImage" translate>
          Image Name
        </label>
      </div>
      <div class="form-group">
        <label for="imageName" class="sr-only" translate>Image name or pull spec</label>
        <div class="input-group">
          <input type="search"
                 id="imageName"
                 name="imageName"
                 ng-model="imageName"
                 ng-required="mode === 'dockerImage'"
                 select-on-focus
                 ng-disabled="mode !== 'dockerImage'"
                 placeholder="{{'Image name or pull spec'|translate}}"
                 class="form-control"
                 autocorrect="off"
                 autocapitalize="off"
                 spellcheck="false">
          <span class="input-group-btn">
            <button class="btn btn-default"
                    type="submit"
                    ng-disabled="!imageName"
                    ng-click="findImage()">
              <i class="fa fa-search" aria-hidden="true"></i>
              <span class="sr-only" translate>Find</span>
            </button>
          </span>
        </div>
      </div>
    </fieldset>
  </ng-form>

  <div ng-if="loading || !import" class="empty-state-message text-muted text-center">
    <span class="fa fa-cube icon-lg hero-icon" aria-hidden="true"></span>
    <div ng-if="!loading" class="h2" translate>Select an image stream tag or enter an image name.</div>
    <div ng-if="loading" class="h2" translate>Loading image metadata for <span class="word-break">{{imageName | stripSHA}}</span>...</div>
  </div>
  <div class="row mar-bottom-md" ng-if-start="!loading && import.image">
    <div class="col-sm-12 mar-top-lg mar-bottom-lg">
      <div class="separator"></div>
    </div>
    <div class="col-sm-2 hidden-xs text-right h2">
      <span class="fa fa-cube text-muted" style="font-size: 100px;" aria-hidden="true"></span>
    </div>
    <div class="col-sm-10">
      <div ng-if="runsAsRoot" class="alert alert-warning">
        <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
        <translate>Image <strong>{{import.name}}</strong> runs as the <strong>root</strong> user which might not be permitted by your cluster administrator.</translate>
      </div>
      <h2>
        <span ng-if="mode === 'dockerImage'">{{import.name}}</span>
        <span ng-if="mode === 'istag'">{{istag.imageStream}}<span ng-if="import.tag">:{{import.tag}}</span></span>
        <small>
          <span ng-if="import.result.ref.registry">from {{import.result.ref.registry}},</span>
          <span am-time-ago="import.image.dockerImageMetadata.Created"></span>,
          <span ng-if="import.image.dockerImageMetadata.Size">{{import.image.dockerImageMetadata.Size | humanizeSize}},</span>
          <translate>{{import.image.dockerImageLayers.length}} layers</translate>
        </small>
      </h2>
      <ul>
        <li ng-if="!import.namespace" translate>Image Stream <strong>{{app.name || "&lt;name&gt;"}}:{{import.tag || 'latest'}}</strong> will track this image.</li>
        <li translate>This image will be deployed in Deployment Config <strong>{{app.name || "&lt;name&gt;"}}</strong>.</li>
        <li ng-if="ports.length">
          <span ng-if="ports.length === 1" translate>Port</span>
          <span ng-if="ports.length > 1" translate>Ports</span>
          <span ng-repeat="port in ports">
            <span ng-if="!$first && $last" translate>and</span>
            {{port.containerPort}}/{{port.protocol}}<span ng-if="!$last && ports.length > 2">,</span>
          </span>
          <translate>will be load balanced by Service <strong>{{app.name || "&lt;name&gt;"}}</strong>.</translate>
          <div translate>Other containers can access this service through the hostname <strong>{{app.name || "&lt;name&gt;"}}</strong>.</div>
        </li>
      </ul>
      <div ng-if="(volumes | hashSize) > 0" class="help-block">
        <translate>This image declares volumes and will default to use non-persistent, host-local storage.</translate>
        <translate>You can add persistent storage later to the deployment config.</translate>
      </div>
    </div>
  </div>

  <div class="row" ng-if-end>
    <div class="col-sm-12">
      <form name="form" class="osc-form">
        <div class="form-group">
         <label for="name" class="required">Name</label>
         <div ng-class="{'has-error': form.name.$invalid || nameTaken}">
           <input type="text"
                  required
                  select-on-focus
                  minlength="2"
                  maxlength="24"
                  pattern="[a-z]([-a-z0-9]*[a-z0-9])?"
                  ng-model="app.name"
                  id="name"
                  name="name"
                  class="form-control"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false">
          </div>
          <div class="help-block" translate>Identifies the resources created for this image.</div>
          <div class="has-error" ng-show="form.name.$invalid">
            <div class="help-block" ng-show="form.name.$error.required" translate>
              A name is required.
            </div>
            <div class="help-block" ng-show="form.name.$error.pattern">
              <translate>Name must be an alphanumeric (a-z, 0-9) string with a maximum length of 24 characters where the first character is a letter (a-z).</translate>
              <translate>The '-' character is allowed anywhere except the first or last character.</translate>
            </div>
            <div class="help-block" ng-show="form.name.$error.minlength" translate>
              Name must have at least 2 characters.
            </div>
            <div class="help-block" ng-show="form.name.$error.maxlength" translate>
              Name can't have more than 24 characters.
            </div>
          </div>
          <div class="has-error" ng-show="nameTaken">
            <span class="help-block" translate>This name is already in use within the project. Please choose a different name.</span>
          </div>
        </div>
        <osc-secrets model="pullSecrets"
                    namespace="project.metadata.name"
                    display-type="pull"
                    type="image"
                    secrets-by-type="secretsByType"
                    service-account-to-link="default"
                    alerts="alerts"
                    allow-multiple-secrets="true">
        </osc-secrets>
        <osc-form-section
            header="{{'Environment Variables'|translate}}"
            about-title="{{'Environment Variables'|translate}}"
            about="{{'Environment variables are used to configure and pass information to running containers.'|translate}}"
            expand="true"
            can-toggle="false"
            class="first-section">
          <key-value-editor
            entries="env"
            key-placeholder="{{'Name'|translate}}"
            key-validator="[A-Za-z_][A-Za-z0-9_]*"
            key-validator-error="{{'A valid environment variable name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores.'|translate}}"
            value-placeholder="{{'Value'|translate}}"
            value-from-selector-options="valueFromObjects"
            add-row-link="{{'Add Environment Variable'|translate}}"
            add-row-with-selectors-link="{{'Add Environment Variable Using a Config Map or Secret'|translate}}"></key-value-editor>
        </osc-form-section>

        <label-editor
            labels="labels"
            system-labels="systemLabels"
            expand="true"
            can-toggle="false"
            help-text="{{'Each label is applied to each created resource.'|translate}}">
        </label-editor>

        <alerts alerts="alerts"></alerts>
        <div ng-if="!isDialog" class="button-group gutter-bottom" ng-class="{'gutter-top': !alerts.length}">
          <button type="submit"
              class="btn btn-primary btn-lg"
              ng-click="create()"
              value=""
              ng-disabled="form.$invalid || nameTaken || disableInputs" translate>Create</button>
          <a class="btn btn-default btn-lg" href="#" back translate>Cancel</a>
        </div>
      </form>
    </div>
  </div>

  <div ng-if="!loading && import.error" class="empty-state-message text-center">
    <h2>
      <i class="pficon pficon-error-circle-o" aria-hidden="true"></i>
      <translate>Could not load image metadata.</translate>
    </h2>
    <p>{{import.error | upperFirst}}</p>
  </div>

  <div ng-if="!loading && import && !import.error && !import.image" class="empty-state-message text-center">
    <h2 translate>
      No image metadata found.
    </h2>
    <p translate>Could not find any images for {{import.name | stripTag}}:{{import.tag}}.</p>
  </div>
</div>
