<pf-wizard
     title="Deploy Image"
     on-cancel="$ctrl.close()"
     on-finish="$ctrl.close()"
     hide-back-button="true"
     hide-sidebar="true"
     next-title="$ctrl.nextButtonTitle"
     next-callback="$ctrl.nextCallback"
     current-step="$ctrl.currentStep"
     on-step-changed="$ctrl.stepChanged(step)"
     step-class="order-service-wizard-step"
     wizard-done="$ctrl.wizardDone">
  <pf-wizard-step
       step-title="Image"
       step-id="image"
       step-priority="1"
       substeps="false"
       ok-to-nav-away="true"
       allow-click-nav="false"
       next-enabled="$ctrl.deployForm.$valid || $ctrl.deployImageNewAppCreated">
    <div class="wizard-pf-main-inner-shadow-covers">
      <div class="order-service-config">
        <div class="wizard-pf-main-form-contents">
          <form name="$ctrl.deployForm">
            <deploy-image is-dialog="true" project="$ctrl.project" context="$ctrl.context"></deploy-image>
          </form>
        </div>
      </div>
    </div>
  </pf-wizard-step>
  <pf-wizard-step
       step-title="Results"
       step-id="results"
       step-priority="2"
       substeps="false"
       ok-to-nav-away="true"
       allow-click-nav="false">
    <div class="wizard-pf-main-inner-shadow-covers">
      <div class="order-service-config">
        <div class="wizard-pf-main-form-contents">
          <next-steps project="$ctrl.selectedProject"
                      project-name="$ctrl.selectedProject.metadata.name"
                      login-base-url="$ctrl.loginBaseUrl"
                      on-continue="$ctrl.close">
          </next-steps>
        </div>
      </div>
    </div>
  </pf-wizard-step>
</pf-wizard>
