<div class="display-webhooks">
  <h5>{{type}} Webhooks
    <span class="help action-inline">
      <span class="sr-only">{{typeInfo}}</span>
      <a href="" aria-hidden="true">
        <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="{{typeInfo}}"></i>
      </a>
    </span>
  </h5>
  <div ng-repeat="trigger in triggers">
    <div class="trigger-info">
      <span class="trigger-url">
        <copy-to-clipboard is-disabled="trigger.disabled" clipboard-text="bcName | webhookURL : trigger.data.type : trigger.data[type.toLowerCase()].secret : projectName"></copy-to-clipboard>
      </span>
      <span class="visible-xs-inline trigger-actions">
        <a href="" ng-if="!trigger.disabled" class="action-icon" ng-click="trigger.disabled = true; form.$setDirty()" role="button">
          <span class="pficon pficon-close" aria-hidden="true" title="{{'Remove'|translate}}"></span>
          <span class="sr-only" translate>Remove</span>
        </a>
        <a href="" ng-if="trigger.disabled" class="action-icon" ng-click="trigger.disabled = false" role="button">
          <span class="fa fa-repeat" aria-hidden="true" title="{{'Undo'|translate}}"></span>
          <span class="sr-only" translate>Undo</span>
        </a>
      </span>
      <span class="hidden-xs trigger-actions">
        <a href="" role="button" ng-if="!trigger.disabled" ng-click="trigger.disabled = true; form.$setDirty()" translate>Remove</a>
        <a href="" role="button" ng-if="trigger.disabled" ng-click="trigger.disabled = false" translate>Undo</a>
      </span>
    </div>
  </div>
</div>
