<h5>{{type}} webhooks
  <span class="help action-inline">
    <a href="" aria-hidden="true">
      <span class="sr-only">{{typeInfo}}</span>
      <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="{{typeInfo}}"></i>
    </a>
  </span>
</h5>
<div ng-repeat="trigger in triggers">
  <div class="trigger-info">
    <span class="trigger-url">
      <copy-to-clipboard is-disabled="trigger.disabled" clipboard-text="bcName | webhookURL : trigger.data.type : trigger.data[(type === 'GitHub') ? 'github' : 'generic'].secret : projectName"></copy-to-clipboard>
    </span>
    <span class="visible-xs-inline trigger-actions">
      <a href="" ng-if="!trigger.disabled" class="action-icon" ng-click="trigger.disabled = true; form.$setDirty()" role="button">
        <span class="pficon pficon-close" aria-hidden="true" title="Remove"></span>
        <span class="sr-only">Remove</span>
      </a>
      <a href="" ng-if="trigger.disabled" class="action-icon" ng-click="trigger.disabled = false" role="button">
        <span class="fa fa-repeat" aria-hidden="true" title="Undo"></span>
        <span class="sr-only">Undo</span>
      </a>
    </span>
    <span class="hidden-xs trigger-actions">
      <a href="" role="button" ng-if="!trigger.disabled" ng-click="trigger.disabled = true; form.$setDirty()">Remove</a>
      <a href="" role="button" ng-if="trigger.disabled" ng-click="trigger.disabled = false">Undo</a>
    </span>
  </div>
</div>
<span>
  <a href="" role="button" ng-click="addWebhookTrigger(type)">Add {{type}} webhook</a>
</span>