<h4>
  {{hpa.metadata.name}}
  <!-- HPA actions -->
  <span ng-if="'horizontalPodAutoscalers' | canIDoAny" class="header-actions">
    <a ng-if="{resource: 'horizontalpodautoscalers', group: 'autoscaling'} | canI : 'update'" ng-href="project/{{hpa.metadata.namespace}}/edit/autoscaler?kind=HorizontalPodAutoscaler&group=autoscaling&name={{hpa.metadata.name}}"
       role="button">Edit</a>
    <span class="action-divider">|</span>
    <delete-link
        ng-if="{resource: 'horizontalpodautoscalers', group: 'autoscaling'} | canI : 'delete'"
        kind="HorizontalPodAutoscaler"
        group="autoscaling"
        resource-name="{{hpa.metadata.name}}"
        project-name="{{hpa.metadata.namespace}}"
        label="Remove"
        alerts="alerts"
        stay-on-current-page="true">
    </delete-link>
  </span>
</h4>
<dl class="dl-horizontal left mar-top-md">
  <dt ng-if-start="showScaleTarget && hpa.spec.scaleTargetRef.kind && hpa.spec.scaleTargetRef.name">{{hpa.spec.scaleTargetRef.kind | humanizeKind : true}}:</dt>
  <dd ng-if-end>
    <a ng-href="{{hpa.spec.scaleTargetRef.name | navigateResourceURL : hpa.spec.scaleTargetRef.kind : hpa.metadata.namespace}}">{{hpa.spec.scaleTargetRef.name}}</a>
  </dd>
  <dt>Min Pods:</dt>
  <dd>{{hpa.spec.minReplicas || 1}}</dd>
  <dt>Max Pods:</dt>
  <dd>{{hpa.spec.maxReplicas}}</dd>
  <dt ng-if-start="hpa.spec.targetCPUUtilizationPercentage">
      CPU Request
  </dt>
  <dd ng-if-end>{{hpa.spec.targetCPUUtilizationPercentage}}%</dd>
  <dt>
    Current Usage:
  </dt>
  <dd ng-if="hpa.status.currentCPUUtilizationPercentage | isNil">
    <em>Not available</em>
  </dd>
  <dd ng-if="!(hpa.status.currentCPUUtilizationPercentage | isNil)">
    {{hpa.status.currentCPUUtilizationPercentage}}%
  </dd>
  <dt ng-if-start="hpa.status.lastScaleTime">Last Scaled:</dt>
  <dd ng-if-end><span am-time-ago="hpa.status.lastScaleTime"></span></dd>
</dl>
