<ng-form name="istagForm">
  <fieldset ng-disabled="selectDisabled">
    <div class="row">
      <div class="form-group col-sm-4">
        <label class="sr-only">Namespace</label>
        <ui-select ng-required="selectRequired" ng-model="istag.namespace" ng-disabled="selectDisabled" ng-change="istag.imageStream = null; istag.tagObject = null;" append-to-body="appendToBody">
          <ui-select-match placeholder="Namespace">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="namespace in (namespaces | filter : $select.search)">
            <div ng-bind-html="namespace | highlight : $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div class="istag-separator">/</div>
      </div>

      <div class="form-group col-sm-4">
        <label class="sr-only">Image Stream</label>
        <ui-select ng-required="selectRequired" ng-model="istag.imageStream" ng-disabled="!istag.namespace || selectDisabled" ng-change="istag.tagObject = null" append-to-body="appendToBody">
          <ui-select-match placeholder="Image Stream">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="imageStream in (isNamesByNamespace[istag.namespace] | filter : $select.search)">
            <div ng-bind-html="imageStream | highlight : $select.search"></div>
          </ui-select-choices>
        </ui-select>
        <div class="istag-separator">:</div>
      </div>

      <div class="form-group col-sm-4">
        <label class="sr-only">Tag</label>
        <ui-select ng-required="selectRequired" ng-model="istag.tagObject" ng-disabled="!istag.imageStream || selectDisabled" append-to-body="appendToBody">
          <ui-select-match placeholder="Tag">{{$select.selected.tag}}</ui-select-match>
          <ui-select-choices group-by="groupTags" repeat="statusTag in (isByNamespace[istag.namespace][istag.imageStream].status.tags | filter : { tag: $select.search })" refresh="getTags($select.search)" refresh-delay="200">
            <div ng-bind-html="statusTag.tag | highlight : $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </fieldset>
</ng-form>
