<div in-view="updateInView($inview)" in-view-options="{ throttle: 50 }">
  <div ng-repeat="metric in metrics" ng-if="!metric.compactCombineWith" class="metrics-compact">
    <div ng-attr-id="{{metric.chartID}}" class="metrics-sparkline"></div>
    <div class="metrics-usage">
      <div class="usage-value">
        <span class="fade-inline" ng-hide="metric.lastValue | isNil">
          {{metric.formatUsage(metric.lastValue)}}
        </span>
        <span ng-if="metric.lastValue | isNil" class="text-muted" aria-hidden="true">
          --
        </span>
      </div>
      <div class="usage-label">
        {{metric.usageUnits(metric.lastValue) | capitalize}}
        {{metric.compactLabel || metric.label}}
      </div>
    </div>
  </div>
</div>
