<div class="open-shift">
  <p>
    Create OpenShift
  </p>
  <ng-form name="$ctrl.templateForm">

    <!-- <div class="form-group">
      <label for="name">aaaa</label>
      <ui-select ng-required="selectRequired" ng-model="isOctopus.octopus" ng-disabled="selectDisabled">
        <ui-select-match placeholder="Openshift">{{$select.selected}}</ui-select-match>
        <ui-select-choices repeat="octopus in (octopuses | filter : $select.search)">
          <div ng-bind-html="octopus | highlight : $select.search"></div>
        </ui-select-choices>
      </ui-select>
    </div> -->
    <div class="form-group">
      <label for="App_name" class="required">App_name</label>
      <div ng-class="{'has-error': form.APP_NAME.$invalid}">
        <input type="text" required select-on-focus placeholder="应用组名称" ng-model="app.APP_NAME"
          id="APP_NAME" name="APP_NAME" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        应用组名称
      </div>
    </div>
    <div class="form-group">
      <label for="Octopus_api_name" class="required">Octopus_api_name</label>
      <div ng-class="{'has-error': form.OCTOPUS_API_NAME.$invalid}">
        <input type="text" required select-on-focus placeholder="octopus_api" ng-model="app.OCTOPUS_API_NAME"
          id="OCTOPUS_API_NAME" name="OCTOPUS_API_NAME" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        Octopus API组件的名称
      </div>
    </div>
    <div class="form-group">
      <label for="OCTOPUS_CONSOLE_NAME" class="required">Octopus_console_name</label>
      <div ng-class="{'has-error': form.OCTOPUS_CONSOLE_NAME.$invalid}">
        <input type="text" required select-on-focus placeholder="octopus_console" ng-model="app.OCTOPUS_CONSOLE_NAME"
               id="OCTOPUS_CONSOLE_NAME" name="OCTOPUS_CONSOLE_NAME" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        Octopus console组件的名称
      </div>
    </div>
    <div class="form-group">
      <label for="K8s_uri" class="required">K8s_uri</label>
      <div ng-class="{'has-error': form.K8S_URI.$invalid}">
        <input type="text" required select-on-focus placeholder="http://k8s.uri" ng-model="app.K8S_URI"
          id="K8S_URI" name="K8S_URI" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        K8s的url路径
      </div>
    </div>
    <div class="form-group">
      <label for="REGISTRY_URI" class="required">Registry_uri</label>
      <div ng-class="{'has-error': form.REGISTRY_URI.$invalid}">
        <input type="text" required select-on-focus placeholder="http://registry.uri" ng-model="app.REGISTRY_URI"
          id="REGISTRY_URI" name="REGISTRY_URI" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        Registry的url路径
      </div>
    </div>
    <div class="form-group">
      <label for="SECRET_NAME" class="required">Secret_name</label>
      <div ng-class="{'has-error': form.SECRET_NAME.$invalid}">
        <input type="text" required select-on-focus placeholder="secret_name" ng-model="app.SECRET_NAME"
          id="SECRET_NAME" name="SECRET_NAME" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        Secret的名称，用来保存Mysql的密码
      </div>
    </div>
    <div class="form-group">
      <label for="SECRET_KEY" class="required">Secret_key</label>
      <div ng-class="{'has-error': form.SECRET_KEY.$invalid}">
        <input type="text" required select-on-focus placeholder="sercret_key" ng-model="app.SECRET_KEY"
          id="SECRET_KEY" name="SECRET_KEY" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        Secret的key值，用来保存Mysql的密码
      </div>
    </div>
    <div class="form-group">
      <label for="SPRING_DATASOURCE_JDBC" class="required">Spring_datasource_jdbc</label>
      <div ng-class="{'has-error': form.SPRING_DATASOURCE_JDBC.$invalid}">
        <input type="text" required select-on-focus placeholder="jdbc:mysql://${OCTOPUS_DB_SERVICE_NAME}:3306/saturn_console?useUnicode=true\u0026characterEncoding=utf-8\u0026allowMultiQueries=true" ng-model="app.SPRING_DATASOURCE_JDBC"
          id="SPRING_DATASOURCE_JDBC" name="SPRING_DATASOURCE_JDBC" class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false">
      </div>
      <div class="help-block">
        Mysql的地址
      </div>
    </div>
    <div ng-if="!isDialog" class="button-group gutter-bottom" ng-class="{'gutter-top': !alerts.length}">
      <button type="submit"
          class="btn btn-primary btn-lg"
          ng-click="create()"
          value=""
          ng-disabled="form.$invalid">Create</button>
      <a class="btn btn-default btn-lg" href="#" back>Cancel</a>
    </div>
  </ng-form>
</div>
