<ng-form name="persistentVolumeClaimForm">
  <fieldset ng-disabled="claimDisabled">

    <!-- Name -->
    <div class="form-group">
      <label for="claim-name" class="required">Name</label>
      <input
        id="claim-name"
        class="form-control"
        type="text"
        name="name"
        ng-model="claim.name"
        ng-required="true"
        ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/"
        ng-maxlength="253"
        ng-minlength="2"
        placeholder="my-storage-request"
        select-on-focus
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        aria-describedby="claim-name-help">
      <div>
        <span id="claim-name-help" class="help-block">A unique name for the storage claim within the project.</span>
      </div>
      <div class="has-error" ng-show="persistentVolumeClaimForm.name.$error.pattern && persistentVolumeClaimForm.name.$touched && !claimDisabled">
        <span class="help-block">
          Claim names may only contain lower-case letters, numbers, and dashes.
          They may not start or end with a dash. Max length of 253.
        </span>
      </div>
    </div>

    <div class="form-group" >
      <label class="required">Access Mode</label><br/>
      <div class="radio">

        <label class="radio-inline">
            <input type="radio" name="accessModes" ng-model="claim.accessModes" value="ReadWriteOnce" aria-describedby="access-modes-help" ng-checked="true" >
            Single User (RWO)
        </label>

        <label class="radio-inline">
          <input type="radio" id="accessModes" name="accessModes" ng-model="claim.accessModes" value="ReadWriteMany" aria-describedby="access-modes-help" >
            Shared Access (RWX)
        </label>

        <label class="radio-inline">
            <input type="radio" name="accessModes" ng-model="claim.accessModes" value="ReadOnlyMany" aria-describedby="access-modes-help">
            Read Only (ROX)
        </label>

      </div>
      <div>
        <span id="access-modes-help" class="help-block">Permissions to the mounted volume.</span>
      </div>
    </div>

    <!-- capacity -->
    <div class="form-group">
      <fieldset class="form-inline compute-resource">
      <label class="required">Capacity</label>
      <div ng-class="{ 'has-error': form.$invalid }">
        <label class="sr-only">Amount</label>
        <input type="number"
               name="amount"
               ng-attr-id="claim-amount"
               ng-model="claim.amount"
               ng-required="true"
               min="0"
               ng-attr-placeholder="10"
               class="form-control"
               ng-attr-aria-describedby="claim-capacity-help">
        <label class="sr-only" >Unit</label>
        <select ng-model="claim.unit"
                name="unit"
                ng-options="option.value as option.label for option in units"
                ng-attr-id="claim-capacity-unit"
                class="form-control inline-select">
        </select>
        </div>
      <div>
         <span id="claim-capacity-help" class="help-block">
           Size of the storage request.
        </span>
      </div>
      <div class="has-error" ng-show="persistentVolumeClaimForm.capacity.$error.pattern && persistentVolumeClaimForm.capacity.$touched && !claimDisabled">
        <span class="help-block">
          Must be a positive integer.
        </span>
      </div>
      </fieldset>
    </div>
    <!--advanced options-->
    <div>
      <a href=""
         ng-click="showAdvancedOptions = true"
         ng-show="!showAdvancedOptions">Use label selectors in the storage request </a>
      <a href=""
         ng-click="showAdvancedOptions = false"
         ng-show="showAdvancedOptions">Hide label selectors in the storage request</a>


      <div ng-show="showAdvancedOptions" class="form-group" >
        <fieldset class="compute-resource" >
          <label for="claim-name" >Label Selector</label>
          <div>
            <span id="claim-label-help" class="help-block">
              Enter a label and value to use with your requested storage.
               <div class="learn-more-block" ng-class="{ 'gutter-bottom': showPodWarning }">
                 <a href="{{'selector_label' | helpLink}}" target="_blank">Learn more <i class="fa fa-external-link" aria-hidden="true"> </i></a>
               </div>
            </span>
          </div>
          <key-value-editor
            entries="claim.selectedLabels"
            key-placeholder="label"
            value-placeholder="value"
            key-validator="[a-zA-Z][a-zA-Z0-9_-]*"
            key-validator-error-tooltip="A valid label name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores and dashes."
            add-row-link="Add Label"></key-value-editor>
        </fieldset>
      </div>
    </div>
  </fieldset>
</ng-form>
