<ng-form name="secretsForm" class="osc-secrets-form">  
  <div ng-if="strategyType !== 'Custom'"> 
    <div ng-repeat="pickedSecret in pickedSecrets">
      <div class="form-group">
        <div class="row advanced-secrets">
          <div class="col-lg-6">
            <label class="picker-label" ng-if="$first">Build Secret</label>
            <ui-select ng-required="pickedSecret.destinationDir" ng-model="pickedSecret.secret.name">
              <ui-select-match placeholder="Secret name">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="secret in (secretsByType[type] | filter : $select.search)">
                <div ng-bind-html="secret | highlight : $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="col-lg-6">
            <div class="directory">
              <label for="destinationDir" ng-if="$first">
                Destination Directory
              </label>
              <div>
                <input class="form-control"
                  id="destinationDir"
                  name="destinationDir"
                  ng-model="pickedSecret.destinationDir"
                  type="text"
                  placeholder="/"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  ng-required="pickedSecret.secret.name">
              </div>
            </div>
            <div class="remove-secret">
              <a ng-click="removeSecret($index)" href="" role="button">
                <span class="pficon pficon-close remove-btn" aria-hidden="true"></span>
                <span class="sr-only">Remove build secret</span>
              </a>
            </div>
          </div>
        </div>
        <div class="row" ng-if="$last">
          <div class="col-lg-6">
            <div class="help-block">Source secret to copy into the builder pod at build time.</div>
          </div>
          <div class="col-lg-6">
            <div class="directory">
              <div class="help-block">Directory where the files will be available at build time.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="strategyType === 'Custom'">
    <div ng-repeat="pickedSecret in pickedSecrets">
      <div class="form-group">
        <div class="row advanced-secrets">
          <div class="col-lg-6">
            <label class="picker-label" ng-if="$first">Build Secret</label>
            <ui-select ng-required="pickedSecret.mountPath !== ''" ng-model="pickedSecret.secretSource.name">
              <ui-select-match placeholder="Secret name">{{$select.selected}}</ui-select-match>
              <ui-select-choices repeat="secret in (secretsByType | filter : $select.search)">
                <div ng-bind-html="secret | highlight : $select.search"></div>
              </ui-select-choices>
            </ui-select>
          </div>

          <div class="col-lg-6">
            <div class="directory">
              <label for="mountPath" ng-if="$first">
                Mount path
              </label>
              <div>
                <input class="form-control"
                  id="mountPath"
                  name="mountPath"
                  ng-model="pickedSecret.mountPath"
                  type="text"
                  placeholder="/"
                  autocorrect="off"
                  autocapitalize="off"
                  spellcheck="false"
                  ng-required="pickedSecret.sourceSecret.name">
              </div>
            </div>
            <div class="remove-secret">
              <label class="sr-only">Remove Build Secret</label>
              <a class="pficon pficon-close remove-btn" aria-label="Delete row" role="button" ng-click="removeSecret($index)" href=""></a>
            </div>
          </div>
        </div>
        <div class="row" ng-if="$last">
          <div class="col-lg-6">
            <div class="help-block">Source secret to mount into the builder pod at build time.</div>
          </div>
          <div class="col-lg-6">
            <div class="directory">
              <div class="help-block">Path at which to mount the secret.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="osc-secret-actions">
    <span ng-if="canAddSourceSecret()">
      <a href=""
        role="button" 
        ng-click="addSourceSecret()">Add another secret</a>
      <span ng-if="'secrets' | canI : 'create'" class="action-divider">|</span>
    </span>
    <a href=""
      ng-if="'secrets' | canI : 'create'"
      role="button"
      ng-click="openCreateSecretModal()">Create new secret</a>
  </div>

</ng-form>