<ng-form name="routeForm">
  <fieldset ng-disabled="routingDisabled">

    <!-- Name -->
    <div ng-show="showNameInput" class="form-group">
      <label for="route-name" class="required">Name</label>
      <!-- regex, maxlength from k8s.io/kubernetes/pkg/util/validation/validation.go -->
      <input
          id="route-name"
          class="form-control"
          type="text"
          name="name"
          ng-model="route.name"
          ng-required="showNameInput"
          ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/"
          ng-maxlength="63"
          placeholder="my-route"
          select-on-focus
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          aria-describedby="route-name-help">
      <div>
        <span id="route-name-help" class="help-block">A unique name for the route within the project.</span>
      </div>
      <div class="has-error" ng-show="routeForm.name.$error.pattern && routeForm.name.$touched && !routingDisabled">
        <span class="help-block">
          Route names may only contain lower-case letters, numbers, and dashes.
          They may not start or end with a dash.
        </span>
      </div>
    </div>

    <!-- Host -->
    <div class="form-group">
      <label for="host">Hostname</label>
      <!-- regex, maxlength from k8s.io/kubernetes/pkg/util/validation/validation.go -->
      <input
          id="host"
          class="form-control"
          type="text"
          name="host"
          ng-model="route.host"
          ng-pattern="hostnamePattern"
          ng-maxlength="253"
          ng-readonly="hostReadOnly"
          placeholder="www.example.com"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          aria-describedby="route-host-help">
      <div>
        <span id="route-host-help" class="help-block">
          <p>
            Public hostname for the route.
            <span ng-if="!hostReadOnly">
              If not specified, a hostname is generated.
            </span>
            <span ng-if="!disableWildcards">
              You can use <var>*.example.com</var> with routers that support wildcard subdomains.
            </span>
          </p>
          <p>The hostname can't be changed after the route is created.</p>
        </span>
      </div>
      <div class="has-error" ng-show="routeForm.host.$error.pattern && routeForm.host.$touched && !routingDisabled">
        <span class="help-block">
          Hostname must consist of lower-case letters, numbers, periods, and
          hyphens. It must start and end with a letter or number.
          <span ng-if="!disableWildcards">Wildcard subdomains may start with <var>*.</var></span>
        </span>
      </div>
    </div>

    <!-- Path -->
    <div class="form-group">
      <label for="path">Path</label>
      <input
          id="path"
          class="form-control"
          type="text"
          name="path"
          ng-model="route.path"
          ng-pattern="/^\/.*$/"
          ng-disabled="route.tls.termination === 'passthrough'"
          placeholder="/"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          aria-describedby="route-path-help">
      <div>
        <span id="route-path-help" class="help-block">
          Path that the router watches to route traffic to the service.
        </span>
      </div>
      <div class="has-error" ng-show="routeForm.path.$error.pattern && routeForm.path.$touched && !routingDisabled">
        <span class="help-block">
          Path must start with <code>/</code>
        </span>
      </div>
      <div class="has-warning" ng-show="route.path && route.tls.termination === 'passthrough'">
        <span class="help-block">
          Path value will not be used. Paths cannot be set for passthrough TLS.
        </span>
      </div>
    </div>

    <!-- Service -->
    <div ng-if="services">
      <osc-routing-service model="route.to"
                           services="services"
                           show-weight="route.alternateServices.length > 1 || (controls.hideSlider && route.alternateServices.length)">
      </osc-routing-service>
    </div>

    <div ng-if="alternateServiceOptions.length && !route.alternateServices.length" class="form-group">
      <a href="" ng-click="addAlternateService()">Split traffic across multiple services</a>
    </div>

    <!-- Target Port -->
    <div ng-if="route.portOptions.length" class="form-group">
      <label for="routeTargetPort">Target Port</label>
      <ui-select ng-if="route.portOptions.length" ng-model="route.targetPort" input-id="routeTargetPort" search-enabled="false" aria-describedby="target-port-help">
        <ui-select-match>{{$select.selected.label}}</ui-select-match>
        <ui-select-choices repeat="portOption.port as portOption in route.portOptions">
          {{portOption.label}}
        </ui-select-choices>
      </ui-select>
      <div>
        <span id="target-port-help" class="help-block">
          Target port for traffic.
        </span>
      </div>
    </div>

    <!-- Alternate Services for A/B Traffic -->
    <div ng-if="route.alternateServices.length">
      <h3>Alternate Services</h3>
      <div ng-repeat="alternate in route.alternateServices" class="form-group">
        <osc-routing-service model="alternate"
                             services="alternateServiceOptions"
                             is-alternate="true"
                             show-weight="route.alternateServices.length > 1 || controls.hideSlider">
        </osc-routing-service>
        <a href="" ng-click="route.alternateServices.splice($index, 1)">Remove Service</a>
        <span ng-if="$last && route.alternateServices.length < alternateServiceOptions.length">
          <span class="action-divider">|</span>
          <a href="" ng-click="addAlternateService()">Add Another Service</a>
        </span>
      </div>
      <div ng-repeat="duplicate in duplicateServices" class="has-error mar-bottom-lg">
        <span class="help-block">
          Service {{duplicate.metadata.name}} cannot be added twice.
        </span>
      </div>
    </div>

    <!-- If there is exactly one alternate service, let the user change the weights using a slider. -->
    <div ng-if="route.alternateServices.length === 1 && !controls.hideSlider">
      <h3>Service Weights</h3>
      <div class="form-group">
        <div class="weight-slider-values">
          <div>
            <span class="service-name">{{route.to.service.metadata.name}}</span>
            <span class="weight-percentage">{{weightAsPercentage(route.to.weight)}}</span>
          </div>
          <div>
            <span class="weight-percentage hidden-xs">{{weightAsPercentage(route.alternateServices[0].weight)}}</span>
            <span class="service-name">{{route.alternateServices[0].service.metadata.name}}</span>
            <span class="weight-percentage visible-xs-inline">{{weightAsPercentage(route.alternateServices[0].weight)}}</span>
          </div>
        </div>
        <label class="sr-only" for="weight-slider">Service {{route.to.service.metadata.name}} Weight</label>
        <input
            id="weight-slider"
            type="range"
            min="0"
            max="100"
            step="1"
            list="ticks"
            ng-model="controls.rangeSlider"
            aria-describedby="weight-slider-help"
            class="mar-top-md">
        <datalist id="ticks">
          <option>0</option>
          <option>25</option>
          <option>50</option>
          <option>75</option>
          <option>100</option>
        </datalist>
        <div class="help-block" id="weight-slider-help">
          Percentage of traffic sent to each service. Drag the slider to adjust the values or
          <a href="" ng-click="controls.hideSlider = true">edit weights as integers</a>.
        </div>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="secureRoute" aria-describedby="secure-route-help">
        Secure route
      </label>
      <div class="help-block" id="secure-route-help">
        Routes can be secured using several TLS termination types for serving certificates.
      </div>
    </div>

    <div ng-show="secureRoute">
      <!-- TLS Termination -->
      <div class="form-group">
        <label for="tlsTermination">TLS Termination</label>
        <ui-select ng-model="route.tls.termination" input-id="tlsTermination" search-enabled="false">
          <ui-select-match>{{$select.selected | humanizeTLSTermination}}</ui-select-match>
          <ui-select-choices repeat="option in ['edge', 'passthrough', 'reencrypt']">
            {{option | humanizeTLSTermination}}
          </ui-select-choices>
        </ui-select>
        <div class="learn-more-block help-block">
          <a href="{{'route-types' | helpLink}}" target="_blank">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>

      <!-- Insecure Edge Termination Policy -->
      <div class="form-group">
        <label for="insecureTraffic">Insecure Traffic</label>
        <ui-select ng-model="route.tls.insecureEdgeTerminationPolicy" ng-disabled="route.tls.termination !== 'edge'" input-id="insecureTraffic" aria-describedby="route-insecure-policy-help" search-enabled="false">
          <ui-select-match>{{$select.selected.label}}</ui-select-match>
          <ui-select-choices repeat="option.value as option in insecureTrafficOptions">
            {{option.label}}
          </ui-select-choices>
        </ui-select>
        <div>
          <span id="route-insecure-policy-help" class="help-block">
            Policy for traffic on insecure schemes like HTTP for edge termination.
          </span>
        </div>
      </div>

      <!-- Key and Certificates -->
      <h3>Certificates</h3>
      <div>
        <span class="help-block">
          TLS certificates for edge and re-encrypt termination. If not
          specified, the router's default certificate is used.
        </span>
      </div>
      <div ng-if="showCertificatesNotUsedWarning" class="has-warning">
        <span class="help-block">
          The certificate or key you've set will not be used.
          <span ng-if="!route.tls.termination">
            The route is unsecured.
          </span>
          <span ng-if="route.tls.termination === 'passthrough'">
            Custom certificates cannot be used with passthrough termination.
          </span>
        </span>
      </div>
      <fieldset>
        <div>
          <div class="form-group" id="certificate-file">
            <label>Certificate</label>
            <osc-file-input
              model="route.tls.certificate"
              drop-zone-id="certificate-file"
              show-text-area="true"
              help-text="The PEM format certificate. Upload file by dragging & dropping, selecting it, or pasting from the clipbard."
              ng-disabled="disableCertificateInputs()">
            </osc-file-input>
          </div>
          <div class="form-group" id="private-key-file">
            <label>Private Key</label>
            <osc-file-input
              model="route.tls.key"
              drop-zone-id="private-key-file"
              show-text-area="true"
              help-text="The PEM format key. Upload file by dragging & dropping, selecting it, or pasting from the clipboard."
              ng-disabled="disableCertificateInputs()">
          </osc-file-input>
          </div>
          <div class="form-group" id="ca-certificate-file">
            <label>CA Certificate</label>
            <osc-file-input
              model="route.tls.caCertificate"
              drop-zone-id="ca-certificate-file"
              show-text-area="true"
              help-text="The PEM format CA certificate. Upload file by dragging & dropping, selecting it, or pasting from the clipboard."
              ng-disabled="disableCertificateInputs()">
            </osc-file-input>
          </div>
          <div class="form-group" id="dest-ca-certificate-file">
            <label>Destination CA Certificate</label>
            <osc-file-input
                model="route.tls.destinationCACertificate"
                show-text-area="true"
                drop-zone-id="dest-ca-certificate-file"
                help-text="The PEM format CA certificate to validate the endpoint certificate for re-encrypt termination. Upload file by dragging & dropping, selecting it, or pasting from the clipboard."
                ng-disabled="route.tls.termination !== 'reencrypt'">
            </osc-file-input>
            <!-- Show a warning if the value won't be used, but only if we're
                 not already showing the generic certificate warning above. -->
            <div ng-if="route.tls.destinationCACertificate && route.tls.termination !== 'reencrypt' && !showCertificatesNotUsedWarning" class="has-warning">
              <span class="help-block">
                The destination CA certificate will not be used. Destination CA
                certificates are only used for re-encrypt termination.
              </span>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </fieldset>
</ng-form>
