<ng-form name="secretsForm" class="osc-secrets-form">
  <div class="form-group">

    <label class="picker-label">{{displayType | startCase}} Secret</label>
    <ui-select ng-model="pickedSecret.name">
      <ui-select-match placeholder="Secret name">{{$select.selected}}</ui-select-match>
      <ui-select-choices repeat="secret in (secretsByType[type] | filter : $select.search)">
        <div ng-bind-html="secret | highlight : $select.search"></div>
      </ui-select-choices>
    </ui-select>
    <div ng-switch="displayType">
      <div class="help-block" ng-switch-when="source">
        Secret with credentials for pulling your source code.
        <a href="{{'git_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn more&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
      </div>
      <div class="help-block" ng-switch-when="pull">
        Secret for authentication when pulling images from a secured registry.
        <a href="{{'pull_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn more&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
      </div>
      <div class="help-block" ng-switch-when="push">
        Secret for authentication when pushing images to a secured registry.
        <a href="{{'pull_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn more&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
      </div>
    </div>
  </div>

  <span>
    <a href=""
      ng-if="'secrets' | canI : 'create'"
      role="button" 
      ng-click="openCreateSecretModal()">Create {{displayType}} secret</a>
  </span>
    
</ng-form>
