<div class="order-service">
  <pf-wizard
       hide-header="true"
       hide-sidebar="true"
       hide-back-button="!$ctrl.useProjectTemplate"
       step-class="order-service-wizard-step"
       wizard-ready="$ctrl.wizardReady"
       next-title="$ctrl.nextTitle"
       next-callback="$ctrl.next"
       on-finish="$ctrl.close()"
       on-cancel="$ctrl.close()"
       wizard-done="$ctrl.wizardDone"
       current-step="$ctrl.currentStep"
       ng-class="{'pf-wizard-no-back': !$ctrl.useProjectTemplate}">
    <pf-wizard-step ng-repeat="step in $ctrl.steps track by step.id"
         step-title="{{step.label}}"
         wz-disabled="{{step.hidden}}"
         allow-click-nav="step.allowClickNav"
         next-enabled="step.valid"
         prev-enabled="step.prevEnabled"
         on-show="step.onShow"
         step-id="{{step.id}}"
         step-priority="{{$index}}">
      <div class="wizard-pf-main-inner-shadow-covers">
        <div class="order-service-details" ng-if="!$ctrl.selectStep.selected">
          <div class="order-service-details-top">
            <div class="service-icon">
              <span class="icon {{$ctrl.iconClass}}"></span>
            </div>
            <div class="service-title-area">
              <div class="service-title">
                {{$ctrl.template | displayName}}
              </div>
              <div class="order-service-tags">
                <span ng-repeat="tag in $ctrl.template.metadata.annotations.tags.split(',')" class="tag">
                  {{tag}}
                </span>
              </div>
            </div>
          </div>
          <div class="order-service-description-block">
            <p ng-bind-html="$ctrl.template | description | linky : '_blank'" class="description"></p>
          </div>
        </div>
        <div class="order-service-config" ng-class="{'order-service-config-single-column': $ctrl.selectStep.selected}">
          <div ng-if="step.selected" ng-include="step.view" class="wizard-pf-main-form-contents"></div>
        </div>
      </div>
    </pf-wizard-step>
  </pf-wizard>
</div>
