<fieldset ng-if="$ctrl.template" ng-disabled="disableInputs">
  <ng-form name="$ctrl.templateForm">
    <select-project ng-if="!$ctrl.project" on-project-selected="$ctrl.onProjectSelected" available-projects="$ctrl.availableProjects" selected-project="$ctrl.selectedProject" name-taken="$ctrl.projectNameTaken"></select-project>
    <span ng-show="!$ctrl.noProjectsCantCreate">
      <template-options is-dialog="$ctrl.isDialog" parameters="$ctrl.template.parameters" expand="true" can-toggle="false">
      </template-options>
      <label-editor
          labels="$ctrl.labels"
          expand="true"
          can-toggle="false"
          help-text="Each label is applied to each created resource.">
      </label-editor>
      <div ng-if="!$ctrl.isDialog" class="buttons gutter-top-bottom">
        <button class="btn btn-primary btn-lg" ng-click="$ctrl.createFromTemplate()" ng-disabled="$ctrl.templateForm.$invalid || $ctrl.disableInputs">Create</button>
        <a class="btn btn-default btn-lg" href="" ng-click="$ctrl.cancel()" role="button">Cancel</a>
      </div>
    </span>
  </ng-form>
</fieldset>
