<div class="osc-form">
  <alerts alerts="$ctrl.alerts"></alerts>
  <div class="row">
    <div class="col-md-2 icon hidden-sm hidden-xs">
      <custom-icon resource="$ctrl.template" kind="template"></custom-icon>
    </div>
    <div class="col-md-8">
      <fieldset ng-disabled="disableInputs">
        <osc-image-summary resource="$ctrl.template"></osc-image-summary>
        <div ng-if="$ctrl.templateImages.length" class="images">
          <h2>Images</h2>
          <ul class="list-unstyled" ng-repeat="image in $ctrl.templateImages">
            <li>
              <i class="pficon pficon-image" aria-hidden="true"></i>
              <span class="name">
                {{image.name}}
              </span>
              <span ng-if="image.usesParameters.length" class="text-muted small">
                <span ng-if="!image.name">Image value set</span>
                from parameter<span ng-if="image.usesParameters.length > 1">s</span>
                <span ng-repeat="parameterName in image.usesParameters">
                  {{$ctrl.parameterDisplayNames[parameterName]}}<span ng-if="!$last">,</span>
                </span>
              </span>
            </li>
          </ul>
        </div>
        <form name="$ctrl.templateForm">
          <template-options parameters="$ctrl.template.parameters" expand="true" can-toggle="false"></template-options>
          <label-editor
              labels="$ctrl.labels"
              system-labels="$ctrl.systemLabels"
              expand="true"
              can-toggle="false"
              help-text="Each label is applied to each created resource.">
          </label-editor>
          <alerts alerts="$ctrl.precheckAlerts"></alerts>
          <div class="buttons gutter-top-bottom">
            <button class="btn btn-primary btn-lg" ng-click="$ctrl.createFromTemplate()" ng-disabled="$ctrl.templateForm.$invalid || $ctrl.disableInputs">Create</button>
            <a class="btn btn-default btn-lg" href="{{$ctrl.project | projectOverviewURL}}">Cancel</a>
          </div>
        </form>
      </fieldset>
    </div>
  </div>
</div><!-- /osc-form -->
