<fieldset ng-disabled="disableInputs">
  <ng-form name="$ctrl.templateForm">
    <template-options is-dialog="$ctrl.isDialog" parameters="$ctrl.template.parameters" expand="true" can-toggle="false">
      <select-project ng-if="!$ctrl.project" selected-project="$ctrl.selectedProject" name-taken="$ctrl.projectNameTaken"></select-project>
    </template-options>
    <label-editor
        labels="$ctrl.labels"
        expand="true"
        can-toggle="false"
        help-text="{{'Each label is applied to each created resource.'|translate}}">
    </label-editor>
    <div ng-if="!$ctrl.isDialog" class="buttons gutter-top-bottom">
      <button class="btn btn-primary btn-lg" ng-click="$ctrl.createFromTemplate()" ng-disabled="$ctrl.templateForm.$invalid || $ctrl.disableInputs" translate>Create</button>
      <a class="btn btn-default btn-lg" href="" ng-click="$ctrl.cancel()" role="button" translate>Cancel</a>
    </div>
  </ng-form>
</fieldset>
