<div class="bind-service-wizard unbind-service">
  <pf-wizard
    wizard-title="Delete Binding"
    hide-sidebar="true"
    hide-back-button="true"
    step-class="bind-service-wizard-step"
    wizard-ready="ctrl.wizardReady"
    next-title="ctrl.nextTitle"
    on-finish="ctrl.closeWizard()"
    on-cancel="ctrl.closeWizard()"
    wizard-done="ctrl.wizardComplete">
    <pf-wizard-step
      ng-repeat="step in ctrl.steps track by step.id"
      step-title="{{step.label}}"
      next-enabled="step.valid"
      allow-click-nav="false"
      on-show="step.onShow"
      step-id="{{step.id}}"
      step-priority="{{$index}}">
      <div class="wizard-pf-main-inner-shadow-covers">
        <div class="bind-service-config">
          <div ng-include="step.view" class="wizard-pf-main-form-contents"></div>
        </div>
      </div>
    </pf-wizard-step>
  </pf-wizard>
</div>
