<div class="middle">
  <div class="middle-header">
    <div class="container-fluid">
      <breadcrumbs breadcrumbs="$ctrl.breadcrumbs"></breadcrumbs>
      <div class="page-header page-header-bleed-right page-header-bleed-left">
        <h1>Events</h1>
      </div>
    </div>
  </div><!-- /middle-header-->
  <div class="middle-content">
    <div class="container-fluid">
      <alerts alerts="$ctrl.alerts"></alerts>
      <div class="row">
        <div class="col-md-12" ng-if="$ctrl.projectContext">
          <events project-context="$ctrl.projectContext" ng-if="$ctrl.projectContext"></events>
        </div>
      </div>
    </div>
  </div><!-- /middle-content -->
</div>
