/*
 * This is an empty extensions stylesheet file. Extensions stylesheets are
 * loaded by the Web Console when set in assetConfig in master-config.yaml.
 * For example,
 *
 * assetConfig:
 *  extensionStylesheets:
 *   - "/home/vagrant/extensions/extension1/css/ext1.css"
 *   - "/home/vagrant/extensions/extension2/css/ext2.css"
 *
 * You can modify this file to test extensions in a development environment.
 */
.icon-octopus,.icon-hawk,.icon-squid{
  display: inline-block;
  width: 28px;
  height: 28px;
}
.icon-octopus{
  background: url("../images/icon-octopus.png");
  background-size: 100%;
}
.icon-hawk{
  background: url("../images/icon-hawk.png");
  background-size: 100%;
}
.icon-squid{
  background: url("../images/icon-squid.png");
  background-size: 100%;
}
