/*
 * This is an empty extensions stylesheet file. Extensions stylesheets are
 * loaded by the Web Console when set in assetConfig in master-config.yaml.
 * For example,
 *
 * assetConfig:
 *  extensionStylesheets:
 *   - "/home/vagrant/extensions/extension1/css/ext1.css"
 *   - "/home/vagrant/extensions/extension2/css/ext2.css"
 *
 * You can modify this file to test extensions in a development environment.
 */
.icon-octopus,.icon-hawk,.icon-squid,.icon-monitor,.icon-octopus-dependence,.icon-hawk-dependence,.icon-squid-dependence{
  display: inline-block;
  width: 28px;
  height: 28px;
}
.icon-octopus{
  background: url("../images/icon-octopus.png");
  background-size: 100%;
}
.icon-hawk{
  background: url("../images/icon-hawk.png");
  background-size: 100%;
}
.icon-squid{
  background: url("../images/icon-squid.png");
  background-size: 100%;
}
.icon-monitor{
  background: url("../images/icon-monitor.svg");
  background-size: 100%;
}
.icon-octopus-dependence{
  background: url("../images/icon-octopus-dependence.svg");
  background-size: 100%;
}
.icon-hawk-dependence{
  background: url("../images/icon-hawk-dependence.svg");
  background-size: 100%;
}
.icon-squid-dependence{
  background: url("../images/icon-squid-dependence.svg");
  background-size: 100%;
}
.icon-octopus-m,.icon-hawk-m,.icon-squid-m,.icon-monitor-m{
  display: inline-block;
  width: 48px;
  height: 48px;
}
.icon-octopus-m{
  background: url("../images/icon-octopus.png");
  background-size: 100%;
}
.icon-hawk-m{
  background: url("../images/icon-hawk.png");
  background-size: 100%;
}
.icon-squid-m{
  background: url("../images/icon-squid.png");
  background-size: 100%;
}
.icon-monitor-m{
  background: url("../images/icon-monitor.svg");
  background-size: 100%;
}
.icon-octopus-b,.icon-hawk-b,.icon-squid-b{
  display: inline-block;
  width: 100px;
  height: 100px;
}
.icon-octopus-b{
  background: url("../images/icon-octopus.png");
  background-size: 100%;
}
.icon-hawk-b{
  background: url("../images/icon-hawk.png");
  background-size: 100%;
}
.icon-squid-b{
  background: url("../images/icon-squid.png");
  background-size: 100%;
}
