<nav class="navbar navbar-pf-vertical" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle visible-xs" ng-click="toggleMobileNav()" on-esc="closeMobileNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <!-- JS click handler for #openshift-logo -->
    <a class="navbar-brand" id="openshift-logo" href="./">
      <div id="header-logo"></div>
    </a>
  </div>
  <navbar-utility></navbar-utility>
</nav>

<div ng-show="currentProjectName && !chromeless" class="project-bar">
  <div class="toggle-menu">
    <button type="button" class="navbar-toggle project-action-btn" ng-click="toggleNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="form-group">
    <!-- Use title="" to prevent "Nothing selected" from briefly flashing while the projects are still loading. -->
    <select class="selectpicker form-control" data-selected-text-format="count>3" id="boostrapSelect" title=""></select>
  </div>
  <!-- create buttons show at mobile -->
  <div class="dropdown add-to-project" ng-if="canIAddToProject" uib-dropdown>
    <a class="dropdown-toggle" href="" ng-disabled="currentProject.status.phase != 'Active'" title="Add to Project" uib-dropdown-toggle>
      <i class="fa fa-plus visible-xs-inline-block" aria-hidden="true" title="Add to Project"></i><span class="hidden-xs">Add to Project</span><span class="hidden-xs caret" aria-hidden="true" title="Add to Project"></span>
    </a>
    <ul role="menu" uib-dropdown-menu class="dropdown-menu dropdown-menu-right">
      <li ng-if-start="!catalogLandingPageEnabled" role="menuitem"><a ng-href="project/{{currentProjectName}}/create?tab=fromCatalog">Browse Catalog</a></li>
      <li role="menuitem"><a ng-href="project/{{currentProjectName}}/create?tab=deployImage">Deploy Image</a></li>
      <li ng-if-end role="menuitem"><a ng-href="project/{{currentProjectName}}/create?tab=fromFile">Import YAML / JSON</a></li>

      <li ng-if-start="catalogLandingPageEnabled" role="menuitem"><a href="/">Browse Catalog</a></li>
      <li role="menuitem"><a href="" ng-click="showOrderingPanel('deployImage')">Deploy Image</a></li>
      <li ng-if-end role="menuitem"><a href="" ng-click="showOrderingPanel('fromFile')">Import YAML / JSON</a></li>
    </ul>
  </div>
</div> <!-- /project-bar -->

<sidebar></sidebar>

<overlay-panel show-panel="ordering.panelName" show-close="true" handle-close="closeOrderingPanel">
  <deploy-image-dialog ng-if="ordering.panelName === 'deployImage'" project="currentProject" context="context" on-dialog-closed="closeOrderingPanel"></deploy-image-dialog>
  <from-file-dialog ng-if="ordering.panelName === 'fromFile'" project="currentProject" context="context" on-dialog-closed="closeOrderingPanel"></from-file-dialog>
</overlay-panel>
