<ng-include ng-if="globalTechPreviewIndicator" src="'views/directives/header/_tech-preview-banner.html'" class="tech-preview-banner"></ng-include>
<nav class="navbar navbar-pf-alt" role="navigation">
  <div class="navbar-header hidden-xs">
    <a class="navbar-home" href="./"><span class="fa-fw pficon pficon-home" aria-hidden="true"></span>
      <span class="visible-xlg-inline-block">
        <span ng-if="'service_catalog_landing_page' | enableTechPreviewFeature">
          Home
        </span>
        <span ng-if="!('service_catalog_landing_page' | enableTechPreviewFeature)">
          Projects
        </span>
      </span></a>
  </div>
  <div class="nav navbar-project-menu">
    <!-- mobile nav menu -->
    <div row class="navbar-flex-btn toggle-menu">
      <button type="button" class="navbar-toggle project-action-btn ng-isolate-scope" data-toggle="collapse" data-target=".navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="form-group">
      <!-- Use title="" to prevent "Nothing selected" from briefly flashing while the projects are still loading. -->
      <select class="selectpicker form-control" data-selected-text-format="count>3" id="boostrapSelect" title=""></select>
    </div>
    <!-- create buttons show at mobile -->
    <div row class="dropdown navbar-flex-btn" ng-if="project.metadata.name | canIAddToProject" uib-dropdown>
      <a row class="nav-item-iconic dropdown-toggle add-to-project-btn" href="" ng-disabled="project.status.phase != 'Active'" title="Add to Project" uib-dropdown-toggle>
        <i class="fa fa-plus visible-xs-inline-block" aria-hidden="true" title="Add to Project"></i><span class="hidden-xs add-to-project">Add to Project</span><span class="hidden-xs caret" aria-hidden="true" title="Add to Project"></span>
      </a>
      <ul role="menu" class="uib-dropdown-menu dropdown-menu dropdown-menu-right">
        <li ng-if-start="!catalogLandingPageEnabled" role="menuitem"><a ng-href="project/{{projectName}}/create?tab=fromCatalog">Browse Catalog</a></li>
        <li role="menuitem"><a ng-href="project/{{projectName}}/create?tab=deployImage">Deploy Image</a></li>
        <li role="menuitem"><a ng-href="project/{{projectName}}/create?tab=fromFile">Import YAML / JSON</a></li>
        <li role="menuitem"><a ng-href="project/{{projectName}}/create?tab=fromOctopus">Octopus</a></li>
        <li ng-if-end role="menuitem"><a ng-href="project/{{projectName}}/create?tab=fromSquid">Squid</a></li>

        <li ng-if-start="catalogLandingPageEnabled" role="menuitem"><a href="/">Browse Catalog</a></li>
        <li role="menuitem"><a href="" ng-click="showOrderingPanel('deployImage')">Deploy Image</a></li>
        <li role="menuitem"><a href="" ng-click="showOrderingPanel('fromFile')">Import YAML / JSON</a></li>
        <li role="menuitem"><a href="" ng-click="showOrderingPanel('fromOctopus')">Octopus</a></li>
        <li ng-if-end role="menuitem"><a href="" ng-click="showOrderingPanel('fromSquid')">Squid</a></li>
      </ul>
    </div>
    <div row
      extension-point
      extension-name="nav-system-status-mobile"
      extension-types="dom"
      class="navbar-flex-btn hide-if-empty"></div>
  </div> <!-- /navbar-project-menu -->
  <navbar-utility class="hidden-xs"></navbar-utility>
</nav>
<deploy-image-dialog visible="ordering.panelName === 'deployImage'" project="project" context="context" on-dialog-closed="closeOrderingPanel"></deploy-image-dialog>
<from-file-dialog visible="ordering.panelName === 'fromFile'" project="project" context="context" on-dialog-closed="closeOrderingPanel"></from-file-dialog>
