<nav class="navbar navbar-pf-vertical" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle visible-xs" ng-click="toggleMobileNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
      <img class="navbar-brand-name" src="./../images/logo-origin-thin.svg" alt="OpenShift Origin">
    </a>
  </div>
  <navbar-utility class="hidden-xs"></navbar-utility>
</nav>

<div ng-show="projectName" class="project-bar">
  <div class="toggle-menu">
    <button type="button" class="navbar-toggle project-action-btn" ng-click="toggleNav()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="form-group">
    <!-- Use title="" to prevent "Nothing selected" from briefly flashing while the projects are still loading. -->
    <select class="selectpicker form-control" data-selected-text-format="count>3" id="boostrapSelect" title=""></select>
  </div>
  <!-- create buttons show at mobile -->
  <div class="dropdown navbar-flex-btn" ng-show="canIAddToProject" uib-dropdown>
    <a class="dropdown-toggle add-to-project-btn" href="" ng-disabled="project.status.phase != 'Active'" title="Add to Project" uib-dropdown-toggle>
      <i class="fa fa-plus visible-xs-inline-block" aria-hidden="true" title="Add to Project"></i><span class="hidden-xs add-to-project">Add to Project</span><span class="hidden-xs caret" aria-hidden="true" title="Add to Project"></span>
    </a>
    <ul role="menu" uib-dropdown-menu class="dropdown-menu dropdown-menu-right">
      <li ng-if-start="!catalogLandingPageEnabled" role="menuitem"><a ng-href="project/{{projectName}}/create?tab=fromCatalog">Browse Catalog</a></li>
      <li role="menuitem"><a ng-href="project/{{projectName}}/create?tab=deployImage">Deploy Image</a></li>
      <li ng-if-end role="menuitem"><a ng-href="project/{{projectName}}/create?tab=fromFile">Import YAML / JSON</a></li>

      <li ng-if-start="catalogLandingPageEnabled" role="menuitem"><a href="/">Browse Catalog</a></li>
      <li role="menuitem"><a href="" ng-click="showOrderingPanel('deployImage')">Deploy Image</a></li>
      <li ng-if-end role="menuitem"><a href="" ng-click="showOrderingPanel('fromFile')">Import YAML / JSON</a></li>
    </ul>
  </div>
  <div row
    extension-point
    extension-name="nav-system-status-mobile"
    extension-types="dom"
    class="navbar-flex-btn hide-if-empty"></div>
</div> <!-- /project-bar -->


<deploy-image-dialog visible="ordering.panelName === 'deployImage'" project="project" context="context" on-dialog-closed="closeOrderingPanel"></deploy-image-dialog>
<from-file-dialog visible="ordering.panelName === 'fromFile'" project="project" context="context" on-dialog-closed="closeOrderingPanel"></from-file-dialog>
