<div ng-if="ctrl.target.kind !== 'Instance'">
  <bind-application-form application-name="ctrl.target.metadata.name"
                         form-name="ctrl.selectionForm"
                         service-classes="ctrl.serviceClasses"
                         service-instances="ctrl.orderedServiceInstances"
                         service-to-bind="ctrl.serviceToBind">
  </bind-application-form>
</div>
<div ng-if="ctrl.target.kind === 'Instance'">
  <bind-service-form selected-project="ctrl.project"
                     service-class="ctrl.serviceClass"
                     service-class-name="ctrl.serviceClassName"
                     form-name="ctrl.selectionForm"
                     applications="ctrl.applications"
                     app-to-bind="ctrl.appToBind"
                     should-bind-to-app="ctrl.shouldBindToApp"
                     group-by-kind="ctrl.groupByKind">
  </bind-service-form>
</div>
