<div ng-if="ctrl.target.kind !== 'ServiceInstance'">
  <bind-application-form application-name="ctrl.target.metadata.name"
                         form-name="ctrl.selectionForm"
                         service-classes="ctrl.serviceClasses"
                         service-instances="ctrl.orderedServiceInstances"
                         service-to-bind="ctrl.serviceToBind">
  </bind-application-form>
</div>
<div ng-if="ctrl.target.kind === 'ServiceInstance'">
  <bind-service-form selected-project="ctrl.project"
                     service-class="ctrl.serviceClass"
                     form-name="ctrl.selectionForm"
                     show-pod-presets="ctrl.podPresets"
                     applications="ctrl.applications"
                     project-name="ctrl.projectDisplayName"
                     bind-type="ctrl.bindType"
                     app-to-bind="ctrl.appToBind">
  </bind-service-form>
</div>
