<!-- TODO: handle path where we come in with no target -->
<h3 class="mar-top-none">Select a service to bind to <strong>{{ctrl.target.metadata.name}}</strong></h3>
Binding to a provisioned service will create a secret containing the information necessary
for your application to use the service.
<form name="serviceSelection" class="mar-bottom-lg">
  <fieldset ng-disabled="ctrl.isDisabled">
    <div class="radio" ng-repeat="serviceInstance in ctrl.orderedServiceInstances">
      <label>
        <input type="radio" ng-model="ctrl.serviceToBind" value="{{serviceInstance.metadata.name}}">
        {{ctrl.serviceClasses[serviceInstance.spec.serviceClassName].osbMetadata.displayName || serviceInstance.spec.serviceClassName}}
        <span ng-if="(serviceInstance | statusCondition : 'Ready').status !== 'True'" class="mar-left-sm">
          <span class="pficon pficon-info" data-content="This service is not yet ready. If you bind to it, then the binding will be pending until the service is ready." data-toggle="popover" data-trigger="hover"></span>
        </span>
        <div class="help-block mar-top-none">
          {{serviceInstance.metadata.name}}
        </div>
      </label>
    </div>
  </fieldset>
</form>
