<div class="row" style="max-width: 650px;">
  <div class="col-sm-4 col-sm-push-8 browse-deployment-donut">
    <deployment-donut
        rc="replicaSet"
        deployment="deployment"
        deployment-config="deploymentConfig"
        pods="podsForDeployment"
        hpa="autoscalers"
        scalable="isScalable()"
        limit-ranges="limitRanges"
        project="project"
        quotas="quotas"
        cluster-quotas="clusterQuotas">
    </deployment-donut>
  </div>
  <div class="col-sm-8 col-sm-pull-4">
    <dl class="dl-horizontal left">
      <dt ng-if-start="replicaSet | hasDeploymentConfig">Status:</dt>
      <dd ng-if-end>
        <status-icon status="replicaSet | deploymentStatus"></status-icon>
        {{replicaSet | deploymentStatus}}
        <span style="margin-left: 7px;">
          <button ng-show="!rollBackCollapsed && showRollbackAction()" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0" type="button" class="btn btn-default btn-xs" ng-click="rollBackCollapsed = !rollBackCollapsed">Roll Back</button>
          <div ng-show="rollBackCollapsed" class="well well-sm">
            Use the following settings from {{replicaSet.metadata.name}} when rolling back:
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="changeScaleSettings" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0"> replica count and selector
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="changeStrategy" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0"> deployment strategy
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="changeTriggers" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0"> deployment trigger
              </label>
            </div>
            <button type="button" ng-click="rollbackToDeployment(replicaSet, changeScaleSettings, changeStrategy, changeTriggers)" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0" class="btn btn-default btn-xs">Roll Back</button>
          </div>
          <!-- disabled until we have an api endpoint for retry
          <button ng-show="(replicaSet | deploymentStatus) == 'Failed'" type="button" ng-click="retryFailedDeployment(replicaSet)" ng-disabled="(deploymentConfigDeploymentsInProgress[deploymentConfigName] | hashSize) > 0" class="btn btn-default btn-xs" ng-if="(replicaSet | deploymentIsLatest : deploymentConfig) && !replicaSet.metadata.deletionTimestamp">Retry</button>
          -->
          <button ng-show="(replicaSet | deploymentIsInProgress) && !replicaSet.metadata.deletionTimestamp && ('replicationcontrollers' | canI : 'update')" type="button" ng-click="cancelRunningDeployment(replicaSet)" class="btn btn-default btn-xs">Cancel</button>
        </span>
      </dd>
      <dt ng-if-start="replicaSet | hasDeploymentConfig">Deployment Config:</dt>
      <dd ng-if-end>
        <a ng-href="{{replicaSet | configURLForResource}}">{{deploymentConfigName}}</a>
      </dd>
      <dt ng-if-start="deployment">Deployment:</dt>
      <dd ng-if-end>
        <a ng-href="{{deployment | navigateResourceURL}}">{{deployment.metadata.name}}</a>
      </dd>
      <dt ng-if-start="replicaSet | annotation:'deploymentStatusReason'">Status Reason:</dt>
      <dd ng-if-end>
        {{replicaSet | annotation:'deploymentStatusReason'}}
      </dd>
      <dt ng-if-start="replicaSet | deploymentIsInProgress">Duration:</dt>
      <dd ng-if-end>
        <span ng-switch="replicaSet | deploymentStatus" class="hide-ng-leave">
          <span ng-switch-when="Running">running for <duration-until-now timestamp="replicaSet.metadata.creationTimestamp"></duration-until-now></span>
          <span ng-switch-default>waiting for <duration-until-now timestamp="replicaSet.metadata.creationTimestamp"></duration-until-now></span>
        </span>
      </dd>
      <dt>Selectors:</dt>
      <dd>
        <selector selector="replicaSet.spec.selector"></selector>
      </dd>
      <dt>Replicas:</dt>
      <dd>
        <!-- Enable scaling if this is a plain replication controller or it's the active deployment,
             as long as it doesn't have an HPA. -->
        <replicas status="replicaSet.status.replicas"
                  spec="replicaSet.spec.replicas"
                  disable-scaling="!isScalable()"
                  scale-fn="scale(replicas)"
                  deployment="replicaSet">
        </replicas>
        <span ng-if="autoscalers.length">(autoscaled)</span>
      </dd>
    </dl>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="deployment-detail">
      <h3>Template</h3>
      <pod-template
        pod-template="replicaSet.spec.template"
        images-by-docker-reference="imagesByDockerReference"
        builds="builds"
        detailed="true"
        add-health-check-url="{{((!deploymentConfig || isActive) && ('deploymentconfigs' | canI : 'update')) ? healthCheckURL : ''}}">
      </pod-template>
      <h4>Volumes</h4>
      <div ng-if="kind === 'ReplicaSet'">
        <div ng-if="deployment">
          <volumes volumes="replicaSet.spec.template.spec.volumes" namespace="project.metadata.name"></volumes>
          <div ng-if="{ group: 'apps', resource: 'deployments' } | canI : 'update'">
            <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=Deployment&name={{deployment.metadata.name}}&group=apps">Add Storage</a>
            <span class="action-divider" aria-hidden="true">|</span>
            <a ng-href="project/{{project.metadata.name}}/add-config-volume?kind=Deployment&name={{deployment.metadata.name}}&group=apps">Add Config Files</a>
          </div>
          <div ng-if="!replicaSet.spec.template.spec.volumes.length && !({ group: 'apps', resource: 'deployments' } | canI : 'update')">none</div>
        </div>
        <div ng-if="!deployment">
          <div ng-if="resource | canI : 'update'">
            <volumes
                volumes="replicaSet.spec.template.spec.volumes"
                namespace="project.metadata.name"
                can-remove="true"
                remove-fn="removeVolume(volume)">
            </volumes>
            <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=ReplicaSet&name={{replicaSet.metadata.name}}&group=extensions">Add Storage</a>
            <span class="action-divider" aria-hidden="true">|</span>
            <a ng-href="project/{{project.metadata.name}}/add-config-volume?kind=ReplicaSet&name={{replicaSet.metadata.name}}&group=extensions">Add Config Files</a>
          </div>
          <div ng-if="!(resource | canI : 'update')">
            <volumes volumes="replicaSet.spec.template.spec.volumes" namespace="project.metadata.name"></volumes>
            <span ng-if="!replicaSet.spec.template.spec.volumes.length">none</span>
          </div>
        </div>
      </div>
      <div ng-if="kind === 'ReplicationController'">
        <div ng-if="deploymentConfigName">
          <volumes volumes="replicaSet.spec.template.spec.volumes" namespace="project.metadata.name"></volumes>
          <div ng-if="'deploymentconfigs' | canI : 'update'">
            <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=DeploymentConfig&name={{deploymentConfigName}}">Add Storage</a>
            <span class="action-divider" aria-hidden="true">|</span>
            <a ng-href="project/{{project.metadata.name}}/add-config-volume?kind=DeploymentConfig&name={{deploymentConfigName}}">Add Config Files</a>
          </div>
          <div ng-if="!replicaSet.spec.template.spec.volumes.length && !('deploymentconfigs' | canI : 'update')">none</div>
        </div>
        <div ng-if="!deploymentConfigName">
          <div ng-if="resource | canI : 'update'">
            <volumes
                volumes="replicaSet.spec.template.spec.volumes"
                namespace="project.metadata.name"
                can-remove="true"
                remove-fn="removeVolume(volume)">
            </volumes>
            <a ng-href="project/{{project.metadata.name}}/attach-pvc?kind=ReplicationController&name={{replicaSet.metadata.name}}">Add Storage</a>
            <span class="action-divider" aria-hidden="true">|</span>
            <a ng-href="project/{{project.metadata.name}}/add-config-volume?kind=ReplicationController&name={{replicaSet.metadata.name}}">Add Config Files</a>
          </div>
          <div ng-if="!(resource | canI : 'update')">
            <volumes volumes="replicaSet.spec.template.spec.volumes" namespace="project.metadata.name"></volumes>
            <span ng-if="!replicaSet.spec.template.spec.volumes.length">none</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Autoscaling -->
<div ng-if="!deploymentConfigName || autoscalers.length">
  <h3>Autoscaling</h3>

  <!-- Show any warnings. -->
  <div ng-repeat="warning in hpaWarnings" class="alert alert-warning">
    <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
    <span class="sr-only">Warning:</span>
    {{warning.message}}

    <!-- If the CPU request is missing, add an action to set one. -->
    <span ng-if="warning.reason === 'NoCPURequest'">
      <!-- Prompt to set CPU request on the DC if this is a deployment. -->
      <a ng-href="project/{{projectName}}/set-limits?kind=DeploymentConfig&name={{deploymentConfigName}}"
         ng-if="deploymentConfigName && !deploymentConfigMissing && ('deploymentconfigs' | canI : 'update')"
         role="button">Edit Resource
        <span ng-if="!('cpu' | isRequestCalculated : project)">Requests and</span> Limits</a>
      <!-- Prompt to set CPU request on the RC if not a deployment. -->
      <a ng-href="project/{{projectName}}/set-limits?kind=ReplicationController&name={{replicaSet.metadata.name}}"
         ng-if="!deploymentConfigName && kind === 'ReplicationController' && (resource | canI : 'update')"
         role="button">Edit Resource
        <span ng-if="!('cpu' | isRequestCalculated : project)">Requests and</span> Limits</a>
      <a ng-href="project/{{projectName}}/set-limits?kind=ReplicaSet&name={{replicaSet.metadata.name}}&group=extensions"
         ng-if="!deploymentConfigName && kind === 'ReplicaSet' && (resource | canI : 'update')"
         role="button">Edit Resource
        <span ng-if="!('cpu' | isRequestCalculated : project)">Requests and</span> Limits</a>
    </span>
  </div>

  <!-- Create autoscaler -->
  <div ng-if="!autoscalers.length">
    <span ng-if="{resource: 'horizontalpodautoscalers', group: 'autoscaling'} | canI : 'create'">
      <a ng-if="replicaSet.kind === 'ReplicaSet' && !deployment"
         ng-href="project/{{projectName}}/edit/autoscaler?kind=ReplicaSet&name={{replicaSet.metadata.name}}&group=extensions"
         role="button">Add Autoscaler</a>
      <a ng-if="replicaSet.kind === 'ReplicaSet' && deployment"
         ng-href="project/{{projectName}}/edit/autoscaler?kind=Deployment&name={{deployment.metadata.name}}&group=apps"
         role="button">Add Autoscaler</a>
      <a ng-if="replicaSet.kind === 'ReplicationController' && !deploymentConfigName"
         ng-href="project/{{projectName}}/edit/autoscaler?kind=ReplicationController&name={{replicaSet.metadata.name}}"
         role="button">Add Autoscaler</a>
      <a ng-if="replicaSet.kind === 'ReplicationController' && deploymentConfigName"
         ng-href="project/{{projectName}}/edit/autoscaler?kind=DeploymentConfig&name={{deploymentConfigName}}"
         role="button">Add Autoscaler</a>
    </span>
    <span ng-if="!({resource: 'horizontalpodautoscalers', group: 'autoscaling'} | canI : 'create')">
      Autoscaling is not enabled. There are no autoscalers for this
      <span ng-if="deploymentConfigName">deployment config or deployment.</span>
      <span ng-if="!deploymentConfigName">{{replicaSet.kind | humanizeKind}}.</span>
    </span>
  </div>

  <!-- HPA details -->
  <div ng-repeat="hpa in autoscalers | orderBy : 'name'">
    <hpa hpa="hpa"
         show-scale-target="hpa.spec.scaleTargetRef.kind !== 'ReplicationController'"
         alerts="alerts">
    </hpa>
  </div>
</div>

<h3>Pods</h3>
<pods-table pods="podsForDeployment"></pods-table>

<resource-service-bindings
  project="project"
  project-context="projectContext"
  api-object="replicaSet">
</resource-service-bindings>

<annotations annotations="replicaSet.metadata.annotations"></annotations>

