<project-header class="top-header"></project-header>
  <project-page>
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-header">
          <div class="container-fluid">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
            <alerts alerts="alerts"></alerts>
            <h1 class="contains-actions">
              <div class="pull-right dropdown" ng-if="buildConfig" ng-hide="!('buildConfigs' | canIDoAny)">
                <!-- Primary Actions -->
                <button
                    class="btn btn-default hidden-xs"
                    ng-if="('buildconfigs/instantiate' | canI : 'create') && !(buildConfig | isBinaryBuild)"
                    ng-click="startBuild()">
                  <span ng-if="!(buildConfig | isJenkinsPipelineStrategy)" translate>
                    Start Build
                  </span>
                  <span ng-if="buildConfig | isJenkinsPipelineStrategy" translate>
                    Start Pipeline
                  </span>
                </button>

                <!-- Secondary Actions -->
                <button type="button" class="dropdown-toggle actions-dropdown-btn btn btn-default hidden-xs" data-toggle="dropdown">
                  <translate>Actions</translate>
                  <span class="caret" aria-hidden="true"></span>
                </button>
                <a href=""
                   class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
                   data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
                <ul class="dropdown-menu dropdown-menu-right actions action-button">
                  <li class="visible-xs-inline" ng-if="('buildconfigs/instantiate' | canI : 'create') && !(buildConfig | isBinaryBuild)">
                    <a href="" role="button" ng-click="startBuild()">
                      <span ng-if="!(buildConfig | isJenkinsPipelineStrategy)" translate>
                        Start Build
                      </span>
                      <span ng-if="buildConfig | isJenkinsPipelineStrategy" translate>
                        Start Pipeline
                      </span>
                    </a>
                  </li>
                  <li ng-if="'buildconfigs' | canI : 'update'">
                    <a ng-href="{{buildConfig | editResourceURL}}" role="button" translate>Edit</a>
                  </li>
                  <li ng-if="'buildconfigs' | canI : 'update'">
                    <a ng-href="{{buildConfig | editYamlURL}}" role="button" translate>Edit YAML</a>
                  </li>
                  <li ng-if="'buildconfigs' | canI : 'delete'">
                    <delete-link
                      kind="BuildConfig"
                      resource-name="{{buildConfig.metadata.name}}"
                      project-name="{{buildConfig.metadata.namespace}}"
                      alerts="alerts" translate>Delete
                    </delete-link>
                  </li>
                </ul>
              </div>
              {{buildConfigName}}
              <span class="pficon pficon-warning-triangle-o"
                    ng-if="buildConfigPaused || buildConfigDeleted"
                    aria-hidden="true"
                    data-toggle="tooltip"
                    data-original-title="{{buildConfigDeleted ? 'This build configuration no longer exists' : 'Building from build configuration ' + buildConfig.metadata.name + ' has been paused.'}}">
              </span>
              <small class="meta" ng-if="buildConfig">created <span am-time-ago="buildConfig.metadata.creationTimestamp"></span></small>
            </h1>
            <labels labels="buildConfig.metadata.labels" clickable="true" kind="builds" title-kind="build configs" project-name="{{buildConfig.metadata.namespace}}" limit="3"></labels>
          </div>
        </div><!-- /middle-header-->
        <div class="middle-content" persist-tab-state>
          <div class="container-fluid">
            <div ng-if="!loaded" translate>Loading...</div>
            <div class="row" ng-if="loaded">
              <div class="col-md-12" ng-class="{ 'hide-tabs' : !buildConfig }">
                <uib-tabset>
                  <uib-tab active="selectedTab.history">
                    <uib-tab-heading translate>History</uib-tab-heading>

                    <!-- If unfilteredBuilds is undefined, the builds are still loading. -->
                    <div ng-if="!unfilteredBuilds" class="gutter-bottom" translate>Loading...</div>

                    <!-- Show an empty state message when there are no builds. -->
                    <div ng-if="buildConfig && unfilteredBuilds && (unfilteredBuilds | hashSize) === 0" class="empty-state-message text-center">
                      <h2 translate>No builds.</h2>

                        <p>
                          <span ng-if="!buildConfig.spec.strategy.jenkinsPipelineStrategy">
                            <span ng-if="!('buildconfigs/instantiate' | canI : 'create')" translate>
                              Builds will create an image from
                            </span>
                            <span ng-if="'buildconfigs/instantiate' | canI : 'create'" translate>
                              Start a new build to create an image from
                            </span>
                            <span ng-if="buildConfig.spec.source.type === 'Git'">
                              <translate>source repository</translate>
                              <span class="word-break"><osc-git-link
                                              uri="buildConfig.spec.source.git.uri"
                                              ref="buildConfig.spec.source.git.ref"
                                              context-dir="buildConfig.spec.source.contextDir">{{buildConfig.spec.source.git.uri}}</osc-git-link></span>
                            </span>
                            <span ng-if="buildConfig.spec.source.type !== 'Git'" translate>
                              build configuration {{buildConfig.metadata.name}}.
                            </span>
                          </span>
                          <span ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy">
                            <translate>No pipeline builds have run for {{buildConfigName}}.</translate>
                            <br>
                            <span ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfile" translate>
                              View the <a ng-href="{{(buildConfig | navigateResourceURL) + '?tab=configuration'}}">Jenkinsfile</a> to see what stages will run.
                            </span>
                            <span ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath">
                              <translate>View the file <code>{{buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath}}</code> in the</translate>
                              <a ng-if="buildConfig | jenkinsfileLink" ng-href="buildConfig | jenkinsfileLink" translate>source repository</a>
                              <span ng-if="!(buildConfig | jenkinsfileLink)" translate>source repository</span>
                              <translate>to see what stages will run.</translate>
                            </span>
                          </span>
                        </p>

                        <button
                            class="btn btn-primary btn-lg"
                            ng-click="startBuild()"
                            ng-if="('buildconfigs/instantiate' | canI : 'create') && !(buildConfig | isBinaryBuild)">
                          <span ng-if="!(buildConfig | isJenkinsPipelineStrategy)" translate>
                            Start Build
                          </span>
                          <span ng-if="buildConfig | isJenkinsPipelineStrategy" translate>
                            Start Pipeline
                          </span>
                        </button>

                    </div>

                    <!-- Show the latest build and a chart of the recent build duration and status. -->
                    <div ng-if="builds && (builds | hashSize) > 0" class="build-config-summary">
                      <!-- Show the latest build status first. -->
                      <div class="h3">
                        <span class="last-status">
                          <status-icon status="latestBuild.status.phase"></status-icon>
                          <translate>Build</translate>
                          <!-- Line break comments to prevent whitespace from being underlined on link hover. -->
                          <a ng-href="{{latestBuild | navigateResourceURL}}"><!--
                            --><span ng-if="latestBuild | annotation : 'buildNumber'">#{{latestBuild | annotation : 'buildNumber'}}</span><!--
                            --><span ng-if="!(latestBuild | annotation : 'buildNumber')">{{latestBuild.metadata.name}}</span><!--
                          --></a>
                          <span ng-switch="latestBuild.status.phase" class="hide-ng-leave">
                            <span ng-switch-when="Failed" translate>failed.</span>
                            <span ng-switch-when="Error" translate>encountered an error.</span>
                            <span ng-switch-when="Cancelled" translate>was cancelled.</span>
                            <span ng-switch-default><translate>is</translate> {{latestBuild.status.phase | lowercase}}.</span>
                          </span>
                        </span>
                        <span ng-if="latestBuild | buildLogURL">
                          <!-- Always show a log link for pipeline builds. -->
                          <span ng-if="latestBuild | isJenkinsPipelineStrategy">
                            <a ng-href="{{latestBuild | buildLogURL}}" target="_blank" translate>View Log</a>
                          </span>
                          <!-- Show a log link for other builds if the user can view. -->
                          <span ng-if="!(latestBuild | isJenkinsPipelineStrategy) && ('builds/log' | canI : 'get')">
                            <a ng-href="{{latestBuild | buildLogURL}}" translate>View Log</a>
                          </span>
                        </span>
                      </div>
                      <div class="last-timestamp meta text-muted">
                        <span ng-if="!latestBuild.status.startTimestamp">
                          <translate>created</translate> <span am-time-ago="latestBuild.metadata.creationTimestamp"></span>
                        </span>
                        <span ng-if="latestBuild.status.startTimestamp">
                          <translate>started</translate> <span am-time-ago="latestBuild.status.startTimestamp"></span>
                        </span>
                      </div>

                      <build-trends-chart builds="builds"></build-trends-chart>
                    </div>
                    <div ng-if="loaded && (unfilteredBuilds | hashSize) > 0" class="mar-bottom-xl">
                      <div class="table-filter-wrapper">
                        <project-filter></project-filter>
                      </div>
                      <table ng-if="!(buildConfig | isJenkinsPipelineStrategy)" class="table table-bordered table-hover table-mobile">
                        <thead>
                          <tr>
                            <th translate>Build</th>
                            <th translate>Status</th>
                            <th translate>Duration</th>
                            <th translate>Created</th>
                          </tr>
                        </thead>
                        <tbody ng-if="(builds | hashSize) == 0">
                          <tr><td colspan="3"><em>{{emptyMessage|translate}}</em></td></tr>
                        </tbody>
                        <tbody ng-if="(builds | hashSize) > 0">
                          <tr ng-repeat="build in orderedBuilds track by (build | uid)">
                            <td data-title="Build">
                              <!-- Build number and link -->
                              <span ng-if="build | annotation : 'buildNumber'">
                                <a ng-href="{{build | navigateResourceURL}}">#{{build | annotation : 'buildNumber'}}</a>
                              </span>
                              <span ng-if="!(build | annotation : 'buildNumber')">
                                <a ng-href="{{build | navigateResourceURL}}">{{build.metadata.name}}</a>
                              </span>
                            </td>
                            <td data-title="Status">
                              <div row class="status">
                                <status-icon status="build.status.phase" disable-animation></status-icon>
                                <span ng-if="!build.status.reason || build.status.phase === 'Cancelled'">{{build.status.phase}}</span>
                                <span ng-if="build.status.reason && build.status.phase !== 'Cancelled'">{{build.status.reason | sentenceCase}}</span>
                              </div>
                            </td>
                            <td data-title="Duration">
                              <duration-until-now ng-if="build.status.startTimestamp && !build.status.completionTimestamp" timestamp="build.status.startTimestamp" time-only></duration-until-now>
                              <span ng-if="build.status.startTimestamp && build.status.completionTimestamp">{{build.status.startTimestamp | duration : build.status.completionTimestamp}}</span>
                            </td>
                            <td data-title="Created">
                              <span am-time-ago="build.metadata.creationTimestamp"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div ng-if="buildConfig | isJenkinsPipelineStrategy">
                        <build-pipeline build="build" ng-repeat="build in orderedBuilds track by (build | uid)"></build-pipeline>
                        <table ng-if="(builds | hashSize) === 0" class="table table-bordered table-hover table-mobile">
                          <tbody><tr><td><em>{{emptyMessage|translate}}</em></td></tr></tbody>
                        </table>
                      </div>
                    </div>
                  </uib-tab>
                  <uib-tab active="selectedTab.configuration" ng-if="buildConfig">
                    <uib-tab-heading translate>Configuration</uib-tab-heading>
                    <div class="resource-details">
                      <div class="row">
                        <div class="col-lg-6">
                          <!--
                            Show a header at lg and xl screen sizes to balance the columns, but hide
                            it at smaller widths since "Details" is not very meaningful.
                          -->
                          <h3 class="hidden visible-lg visible-xl" translate>Details</h3>
                          <dl class="dl-horizontal left">
                            <div>
                              <dt translate>Build Strategy:</dt>
                              <dd>{{buildConfig.spec.strategy.type | startCase}}</dd>
                            </div>
                            <div ng-if="buildConfig.spec.source">
                              <div ng-if="buildConfig.spec.source.type == 'Git'">
                                <dt translate>Source Repo:</dt>
                                <dd><span class="word-break"><osc-git-link
                                          uri="buildConfig.spec.source.git.uri"
                                          ref="buildConfig.spec.source.git.ref"
                                          context-dir="buildConfig.spec.source.contextDir">{{buildConfig.spec.source.git.uri}}</osc-git-link></span></dd>
                                <dt ng-if="buildConfig.spec.source.git.ref" translate>Source Ref:</dt>
                                <dd ng-if="buildConfig.spec.source.git.ref">{{buildConfig.spec.source.git.ref}}</dd>
                                <dt ng-if="buildConfig.spec.source.contextDir" translate>Source Context Dir:</dt>
                                <dd ng-if="buildConfig.spec.source.contextDir">{{buildConfig.spec.source.contextDir}}</dd>
                              </div>
                              <div ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath">
                                <dt translate>Jenkinsfile Path:</dt>
                                <dd ng-if="buildConfig | jenkinsfileLink">
                                  <a ng-href="{{buildConfig | jenkinsfileLink}}">{{buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath}}</a>
                                </dd>
                                <dd ng-if="!(buildConfig | jenkinsfileLink)">
                                  {{buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfilePath}}
                                </dd>
                                <div class="small">
                                  <a href="" ng-click="showJenkinsfileExamples()" translate>What's a Jenkinsfile?</a>
                                </div>
                              </div>
                              <dt ng-if-start="buildConfig.spec.source.binary.asFile" translate>Binary Input as File:</dt>
                              <dd ng-if-end>{{buildConfig.spec.source.binary.asFile}}</dd>
                              <div ng-if="buildConfig.spec.source.type == 'None' && !(buildConfig | isJenkinsPipelineStrategy)">
                                <dt translate>Source:</dt>
                                <dd>
                                  <i translate>none</i>
                                  <span class="help action-inline">
                                    <a href>
                                      <i class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="No source inputs have been defined for this build configuration.">
                                      </i>
                                    </a>
                                  </span>
                                </dd>
                              </div>
                              <div ng-if="buildConfig.spec.source.images" class="image-sources">
                                <dt translate>Image Sources:</dt>
                                <dd></dd>
                                <div ng-repeat="imageSource in imageSources" class="image-source-item">
                                  <h4>{{imageSource.from | imageObjectRef : buildConfig.metadata.namespace}}</h4>
                                  <dl class="dl-horizontal left">
                                    <div class="is-item-description">
                                      <dt translate>Paths:</dt>
                                      <div ng-repeat="(source, destination) in imageSourcesPaths[$index]" class="image-source-paths">
                                        <dd><span class="source-path">{{source}}</span><i class="fa fa-long-arrow-right"></i><span class="destination-dir">{{destination}}</span></dd>
                                      </div>
                                    </div>
                                  </dl>
                                </div>
                              </div>
                            </div>
                            <dt ng-if-start="buildFrom = (buildConfig | buildStrategy).from" translate>Builder Image:</dt>
                            <dd ng-if-end>
                              <a ng-if="buildFrom.kind === 'ImageStreamTag' && (!buildFrom.namespace || buildConfig.metadata.namespace === buildFrom.namespace)"
                                  ng-href="{{buildFrom.name | navigateResourceURL : 'ImageStreamTag' : buildConfig.metadata.namespace}}">
                                {{buildFrom | imageObjectRef : buildConfig.metadata.namespace}}
                              </a>
                              <span ng-if="buildFrom.kind !== 'ImageStreamTag' || (buildFrom.namespace && buildConfig.metadata.namespace !== buildFrom.namespace)">
                                {{buildFrom | imageObjectRef : buildConfig.metadata.namespace}}
                              </span>
                            </dd>
                            <div ng-if="outputTo = buildConfig.spec.output.to">
                              <dt translate>Output To:</dt>
                              <dd>
                                <a ng-if="outputTo.kind === 'ImageStreamTag' && (!outputTo.namespace || buildConfig.metadata.namespace === outputTo.namespace)"
                                    ng-href="{{outputTo.name | navigateResourceURL : 'ImageStreamTag' : buildConfig.metadata.namespace}}">
                                  {{outputTo | imageObjectRef : buildConfig.metadata.namespace}}
                                </a>
                                <span ng-if="outputTo.kind !== 'ImageStreamTag' || (outputTo.namespace && buildConfig.metadata.namespace !== outputTo.namespace)">
                                  {{outputTo | imageObjectRef : buildConfig.metadata.namespace}}
                                </span>
                              </dd>
                            </div>
                            <div class="run-policy">
                              <dt translate>Run Policy:</dt>
                              <dd>
                                {{buildConfig.spec.runPolicy | sentenceCase}}
                                <span class="help action-inline">
                                  <a href ng-switch="buildConfig.spec.runPolicy">
                                    <i ng-switch-when="Serial" class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Builds triggered from this Build Configuration will run one at the time, in the order they have been triggered."></i>
                                    <i ng-switch-when="Parallel" class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Builds triggered from this Build Configuration will run all at the same time. The order in which they will finish is not guaranteed."></i>
                                    <i ng-switch-when="SerialLatestOnly" class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Builds triggered from this Build Configuration will run one at the time. When a currently running build completes, the next build that will run is the latest build created. Other queued builds will be cancelled."></i>
                                    <i ng-switch-default class="pficon pficon-help" data-toggle="tooltip" aria-hidden="true" data-original-title="Builds triggered from this Build Configuration will run using the {{buildConfig.spec.runPolicy | sentenceCase}} policy."></i>
                                  </a>
                                </span>
                              </dd>
                            </div>
                            <!-- Put the field values that use full editors last so that they don't interrupt the flow of other <dl> items. -->
                            <div ng-if="buildConfig.spec.source.dockerfile">
                              <dt>Dockerfile:</dt><dd></dd>
                              <div ui-ace="{
                                mode: 'dockerfile',
                                theme: 'dreamweaver',
                                onLoad: aceLoaded,
                                highlightActiveLine: false,
                                showGutter: false,
                                rendererOptions: {
                                  fadeFoldWidgets: true,
                                  highlightActiveLine: false,
                                  showPrintMargin: false
                                },
                                advanced: {
                                  highlightActiveLine: false
                                }
                              }" readonly ng-model="buildConfig.spec.source.dockerfile" class="ace-bordered ace-read-only ace-inline dockerfile-mode mar-top-md"></div>
                            </div>
                            <div ng-if="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfile">
                              <div class="small pull-right mar-top-sm">
                                <a href="" ng-click="showJenkinsfileExamples()">What's a Jenkinsfile?</a>
                              </div>
                              <dt>
                                Jenkinsfile:
                              </dt><dd></dd>
                              <div ui-ace="{
                                mode: 'groovy',
                                theme: 'eclipse',
                                showGutter: false,
                                rendererOptions: {
                                  fadeFoldWidgets: true,
                                  highlightActiveLine: false,
                                  showPrintMargin: false
                                },
                                advanced: {
                                  highlightActiveLine: false
                                }
                              }" readonly ng-model="buildConfig.spec.strategy.jenkinsPipelineStrategy.jenkinsfile" class="ace-bordered ace-inline ace-read-only"></div>
                            </div>
                          </dl>
                          <div ng-if="buildConfig | hasPostCommitHook">
                            <h3 translate>Post-Commit Hooks</h3>
                            <build-hooks build="buildConfig"></build-hooks>
                          </div>
                        </div>
                        <div class="col-lg-6">
                          <h3><translate>Triggers</translate> <a href="{{'build-triggers' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a></h3>
                          <dl class="dl-horizontal left build-triggers">
                            <div ng-repeat="trigger in buildConfig.spec.triggers | orderBy : 'type' : false : compareTriggers">
                              <div ng-switch="trigger.type">
                                <div ng-switch-when="Bitbucket">
                                    <dt translate>Bitbucket Webhook URL:
                                    </dt>
                                    <dd>
                                      <copy-to-clipboard clipboard-text="buildConfig.metadata.name | webhookURL : trigger.type : trigger.bitbucket.secret : project.metadata.name"></copy-to-clipboard>
                                    </dd>
                                </div>
                                <div ng-switch-when="GitHub">
                                    <dt translate>GitHub Webhook URL:
                                    </dt>
                                    <dd>
                                      <copy-to-clipboard clipboard-text="buildConfig.metadata.name | webhookURL : trigger.type : trigger.github.secret : project.metadata.name"></copy-to-clipboard>
                                    </dd>
                                </div>
                                <div ng-switch-when="GitLab">
                                    <dt translate>GitLab Webhook URL:
                                    </dt>
                                    <dd>
                                      <copy-to-clipboard clipboard-text="buildConfig.metadata.name | webhookURL : trigger.type : trigger.gitlab.secret : project.metadata.name"></copy-to-clipboard>
                                    </dd>
                                </div>
                                <div ng-switch-when="Generic">
                                    <dt translate>Generic Webhook URL:
                                    </dt>
                                    <dd>
                                      <copy-to-clipboard clipboard-text="buildConfig.metadata.name | webhookURL : trigger.type : trigger.generic.secret : project.metadata.name"></copy-to-clipboard>
                                    </dd>
                                </div>
                                <div ng-switch-when="ImageChange">
                                  <dt translate>
                                    New Image For:
                                  </dt>
                                  <dd ng-init="triggerFrom = (trigger.imageChange.from || (buildConfig | buildStrategy).from)">
                                    <a ng-if="triggerFrom.kind === 'ImageStreamTag' && (!triggerFrom.namespace || buildConfig.metadata.namespace === triggerFrom.namespace)"
                                        ng-href="{{triggerFrom.name | navigateResourceURL : 'ImageStreamTag' : buildConfig.metadata.namespace}}">
                                      {{triggerFrom | imageObjectRef : buildConfig.metadata.namespace}}
                                    </a>
                                    <span ng-if="triggerFrom.kind !== 'ImageStreamTag' || (triggerFrom.namespace && buildConfig.metadata.namespace !== triggerFrom.namespace)">
                                      {{triggerFrom | imageObjectRef : buildConfig.metadata.namespace}}
                                    </span>
                                  </dd>
                                </div>
                                <div ng-switch-when="ConfigChange">
                                  <dt translate>Config Change For:</dt>
                                  <dd translate>Build config {{buildConfig.metadata.name}}</dd>
                                </div>
                                <div ng-switch-default>
                                  <dt translate>Other Trigger:</dt>
                                  <dd>{{trigger.type}}</dd>
                                </div>
                              </div>
                            </div>
                            <dt translate>Manual (CLI):
                            </dt>
                            <dd>
                              <copy-to-clipboard clipboard-text="'oc start-build ' + buildConfig.metadata.name + ' -n ' + project.metadata.name"></copy-to-clipboard>
                            </dd>
                          </dl>
                        </div>
                      </div>
                      <annotations annotations="buildConfig.metadata.annotations"></annotations>
                    </div>
                  </uib-tab>
                  <uib-tab heading="Environment" active="selectedTab.environment" ng-if="buildConfig && !(buildConfig | isJenkinsPipelineStrategy)">
                    <uib-tab-heading translate>Environment</uib-tab-heading>
                    <h3 translate>Environment Variables</h3>
                    <p ng-if="BCEnvVarsFromImage.length">
                      <translate>The builder image has additional environment variables defined.  Variables defined below will overwrite any from the image with the same name.</translate>
                      <a href="" ng-click="expand.imageEnv = true" ng-if="!expand.imageEnv" translate>Show Image Environment Variables</a>
                      <a href="" ng-click="expand.imageEnv = false" ng-if="expand.imageEnv" translate>Hide Image Environment Variables</a>
                    </p>
                    <key-value-editor
                      ng-if="expand.imageEnv"
                      entries="BCEnvVarsFromImage"
                      key-placeholder="{{'Name'|translate}}"
                      value-placeholder="{{'Value'|translate}}"
                      is-readonly
                      cannot-add
                      cannot-sort
                      cannot-delete
                      show-header></key-value-editor>
                    <ng-form name="forms.bcEnvVars" class="mar-bottom-xl block">
                      <div ng-if="'buildconfigs' | canI : 'update'">
                        <confirm-on-exit dirty="forms.bcEnvVars.$dirty"></confirm-on-exit>
                        <key-value-editor
                          entries="envVars"
                          key-placeholder="{{'Name'|translate}}"
                          value-placeholder="{{'Value'|translate}}"
                          key-validator="[A-Za-z_][A-Za-z0-9_]*"
                          key-validator-error="Please enter a valid key"
                          key-validator-error-tooltip="A valid environment variable name is an alphanumeric (a-z and 0-9) string beginning with a letter that may contain underscores."
                          add-row-link="Add Environment Variable"
                          show-header></key-value-editor>
                        <button
                          class="btn btn-default"
                          ng-click="saveEnvVars()"
                          ng-disabled="forms.bcEnvVars.$pristine || forms.bcEnvVars.$invalid">Save</button>
                        <a
                          ng-if="!forms.bcEnvVars.$pristine"
                          href=""
                          ng-click="clearEnvVarUpdates()"
                          class="mar-left-sm"
                          style="vertical-align: -2px;" translate>Clear Changes</a>
                      </div>
                      <key-value-editor
                        ng-if="!('buildconfigs' | canI : 'update')"
                        entries="envVars"
                        key-placeholder="{{'Name'|translate}}"
                        value-placeholder="{{'Value'|translate}}"
                        is-readonly
                        cannot-add
                        cannot-sort
                        cannot-delete
                        show-header></key-value-editor>
                    </ng-form>
                  </uib-tab>
                </uib-tabset>
              </div><!-- /col-* -->
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </project-page>
