<project-header class="top-header"></project-header>
<project-page>
  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded" class="mar-top-xl" translate>Loading...</div>
          <div ng-if="loaded && error" class="empty-state-message text-center">
            <h2 translate>The config map could not be loaded.</h2>
            <p>{{error | getErrorDetails}}</p>
          </div>
          <div ng-if="loaded && !error">
            <h1 class="contains-actions">
              <div class="pull-right dropdown" ng-if="'configmaps' | canIDoAny">
                <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
                  <translate>Actions</translate>
                  <span class="caret"></span>
                </button>
                <a href=""
                   class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
                   data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only" translate>Actions</span></a>
                <ul class="dropdown-menu dropdown-menu-right actions action-button">
                  <li ng-if="'configmaps' | canI : 'update'">
                    <a ng-href="{{configMap | editResourceURL}}" role="button" translate>Edit</a>
                  </li>
                  <li ng-if="'configmaps' | canI : 'update'">
                    <a ng-href="{{configMap | editYamlURL}}" role="button" translate>Edit YAML</a>
                  </li>
                  <li ng-if="'configmaps' | canI : 'delete'">
                    <delete-link
                      kind="ConfigMap"
                      resource-name="{{configMap.metadata.name}}"
                      project-name="{{configMap.metadata.namespace}}"
                      alerts="alerts">
                    </delete-link>
                  </li>
                </ul>
              </div>
              {{configMap.metadata.name}}
              <small class="meta"><translate>created</translate> <span am-time-ago="configMap.metadata.creationTimestamp"></span></small>
            </h1>
            <labels labels="configMap.metadata.labels" clickable="true" kind="config-maps" title-kind="config maps" project-name="{{configMap.metadata.namespace}}" limit="3"></labels>
          </div>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content">
        <div class="container-fluid">
          <div ng-if="configMap" class="row">
            <div class="col-sm-12">
              <div ng-if="!(configMap.data | hashSize)" class="empty-state-message text-center">
                <h2 translate>The config map has no items.</h2>
              </div>
              <div ng-if="configMap.data | hashSize" class="table-responsive scroll-shadows-horizontal">
                <table class="table table-bordered table-bordered-columns config-map-table key-value-table">
                  <tbody>
                    <tr ng-repeat="(prop, value) in configMap.data">
                      <td class="key">{{prop}}</td>
                      <td class="value">
                        <truncate-long-text
                            content="value"
                            limit="1024"
                            newlineLimit="20"
                            expandable="true">
                        </truncate-long-text>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <annotations annotations="configMap.metadata.annotations"></annotations>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
</project-page>
