<div class="middle">
  <div class="middle-header">
    <div class="container-fluid">
      <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
      <alerts alerts="alerts"></alerts>
      <div ng-if="!loaded" class="mar-top-xl">Loading...</div>
      <div ng-if="imageStream">
        <h1 class="contains-actions">
          <div class="pull-right dropdown" ng-hide="!('imageStreams' | canIDoAny)">
            <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
              Actions
              <span class="caret" aria-hidden="true"></span>
            </button>
            <a href=""
               class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
               data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
            <ul class="dropdown-menu dropdown-menu-right actions action-button">
              <li ng-if="imageStreamsVersion | canI : 'update'">
                <a ng-href="{{imageStream | editYamlURL}}" role="button">Edit YAML</a>
              </li>
              <li ng-if="imageStreamsVersion | canI : 'delete'">
                <delete-link
                  kind="ImageStream"
                  resource-name="{{imageStream.metadata.name}}"
                  project-name="{{imageStream.metadata.namespace}}"
                  alerts="alerts">
                </delete-link>
              </li>
            </ul>
          </div>
          {{imageStream.metadata.name}}
          <small class="meta">created <span am-time-ago="imageStream.metadata.creationTimestamp"></span></small>
        </h1>
        <labels labels="imageStream.metadata.labels" clickable="true" kind="images" project-name="{{imageStream.metadata.namespace}}" limit="3"></labels>
      </div>
    </div>
  </div><!-- /middle-header-->
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row" ng-if="imageStream">
        <div class="col-md-12">
          <registry-imagestream-body imagestream="imageStream">
          </registry-imagestream-body>
          <registry-imagestream-meta imagestream="imageStream">
          </registry-imagestream-meta>
          <registry-image-listing imagestream="imageStream" imagestream-path="imagestreamPath">
          </registry-image-listing>
          <registry-imagestream-push settings="settings" imagestream="imageStream">
          </registry-imagestream-push>
        </div><!-- /col-* -->
      </div>
    </div>
  </div><!-- /middle-content -->
</div>
