<project-header class="top-header"></project-header>
<project-page>
  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded" class="mar-top-xl">Loading...</div>
          <div ng-if="loaded">
            <h1>
              <div class="pull-right dropdown" ng-hide="!('secrets' | canIDoAny)">
                <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
                  Actions
                  <span class="caret"></span>
                </button>
                <a href=""
                   class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
                   data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
                <ul class="dropdown-menu actions action-link">
                  <li ng-if="'secrets' | canI : 'update'">
                    <a ng-href="{{secret | editYamlURL}}" role="button">Edit YAML</a>
                  </li>
                  <li ng-if="'secrets' | canI : 'delete'">
                    <delete-link
                      kind="Secret"
                      resource-name="{{secret.metadata.name}}"
                      project-name="{{secret.metadata.namespace}}"
                      alerts="alerts">
                    </delete-link>
                  </li>
                </ul>
              </div>
              {{secret.metadata.name}}
              <small class="meta">created <relative-timestamp timestamp="secret.metadata.creationTimestamp"></relative-timestamp></small>
            </h1>
          </div>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content gutter-top">
        <div class="container-fluid">
          <div ng-if="secret" class="row">
            <div class="col-sm-12">
              <div class="resource-details secret-details">
                <dl class="dl-horizontal left">
                  <dt>Type:</dt>
                  <dd>{{secret.type}}</dd>

                  <div ng-repeat="(secretDataName, secretData) in decodedSecretData" class="image-source-item">
                    <div ng-switch="secretDataName">
                      <div ng-switch-when=".dockercfg">
                        <ng-include src=" 'views/_config-file-params.html' "></ng-include>
                      </div>

                      <div ng-switch-when=".dockerconfigjson">
                        <ng-include src=" 'views/_config-file-params.html' "></ng-include>
                      </div>

                      <div ng-switch-when="username">
                        <dt>Username:</dt>
                        <dd class="word-break">{{decodedSecretData.username}}</dd>
                      </div>

                      <div ng-switch-when="password">
                        <dt>Password:</dt>
                        <dd ng-if="view.showSecret" class="word-break">{{secretData}}</dd>
                        <dd ng-if="!view.showSecret">*****</dd>
                      </div>

                      <div ng-switch-when="ssh-privatekey">
                        <dt>SSH Private Key:</dt>
                        <dd ng-if="view.showSecret" class="gutter-bottom">
                          <div ui-ace="{
                            theme: 'dreamweaver',
                            highlightActiveLine: false,
                            showGutter: false,
                            rendererOptions: {
                              fadeFoldWidgets: true,
                              highlightActiveLine: false,
                              showPrintMargin: false
                            },
                            advanced: {
                              highlightActiveLine: false
                            }
                          }" readonly ng-model="secretData" class="ace-bordered ace-read-only ace-inline secret-data"></div>
                        </dd>
                        <dd ng-if="!view.showSecret">*****</dd>
                      </div>

                      <div ng-switch-when="ca.crt">
                        <dt>CA Certificate:</dt>
                        <dd ng-if="view.showSecret" class="gutter-bottom">
                          <div ui-ace="{
                            theme: 'dreamweaver',
                            highlightActiveLine: false,
                            showGutter: false,
                            rendererOptions: {
                              fadeFoldWidgets: true,
                              highlightActiveLine: false,
                              showPrintMargin: false
                            },
                            advanced: {
                              highlightActiveLine: false
                            }
                          }" readonly ng-model="secretData" class="ace-bordered ace-read-only ace-inline secret-data"></div>
                        </dd>
                        <dd ng-if="!view.showSecret">*****</dd>
                      </div>

                      <div ng-switch-when=".gitconfig">
                        <dt>Git Configuration File:</dt>
                        <dd ng-if="view.showSecret" class="gutter-bottom">
                          <div ui-ace="{
                            mode: 'ini',
                            theme: 'dreamweaver',
                            highlightActiveLine: false,
                            showGutter: false,
                            rendererOptions: {
                              fadeFoldWidgets: true,
                              highlightActiveLine: false,
                              showPrintMargin: false
                            },
                            advanced: {
                              highlightActiveLine: false
                            }
                          }" readonly ng-model="secretData" class="ace-bordered ace-read-only ace-inline secret-data"></div>
                        </dd>
                        <dd ng-if="!view.showSecret">*****</dd>
                      </div>

                      <div ng-switch-default>
                        <dt>{{secretDataName}}:</dt>
                        <dd ng-if="view.showSecret" class="word-break gutter-bottom" >{{secretData}}</dd>
                        <dd ng-if="!view.showSecret">*****</dd>
                      </div>

                    </div>
                  </div>
                </dl>
              </div>
              <div class="gutter-bottom">
                <a href="" ng-click="view.showSecret = !view.showSecret">{{view.showSecret ? "Hide" : "Reveal"}} secret contents</a>
              </div>
              <annotations annotations="secret.metadata.annotations"></annotations>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
</project-page>
