<project-header class="top-header"></project-header>
<project-page>
  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded" class="mar-top-xl" translate>Loading...</div>
          <div ng-if="loaded && error" class="empty-state-message text-center">
            <h2 translate>The secret details could not be loaded.</h2>
            <p>{{error | getErrorDetails}}</p>
          </div>
          <div ng-if="loaded && !error">
            <h1 class="contains-actions">
              <div class="pull-right dropdown" ng-hide="!('secrets' | canIDoAny)">
                <button type="button" class="dropdown-toggle btn btn-default actions-dropdown-btn hidden-xs" data-toggle="dropdown">
                  <translate>Actions</translate>
                  <span class="caret"></span>
                </button>
                <a href=""
                   class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
                   data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only" translate>Actions</span></a>
                <ul class="dropdown-menu dropdown-menu-right actions action-button">
                  <li ng-if="'secrets' | canI : 'update'">
                    <a ng-href="{{secret | editYamlURL}}" role="button" translate>Edit YAML</a>
                  </li>
                  <li ng-if="'secrets' | canI : 'delete'">
                    <delete-link
                      kind="Secret"
                      resource-name="{{secret.metadata.name}}"
                      project-name="{{secret.metadata.namespace}}"
                      alerts="alerts">
                    </delete-link>
                  </li>
                </ul>
              </div>
              {{secret.metadata.name}}
              <small class="meta"><translate>created</translate> <span am-time-ago="secret.metadata.creationTimestamp"></span></small>
            </h1>
          </div>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content">
        <div class="container-fluid">
          <div ng-if="secret" class="row">
            <div class="col-sm-12">
              <div class="resource-details">
                <h2 class="mar-top-none">
                  {{secret.type}}
                  <small class="mar-left-sm"><a href="" ng-click="view.showSecret = !view.showSecret" translate>{{view.showSecret ? "Hide" : "Reveal"}} Secret</a></small>
                </h2>
                <dl class="secret-data left">
                  <div ng-repeat="(secretDataName, secretData) in decodedSecretData" class="image-source-item">
                    <div ng-switch="secretDataName">
                      <div ng-switch-when=".dockercfg">
                        <ng-include src=" 'views/_config-file-params.html' "></ng-include>
                      </div>

                      <div ng-switch-when=".dockerconfigjson">
                        <ng-include src=" 'views/_config-file-params.html' "></ng-include>
                      </div>
                      <div ng-switch-default>
                        <dt ng-attr-title="{{secretDataName}}">{{secretDataName}}</dt>
                        <dd ng-if="view.showSecret">
                          <copy-to-clipboard
                              clipboard-text="secretData"
                              multiline="secretData | isMultiline : true"
                              display-wide="true">
                          </copy-to-clipboard>
                          <div ng-if="decodedSecretData.$$nonprintable[secretDataName]" class="help-block" translate>
                            This secret value contains non-printable characters and is displayed as a Base64-encoded string.
                          </div>
                        </dd>
                        <dd ng-if="!view.showSecret">*****</dd>
                      </div>
                    </div>
                  </div>
                </dl>
                <annotations annotations="secret.metadata.annotations"></annotations>
              </div>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
</project-page>
