<project-header class="top-header"></project-header>
<project-page>

  <div class="middle-section">
    <div class="middle-container">

      <div class="middle-header header-toolbar">
        <div class="container-fluid">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <div class="page-header page-header-bleed-right page-header-bleed-left">
            <h1>
              Stateful Sets
              <!-- TODO: docs are in progress
              <span class="page-header-link">
                <a ng-href="{{'stateful-sets' | helpLink}}" target="_blank">
                  Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </span>
              -->
            </h1>
          </div>
        </div>
      </div>

      <div class="middle-content" persist-tab-state>
        <div class="container-fluid">
          <div ng-if="!loaded">Loading...</div>
          <div class="row" ng-if="loaded">
            <div class="col-md-12">
              <table class="table table-bordered table-hover table-mobile">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Replicas</th>
                    <th>Created</th>
                  </tr>
                </thead>
                <tbody ng-if="(statefulSets | hashSize) == 0">
                  <tr>
                    <td colspan="3"><em>No stateful sets</em></td>
                  </tr>
                </tbody>
                <tbody ng-repeat="(statefulSetName, statefulSet) in statefulSets">
                  <tr>
                    <td data-title="Name">
                      <a ng-href="{{statefulSet | navigateResourceURL}}">{{statefulSet.metadata.name}}</a>
                    </td>
                    <td data-title="Replicas">
                      <span ng-if="statefulSet.status.replicas !== statefulSet.spec.replicas">{{statefulSet.status.replicas}}/</span>{{statefulSet.spec.replicas}} replica<span ng-if="statefulSet.spec.replicas != 1">s</span>
                    </td>
                    <td data-title="Created">
                      <span am-time-ago="statefulSet.metadata.creationTimestamp"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</project-page>
