<project-header class="top-header"></project-header>
<project-page>

  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header header-toolbar">
        <div class="container-fluid">
          <div
            class="page-header page-header-bleed-right page-header-bleed-left">
            <span class="label label-warning label-tech-preview" translate>Technology Preview</span>
            <h1>
              <translate>Stateful Sets</translate>
              <!-- TODO: docs are in progress
              <span class="page-header-link">
                <a ng-href="{{'stateful-sets' | helpLink}}" target="_blank">
                  Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </span>
              -->
            </h1>
          </div>
          <div ng-if="!renderOptions.showGetStarted" class="data-toolbar">
            <div class="data-toolbar-filter">
              <project-filter></project-filter>
            </div>
          </div>
        </div>
      </div>

      <div class="middle-content" persist-tab-state>
        <div class="container-fluid">
          <alerts alerts="alerts"></alerts>
          <div ng-if="!loaded" translate>Loading...</div>
          <div class="row" ng-if="loaded">
            <div class="col-md-12">
              <table class="table table-bordered table-hover table-mobile table-layout-fixed">
                <colgroup>
                  <col class="col-sm-5">
                </colgroup>
                <thead>
                  <tr>
                    <th translate>Name</th>
                    <th translate>Replicas</th>
                    <th translate>Created</th>
                  </tr>
                </thead>
                <tbody ng-if="(statefulSets | hashSize) == 0">
                  <tr>
                    <td colspan="3"><em translate>No stateful sets to show</em></td>
                  </tr>
                </tbody>
                <tbody ng-repeat="(statefulSetName, statefulSet) in statefulSets">
                  <tr>
                    <td data-title="Name">
                      <a ng-href="{{statefulSet | navigateResourceURL}}">{{statefulSet.metadata.name}}</a>
                    </td>
                    <td data-title="Replicas">
                      <span ng-if="(podsByOwnerUID[statefulSet.metadata.uid] | hashSize) !== statefulSet.spec.replicas">{{podsByOwnerUID[statefulSet.metadata.uid] | hashSize}}/</span><translate>{{statefulSet.spec.replicas}} replica<span ng-if="statefulSet.spec.replicas != 1">s</span></translate>
                      <!-- TODO: swap back in 1.6 when the replicas count for StatefulSets is fixed
                      <span ng-if="statefulSet.status.replicas !== statefulSet.spec.replicas">{{statefulSet.status.replicas}}/</span>{{statefulSet.spec.replicas}} replica<span ng-if="statefulSet.spec.replicas != 1">s</span>
                      -->
                    </td>
                    <td data-title="Created">
                      <span am-time-ago="statefulSet.metadata.creationTimestamp"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</project-page>
