<div class="middle pod">
  <div class="middle-header">
    <div class="container-fluid">
      <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
      <alerts alerts="alerts"></alerts>
      <div ng-if="!loaded()" class="mar-top-xl">Loading...</div>
      <div ng-if="loaded() && vmi">
        <h1 class="contains-actions">
          <div class="pull-right dropdown" ng-show="'virtualMachineInstances' | canIDoAny">
            <button type="button" class="dropdown-toggle actions-dropdown-btn btn btn-default hidden-xs" data-toggle="dropdown">
              Actions
              <span class="caret"></span>
            </button>
            <a href=""
               class="dropdown-toggle actions-dropdown-kebab visible-xs-inline"
               data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i><span class="sr-only">Actions</span></a>
            <ul class="dropdown-menu dropdown-menu-right actions action-button">
              <li ng-if="KubevirtVersions.virtualMachineInstance | canI : 'update'">
                <a ng-href="{{vmi | editYamlURL}}" role="button">Edit YAML</a>
              </li>
              <li ng-if="KubevirtVersions.virtualMachineInstance | canI : 'delete'">
                <delete-link
                  kind="{{KubevirtVersions.virtualMachineInstance.kind}}"
                  group="{{KubevirtVersions.virtualMachineInstance.group}}"
                  resource-name="{{vmi.metadata.name}}"
                  project-name="{{vmi.metadata.namespace}}"
                  redirect-url="{{vm ? (vm | navigateResourceURL) : (Navigate.resourceListURL(KubevirtVersions.virtualMachine.resource, vmi.metadata.namespace))}}"
                  alerts="alerts">
                </delete-link>
              </li>
            </ul>
          </div>
          {{vmi.metadata.name}}
          <small class="meta">created {{vmi.metadata.creationTimestamp | amTimeAgo}}</small>
          <small class="meta" ng-if="vm.metadata.deletionTimestamp">(expires {{vm.metadata.deletionTimestamp | date : 'medium'}})</small>
        </h1>
        <labels labels="vmi.metadata.labels"
                clickable="true" kind="virtual-machines"
                title-kind="Virtual machines"
                project-name="{{vmi.metadata.namespace}}"
                limit="3"></labels>
      </div>
    </div>
  </div><!-- /middle-header-->
  <div class="middle-content" persist-tab-state>
    <div class="container-fluid">
      <div class="row" ng-if="vmi">
        <div class="col-md-12">
          <uib-tabset>
            <uib-tab heading="Details" active="selectedTab.details">
              <uib-tab-heading>Details</uib-tab-heading>
              <div class="resource-details">
                <div class="row">
                  <div class="col-lg-6">
                    <h3>
                      Status
                    </h3>
                    <dl class="dl-horizontal left">
                      <dt>State:</dt>
                      <dd>
                        <vm-state state="vmi.status.phase" />
                        <span ng-if="vmi.metadata.deletionTimestamp">(expires {{vmi.metadata.deletionTimestamp | date : 'medium'}})</span>
                      </dd>
                      <dt>Node:</dt>
                      <dd>
                        {{vmi.metadata.labels['kubevirt.io/nodeName'] || '--'}}
                      </dd>
                      <dt>Offline virtual machine:</dt>
                      <dd>
                        <a ng-if="vm" ng-href="{{vm | navigateResourceURL}}">{{vm.metadata.name}}</a>
                        <span ng-if="!vm">--</span>
                      </dd>
                      <dt>Pod:</dt>
                      <dd>
                        <span ng-if="!(pods | size)">--</span>
                        <ul ng-if="pods | size" class="list-unstyled">
                          <li ng-repeat="pod in pods track by pod.metadata.uid">
                            <a ng-href="{{pod | navigateResourceURL}}">{{pod.metadata.name}}</a>
                          </li>
                        </ul>
                      </dd>
                    </dl>
                  </div>
                  <div class="col-lg-6">
                    <h3>
                      Configuration
                    </h3>
                    <dl class="dl-horizontal left">
                      <dt>Memory:</dt>
                      <dd>
                        {{vmi | vmMemory | orDefault}}
                      </dd>
                      <dt>CPU:</dt>
                      <dd>
                        {{vmi | vmCpu | orDefault}}
                      </dd>
                      <dt>Operating system:</dt>
                      <dd>
                        {{vmi | vmOs | humanizeOs | orDashes}}
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
            </uib-tab>

            <uib-tab ng-if="metricsAvailable && pods[0]" heading="Metrics" active="selectedTab.metrics">
              <!-- Use ng-if to remove the metrics directive when the tab is not active so
                   we don't update in the background. -->
              <pod-metrics
                ng-if="selectedTab.metrics"
                pod="pods[0]"
                alerts="alerts">
              </pod-metrics>
            </uib-tab>

            <uib-tab active="selectedTab.events" ng-if="eventsVersion | canI : 'watch'">
              <uib-tab-heading>Events</uib-tab-heading>
              <events api-objects="[ vmi ]" project-context="projectContext" ng-if="selectedTab.events"></events>
            </uib-tab>
          </uib-tabset>
        </div><!-- /col-* -->
      </div>
    </div>
  </div><!-- /middle-content -->
</div>
