<pf-notification-drawer
  drawer-hidden="$ctrl.drawerHidden"
  allow-expand="$ctrl.allowExpand"
  drawer-expanded="$ctrl.drawerExpanded"
  drawer-title="{{$ctrl.drawerTitle}}"
  show-clear-all="$ctrl.showClearAll"
  show-mark-all-read="$ctrl.showMarkAllRead"
  notification-groups="$ctrl.notificationGroups"
  heading-include="{{$ctrl.headingInclude}}"
  notification-body-include="{{$ctrl.notificationBodyInclude}}"
  on-close="$ctrl.onClose"
  on-mark-all-read="$ctrl.onMarkAllRead"
  on-clear-all="$ctrl.onClearAll"
  custom-scope="$ctrl.customScope"></pf-notification-drawer>
