  <div class="middle surface-shaded">
        <div class="middle-content">
          <div class="container-fluid next-steps">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>

            <next-steps
              project="project"
              project-name="projectName"
              login-base-url="loginBaseUrl"
              from-sample-repo="fromSampleRepo"
              created-build-config="createdBuildConfig"></next-steps>

          </div>
        </div><!-- /middle-content -->
  </div><!-- /middle -->
