<div class="log-header" ng-if="!chromeless">
  <div ng-transclude class="log-status"><!-- expect start time, end time, status details --></div>
  <div class="log-actions">
    <span
        extension-point
        extension-name="log-links"
        extension-types="link dom"
        extension-args="[object, options]"></span>
    <span ng-if="kibanaArchiveUrl">
      <a href="{{kibanaArchiveUrl}}">View Archive</a>
      <span ng-if="state && state !== 'empty'" class="action-divider">|</span>
    </span>
    <span ng-if="canSave && state && state !== 'empty'">
      <a href=""
         ng-click="saveLog()"
         role="button">
         Save
         <i class="fa fa-download"></i></a>
      <span ng-if="state && state !== 'empty'" class="action-divider">|</span>
    </span>
    <a ng-if="state && state !== 'empty'"
       href=""
       ng-click="goChromeless(options, fullLogUrl)"
       role="button">
       Expand
       <i class="fa fa-external-link"></i></a>
  </div>
</div>

<div ng-if="largeLog" class="alert alert-info log-size-warning">
  <span class="pficon pficon-info" aria-hidden="true"></span>
  Only the previous {{options.tailLines || 5000}} log lines and new log
  messages will be displayed because of the large log size.
</div>


<!-- show this message until the log viewer starts. important for pending state, etc -->
<div ng-if="(!state)">
  <ellipsis-pulser ng-if="!chromeless" color="dark" size="sm" display="inline" msg="Loading log" class="log-pending-ellipsis"></ellipsis-pulser>
  <ellipsis-pulser ng-if="chromeless" color="light" size="sm" display="inline" msg="Loading log" class="log-pending-ellipsis"></ellipsis-pulser>
</div>

<div class="empty-state-message text-center" ng-if="state=='empty'" ng-class="{'log-fixed-height': fixedHeight}">
  <h2>Logs are not available.</h2>

  <p>
    {{emptyStateMessage}}
  </p>

  <div ng-if="kibanaArchiveUrl">
    <a href="{{kibanaArchiveUrl}}">View Archive</a>
  </div>
</div>


<!-- must be ng-show rather than ng-if, else DOM is not rendered in time to cache nodes -->
<!-- Keep invisible until sized to avoid flicker on initial display. -->
<div ng-show="state=='logs'" ng-class="{ invisible: !sized }">
  <div class="log-view" ng-attr-id="{{logViewerID}}" ng-class="{'log-fixed-height': fixedHeight}">
    <div
      id="{{logViewerID}}-affixedFollow"
      class="log-scroll log-scroll-top">
      <a ng-if="loading" href="" ng-click="toggleAutoScroll()">
        <span ng-if="!autoScrollActive">Follow</span>
        <span ng-if="autoScrollActive">Stop Following</span>
      </a>
      <a ng-if="!loading" href="" ng-show="showScrollLinks" ng-click="onScrollBottom()">
        Go to End
      </a>
    </div>
    <div class="log-view-output" id="{{logViewerID}}-fixed-scrollable">
      <table>
        <tbody id="{{logViewerID}}-logContent"></tbody>
      </table>
      <div ng-if="(!loading) && (!limitReached) && (!errorWhileRunning) && state=='logs'" class="log-end-msg">
        End of log
      </div>
    </div>
    <!-- show if logs are still streaming -->
    <ellipsis-pulser color="light" size="md" ng-show="loading"></ellipsis-pulser>
    <div
      ng-show="showScrollLinks"
      class="log-scroll log-scroll-bottom">
      <a href="" ng-click="onScrollTop()">Go to Top</a>
    </div>
  </div>
</div>

<!-- Show a different messsage if the log might have stopped because we reached the byte limit -->
<div ng-if="limitReached" class="text-muted">
  The maximum web console log size has been reached. Use the command-line interface or
  <a href="" ng-click="restartLogs()">reload</a> the log to see new messages.
</div>


<div ng-if="errorWhileRunning" class="text-muted">
  An error occurred loading the log.
  <a href="" ng-click="restartLogs()">Reload</a>
</div>
