<div class="modal-resource-action">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">Confirm Replace</h1>
  </div>
  <div class="modal-body">
    <div ng-if="!isList">
      <p>{{resourceKind}} '<strong>{{resourceName}}</strong>' already exists.</p>
      <p>Do you want to replace with the new content?</p>
    </div>

    <div ng-if="isList">
      <h1>Some items already exist:</h1>
      <dl class="dl-horizontal">
        <dt ng-repeat-start="resource in updateResources">{{resource.kind}}</dt>
        <dd ng-repeat-end>{{resource.metadata.name}}</dd>
      </dl>
      <p>Do you want to replace the existing resources?</p>
    </div>


  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel();">Cancel</button>
    <button class="btn btn-primary" type="button" ng-click="replace();">Replace</button>
  </div>
</div>
