<div class="modal-resource-action">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
    <span class="pficon pficon-close"></span>
  </button>
  <h1 class="modal-title">{{title}}</h1>
</div>
  <div class="modal-body">
    <p ng-if="details">{{details}}</p>
    <p ng-if="detailsMarkup" ng-bind-html="detailsMarkup"></p>
    <alerts ng-if="alerts" alerts="alerts" hide-close-button="true"></alerts>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">{{cancelButtonText}}</button>
    <button class="btn" ng-class="okButtonClass" type="button" ng-click="confirm()">{{okButtonText}}</button>
  </div>
</div>
