<div class="create-secret-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="onCancel()">
      <span class="pficon pficon-close"></span>
    </button>
    <h1 class="modal-title">
      Create {{type | capitalize}} Secret
      <span ng-switch="type">
        <a ng-switch-when="webhook" ng-href="{{'webhook_secrets' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
        <a ng-switch-when="source" ng-href="{{'git_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
        <a ng-switch-when="image" ng-href="{{'pull_secret' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
        <a ng-switch-default ng-href="{{'source_secrets' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
      </span>
    </h1>
  </div>
  <div class="modal-body contains-form">
    <create-secret type="type"
                    service-account-to-link="serviceAccountToLink"
                    namespace="namespace"
                    on-create="onCreate(newSecret)"
                    on-cancel="onCancel()"></create-secret>
  </div>
</div>
