<div class="modal-resource-action">
  <!-- Use a form so that the enter key submits when typing a project name to confirm. -->
  <form>
    <div class="modal-body">
      <h1 translate>Are you sure you want to delete the {{typeDisplayName || (kind | humanizeKind)}} '<strong>{{displayName ? displayName : resourceName}}</strong>'?</h1>

      <p>
        <span ng-if="kind === 'DeploymentConfig'" translate>
          This will delete the deployment config, all rollout history, and any running pods.
        </span>

        <span ng-if="kind === 'Deployment'" translate>
          This will delete the deployment, all rollout history, and any running pods.
        </span>

        <span ng-if="kind === 'BuildConfig'" translate>
          This will delete the build config and all build history.
        </span>

        <span ng-if="kind === 'ReplicationController' || kind === 'ReplicaSet' || kind === 'StatefulSet'" translate>
          This will delete the {{typeDisplayName || (kind | humanizeKind)}} and any running pods.
        </span>

        <span ng-if="isProject" translate>
          This will <strong>delete all resources</strong> associated with the project {{displayName ? displayName : resourceName}}.
        </span>

        <translate><strong>It cannot be undone.</strong> Make sure this is something you really want to do!</translate>
      </p>

      <div ng-show="typeNameToConfirm">
        <p translate>Type the name of the {{typeDisplayName || (kind | humanizeKind)}} to confirm.</p>
        <p>
          <label class="sr-only" for="resource-to-delete" translate>{{typeDisplayName || (kind | humanizeKind)}} to delete</label>
          <input
              ng-model="confirmName"
              id="resource-to-delete"
              type="text"
              class="form-control input-lg"
              autocorrect="off"
              autocapitalize="none"
              spellcheck="false"
              autofocus>
        </p>
      </div>

      <!--
        If this is a pod, give the user the option of deleting it immediately with no grace period.
      -->
      <div ng-if="kind === 'Pod'" class="checkbox">
        <label>
          <input type="checkbox" ng-model="options.deleteImmediately">
          <translate>Delete pod immediately without waiting for the processes to terminate gracefully</translate>
        </label>
      </div>

      <!--
        If this is a deployment config or replication controller with associated HPAs, prompt to
        delete the HPAs as well.
      -->
      <div ng-if="hpaList.length > 0">
        <p>
          <span ng-if="hpaList.length === 1">
            <translate>This resource has an autoscaler associated with it.</translate>
            <translate>It is recommended you delete the autoscaler with the resource it scales.</translate>
          </span>
          <span ng-if="hpaList.length > 1">
            <translate>This resource has autoscalers associated with it.</translate>
            <translate>It is recommended you delete the autoscalers with the resource they scale.</translate>
          </span>
        </p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.deleteHPAs">
            <translate>Delete</translate>
            <span ng-if="hpaList.length === 1" translate>
              Horizontal Pod Autoscaler '<strong>{{hpaList[0].metadata.name}}</strong>'
            </span>
            <span ng-if="hpaList.length > 1" translate>
              {{hpaList.length}} associated Horizontal Pod Autoscalers
            </span>
          </label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button ng-disabled="typeNameToConfirm && confirmName !== resourceName && confirmName !== displayName" class="btn btn-lg btn-danger" type="submit" ng-click="delete();" translate>Delete</button>
      <button class="btn btn-lg btn-default" type="button" ng-click="cancel();" translate>Cancel</button>
    </div>
  </form>
</div>
