<div class="modal-resource-action">
  <!-- Use a form so that the enter key submits when typing a project name to confirm. -->
  <form>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close" ng-click="cancel()">
        <span class="pficon pficon-close"></span>
      </button>
      <h1 class="modal-title" translate>Confirm Delete</h1>
    </div>
    <div class="modal-body">
      <p><translate>Are you sure you want to delete the</translate> {{typeDisplayName || (kind | humanizeKind)}}
        '<strong>{{displayName ? displayName : resourceName}}</strong>'?</p>

      <p>
        <span ng-if="kind === 'DeploymentConfig'" translate>
          This will delete the deployment config, all rollout history, and any running pods.
        </span>

        <span ng-if="kind === 'Deployment'" translate>
          This will delete the deployment, all rollout history, and any running pods.
        </span>

        <span ng-if="kind === 'ReplicationController' || kind === 'ReplicaSet' || kind === 'StatefulSet'">
          <translate>This will delete the</translate> {{typeDisplayName || (kind | humanizeKind)}} <translate>and any running pods.</translate>
        </span>

        <span ng-if="kind === 'ServiceInstance'">
          {{displayName ? displayName : resourceName}} <translate>and its data will no longer be available to your applications.</translate>
        </span>

        <span ng-if="isProject">
          <translate>This will 'delete all resources' associated with the </translate> {{displayName ? displayName : resourceName}}<translate>project</translate>.
        </span>

        <strong translate>It cannot be undone.</strong> <translate>Make sure this is something you really want to do!</translate>
      </p>

      <div ng-show="typeNameToConfirm">
        <p> <translate>confirm</translate> {{typeDisplayName || (kind | humanizeKind)}} <translate>Type name</translate>.</p>
        <p>
          <label class="sr-only" for="resource-to-delete"><translate>delete</translate>{{typeDisplayName || (kind | humanizeKind)}}</label>
          <input
              ng-model="confirmName"
              id="resource-to-delete"
              type="text"
              class="form-control input-lg"
              autocorrect="off"
              autocapitalize="none"
              spellcheck="false"
              autofocus>
        </p>
      </div>

      <!--
        If this is a pod, give the user the option of deleting it immediately with no grace period.
      -->
      <div ng-if="kind === 'Pod'" class="checkbox">
        <label>
          <input type="checkbox" ng-model="options.deleteImmediately">
          <translate>Delete pod immediately without waiting for the processes to terminate gracefully</translate>
        </label>
      </div>

      <!--
        If this is a deployment config or replication controller with associated HPAs, prompt to
        delete the HPAs as well.
      -->
      <div ng-if="hpaList.length > 0">
        <p>
          <span ng-if="hpaList.length === 1" translate>
            This resource has an autoscaler associated with it.
            It is recommended you delete the autoscaler with the resource it scales.
          </span>
          <span ng-if="hpaList.length > 1" translate>
            This resource has autoscalers associated with it.
            It is recommended you delete the autoscalers with the resource they scale.
          </span>
        </p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="options.deleteHPAs">
            <translate>Delete</translate>
            <span ng-if="hpaList.length === 1">
              Horizontal Pod Autoscaler '<strong>{{hpaList[0].metadata.name}}</strong>'
            </span>
            <span ng-if="hpaList.length > 1">
              {{hpaList.length}} associated Horizontal Pod Autoscalers
            </span>
          </label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" ng-click="cancel();" translate>Cancel</button>
      <button ng-disabled="typeNameToConfirm && confirmName !== resourceName && confirmName !== displayName" class="btn btn-danger" type="submit" ng-click="delete();" translate>Delete</button>
    </div>
  </form>
</div>
