<div class="modal-resource-action inactivity-modal">
  <form>
    <div class="modal-body">
      <h1>Your session is about to expire due to inactivity.</h1>
      <h2>You will be logged out in <strong><time-remaining-from-now end-timestamp="endTimestamp" countdown-duration=""></time-remaining-from-now></strong> seconds.</h2>
    </div>
    <div class="modal-footer">
      <button class="btn btn-lg btn-default" type="submit" ng-click="logout();">Log Out</button>
      <button class="btn btn-lg btn-primary" type="button" ng-click="cancel();">Continue Session</button>
    </div>
  </form>
</div>
