<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
            <div class="row">
              <div class="col-md-12">
                <div ng-show="!containers.length" class="mar-top-md" translate>Loading...</div>
                <form ng-show="containers.length" name="form" class="health-checks-form" novalidate>
                  <h1 translate>Health Checks: {{name}}</h1>
                  <div class="help-block">
                    <translate>Container health is periodically checked using readiness and liveness probes.</translate>
                    <div class="learn-more-block">
                      <a href="{{'application_health' | helpLink}}" target="_blank"><translate>Learn More</translate>&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <fieldset ng-disabled="disableInputs">
                    <div ng-repeat="container in containers">
                      <h2 ng-if="containers.length > 1" translate>Container {{container.name}}</h2>
                      <h3 translate>Readiness Probe</h3>
                      <div class="help-block mar-bottom-md" ng-if="$first" translate>
                        A readiness probe checks if the container is ready to handle requests. A failed readiness probe means that a container should not receive any traffic from a proxy, even if it's running.
                      </div>
                      <div ng-if="!container.readinessProbe">
                        <a href="" ng-click="addProbe(container, 'readinessProbe')" translate>Add Readiness Probe</a>
                      </div>
                      <div ng-if="container.readinessProbe">
                        <edit-probe
                            probe="container.readinessProbe"
                            exposed-ports="container.ports"
                            ng-if="container.readinessProbe">
                        </edit-probe>
                        <p>
                          <a href="" ng-click="removeProbe(container, 'readinessProbe')" translate>Remove Readiness Probe</a>
                        </p>
                      </div>
                      <h3 translate>Liveness Probe</h3>
                      <div class="help-block mar-bottom-md" ng-if="$first" translate>
                        A liveness probe checks if the container is still running. If the liveness probe fails, the container is killed.
                      </div>
                      <div ng-if="!container.livenessProbe">
                        <a href="" ng-click="addProbe(container, 'livenessProbe')" translate>Add Liveness Probe</a>
                      </div>
                      <div ng-if="container.livenessProbe">
                        <edit-probe
                            probe="container.livenessProbe"
                            exposed-ports="container.ports">
                        </edit-probe>
                        <p>
                          <a href="" ng-click="removeProbe(container, 'livenessProbe')" translate>Remove Liveness Probe</a>
                        </p>
                      </div>
                    </div>

                    <pause-rollouts-checkbox
                        ng-if="object | managesRollouts"
                        deployment="object">
                    </pause-rollouts-checkbox>

                    <div class="button-group gutter-top gutter-bottom">
                      <button type="submit"
                        class="btn btn-primary btn-lg"
                        ng-click="save()"
                        ng-disabled="form.$invalid || form.$pristine || disableInputs"
                        value="" translate>Save</button>
                      <button class="btn btn-default btn-lg" ng-click="cancel()" translate>Cancel</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
