<div class="jenkinsfile-examples">
  <p>
    A Jenkinsfile is a Groovy script that defines your pipeline. In the Jenkinsfile, you can declare
    pipeline stages and run one or more steps within each stage. Here are some examples you can use
    in your pipelines.
  </p>
  <p>
    Run an OpenShift build and deployment:
    <copy-to-clipboard
      display-wide="true"
      clipboard-text="'node {
  stage(\'Build\') {
    openshiftBuild(buildConfig: \'my-build-config\', showBuildLogs: \'true\')
  }
  stage(\'Deploy\') {
    openshiftDeploy(deploymentConfig: \'my-deployment-config\')
  }
}
'" multiline="true">
    </copy-to-clipboard>
  </p>
  <p>
    Checkout source code and run shell commands on a node labelled <var>maven:</var>
    <copy-to-clipboard
      display-wide="true"
      clipboard-text="'node(\'maven\') {
  stage(\'Checkout\') {
    checkout scm
  }
  stage(\'Build\') {
    sh \'mvn install\'
  }
  stage(\'Unit Test\') {
    sh \'mvn test\'
  }
}
'" multiline="true">
    </copy-to-clipboard>
  </p>
  <p>
    Prompt for manual input:
    <copy-to-clipboard
      display-wide="true"
      clipboard-text="'node {
  stage(\'Approve\') {
    input \'Promote to production?\'
  }
}
'" multiline="true">
    </copy-to-clipboard>
  </p>
  <p>
    Learn more about
    <a ng-href="{{ 'pipeline-builds' | helpLink}}" target="_blank">Pipeline Builds</a>
    and the
    <a ng-href="{{ 'pipeline-plugin' | helpLink}}" target="_blank">OpenShift Pipeline Plugin</a>.
  </p>
</div>
