<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <alerts alerts="alerts"></alerts>
          <h1>Edit Route {{routeName}}</h1>
          <div ng-if="loading">
            Loading...
          </div>
          <form name="form" novalidate>
            <fieldset ng-disabled="disableInputs" ng-if="!loading">
              <osc-routing
                  model="routing"
                  services="services"
                  show-name-input="false"
                  existing-route="true">
              </osc-routing>
              <div class="button-group gutter-top gutter-bottom">
                <button type="submit"
                    class="btn btn-primary btn-lg"
                    ng-click="updateRoute()"
                    ng-disabled="form.$invalid || disableInputs"
                    value="">Save</button>
                <button class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- /container-fluid -->
  </div><!-- /middle-content -->
</div><!-- /middle -->
