<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded edit-yaml">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
            <alerts alerts="alerts"></alerts>
            <div ng-if="!updated.resource" class="pad-top-md" translate>Loading...</div>
            <div ng-if="updated.resource" class="pad-top-md">
              <h1 class="truncate"><translate>Edit</translate> <span class="hidden-xs">{{updated.resource.kind | humanizeKind : true}}</span> {{updated.resource.metadata.name}}</h1>
              <parse-error error="error" ng-if="error"></parse-error>

              <div ng-if="resourceChanged && !resourceDeleted && !updatingNow" class="alert alert-warning">
                <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
                <span class="sr-only" translate>Warning:</span>
                <translate>{{updated.resource.kind | humanizeKind | upperFirst}} <strong>{{updated.resource.metadata.name}}</strong> has changed since you started editing it. You'll need to copy any changes you've made and edit the {{updated.resource.kind | humanizeKind}} again.</translate>
              </div>

              <div ng-if="resourceDeleted" class="alert alert-warning">
                <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
                <span class="sr-only" translate>Warning:</span>
                <translate>{{updated.resource.kind | humanizeKind | upperFirst}} <strong>{{updated.resource.metadata.name}}</strong> has been deleted since you started editing it.</translate>
              </div>

              <confirm-on-exit dirty="modified"></confirm-on-exit>

              <form name="editor.form">
                <ui-ace-yaml resource="updated.resource" ng-required="true"></ui-ace-yaml>

                <div class="button-group mar-top-xl">
                  <button class="btn btn-lg btn-primary"
                          type="button"
                          ng-click="save()"
                          ng-disabled="editor.form.$pristine || editor.form.$invalid || resourceChanged || resourceDeleted || updatingNow" translate>Save</button>
                  <button class="btn btn-lg btn-default"
                          type="button"
                          ng-disabled="updatingNow"
                          ng-click="cancel()" translate>Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
