<div class="chromeless">
  <div class="container-fluid">
    <alerts alerts="alerts"></alerts>
  </div>
  <div class="middle-content"><!-- flex item (fill the parent) -->
    <log-viewer
      ng-if="build"
      object="build"
      context="projectContext"
      status="build.status.phase"
      time-start="build.status.startTimestamp | date : 'medium'"
      time-end="build.status.completionTimestamp | date : 'medium'"
      chromeless="true"
      run="logCanRun">
    </log-viewer>
  </div>
</div>
