<div class="col-md-6 service-instance-getting-started" ng-repeat="sdkInfo in ctrl.serviceSdkInfo">
  <div class="col-md-12">
    <img ng-if="sdkInfo.logo" class="logo" ng-src="{{sdkInfo.logo}}">
    <span ng-if="!sdkInfo.logo && sdkInfo.iconClass " class="logo-icon-class {{sdkInfo.iconClass}}"></span>
    <div class="service-details">
      <h4>
        <div>
          {{sdkInfo.displayName}}
        </div>
        <div>
          <small class="meta">
            {{sdkInfo.serviceInstanceName}}
          </small>
        </div>
      </h4>
    </div>
  </div>
  <div class="col-md-12">
    <div class="sdk-docs">
      <h5>{{sdkInfo.description}}</h5>
      <h5>
        <a href={{sdkInfo.sdkDocs}} target="_blank">{{sdkInfo.displayName}} SDK setup</a>
      </h5>
    </div>
  </div>
</div>
