<div ng-class="{'show-sidebar-right': renderOptions.showEventsSidebar}" class="wrap">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-1">
    <sidebar></sidebar>
  </div>
  <div id="container-main" class="middle" in-view-container>
    <div ng-transclude>

    </div>
  </div>
  <div ng-if="renderOptions.showEventsSidebar && !renderOptions.collapseEventsSidebar" class="sidebar-right sidebar-pf sidebar-pf-right">
    <div class="right-section">
      <events-sidebar ng-if="projectContext" project-context="projectContext" collapsed="renderOptions.collapseEventsSidebar"></events-sidebar>
    </div><!-- /right-section -->
  </div>
</div>
