<nav class="navbar navbar-sidebar">
    <ul class="nav nav-sidenav-primary">
      <li ng-if="'service_catalog_landing_page' | enableTechPreviewFeature" class="visible-xs-block">
        <a href="./"><span class="pficon pficon-home" aria-hidden="true"></span> <translate>Home</translate></a>
      </li>
      <li
        ng-repeat="primaryItem in navItems"
        ng-class="{ active: primaryItem === activePrimary }"
        ng-if="show(primaryItem)">
        <a ng-if="primaryItem.href" ng-href="{{navURL(primaryItem.href)}}">
          <span class="{{primaryItem.iconClass}}"></span> {{primaryItem.label|translate}}
        </a>
        <a ng-if="!primaryItem.href" href="" data-toggle="dropdown" class="dropdown-toggle">
          <span class="{{primaryItem.iconClass}}"></span> {{primaryItem.label|translate}} <span class="fa fa-angle-right"></span>
        </a>
        <div
          ng-if="primaryItem.secondaryNavSections.length"
          class="hover-nav dropdown-menu hidden-xs">
          <ul class="nav nav-sidenav-secondary">
            <li
              ng-repeat-start="secondarySection in primaryItem.secondaryNavSections"
              ng-if="secondarySection.header"
              class="dropdown-header">
              {{secondarySection.header}}
            </li>
            <li
              ng-repeat="secondaryItem in secondarySection.items"
              ng-class="{ active: secondaryItem === activeSecondary }"
              ng-if="show(secondaryItem)">
              <a ng-href="{{navURL(secondaryItem.href)}}">{{secondaryItem.label|translate}}</a>
            </li>
            <li ng-repeat-end style="display:none;"></li>
          </ul>
        </div>
        <div
          ng-if="primaryItem.secondaryNavSections.length"
          class="hover-nav visible-xs-block">
          <ul class="nav nav-sidenav-secondary">
            <li
              ng-repeat-start="secondarySection in primaryItem.secondaryNavSections"
              ng-if="secondarySection.header"
              class="dropdown-header">
              {{secondarySection.header}}
            </li>
            <li
              ng-repeat="secondaryItem in secondarySection.items"
              ng-class="{ active: secondaryItem === activeSecondary }"
              ng-if="show(secondaryItem)">
              <a ng-href="{{navURL(secondaryItem.href)}}">{{secondaryItem.label|translate}}</a>
            </li>
            <li ng-repeat-end style="display:none;"></li>
          </ul>
        </div>
      </li>
    </ul>
    <!-- Group utility links into single nav -->
    <navbar-utility-mobile></navbar-utility-mobile>
</nav>
