<div class="pod-template-block">
  <div
    ng-repeat="template in templates"
    class="pod-template">
    <div class="component-label">Storage claim: {{template.metadata.name}}</div>

    <div row class="pod-template-image icon-row">
      <div>
        <span class="fa fa-lock" aria-hidden="true"></span>
      </div>
      <div flex class="word-break">
        <span class="pod-template-key">Access Modes:</span>
        <span ng-repeat="mode in template.spec.accessModes">
          {{mode | sentenceCase }}<span ng-if="!$last">, </span>
        </span>
      </div>
    </div>

    <div row class="pod-template-image icon-row">
      <div>
        <span class="fa fa-database" aria-hidden="true"></span>
      </div>
      <div flex class="word-break">
        <span class="pod-template-key">Capacity:</span>
        <span>
          {{template.spec.resources.requests.storage}}
        </span>
      </div>
    </div>

    <div
      row class="pod-template-image icon-row"
      ng-if="template.spec.selector.matchLabels">
      <div>
        <span class="fa fa-tag" aria-hidden="true"></span>
      </div>
      <div flex class="word-break">
        <span class="pod-template-key">Selector:</span>
        <span ng-repeat="(key, value) in template.spec.selector.matchLabels">
          {{key}}={{value}}<span ng-if="!$last">, </span>
        </span>
      </div>
    </div>

  </div>
</div>
