<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container gutter-top">
      <div class="row">
        <div class="col-md-12">
          <div class="about">
            <div class="row">
              <div class="col-md-2 about-icon gutter-top hidden-sm hidden-xs">
                <img src="images/openshift-logo.svg" />
              </div>
              <div class="col-md-9">
                <h1>Red Hat OpenShift <span class="about-reg">&reg;</span></h1>
                <h2>About</h2>
                <p>
                  <a target="_blank" href="https://www.openshift.com">OpenShift</a> is Red Hat's container application platform
                  that allows developers to quickly develop, host, and scale applications in a cloud environment.
                </p>

                <h2 id="version">Version</h2>
                <dl class="dl-horizontal left">
                  <dt>OpenShift Master:</dt>
                  <dd>
                    {{version.master.openshift}}
                  </dd>
                  <dt>Kubernetes Master:</dt>
                  <dd>
                    {{version.master.kubernetes}}
                  </dd>
                  <dt>OpenShift Web Console:</dt>
                  <dd>
                    {{version.console}}
                  </dd>
                </dl>

                <p>
                  The <a target="_blank" ng-href="{{'welcome' | helpLink}}">documentation</a> helps you learn about
                  OpenShift and start exploring its features. From getting started with creating your first application
                  to trying out more advanced build and deployment techniques, it provides guidance on setting up and
                  managing your OpenShift environment as an application developer.
                </p>

                <p>
                  With the OpenShift command line interface (CLI), you can create applications and manage OpenShift
                  projects from a terminal. To get started using the CLI, visit
                  <a href="command-line">Command Line Tools</a>.
                </p>

                <h2>Account</h2>
                <p>
                  You are currently logged in under the user account <strong>{{user.metadata.name}}</strong>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- /middle-content -->
</div><!-- /middle -->
