<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>

  <div class="add-to-project middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
                <div ng-show="!pvcs || !attach.resource" translate>Loading...</div>

                <div ng-show="pvcs && !pvcs.length && attach.resource" class="empty-state-message empty-state-full-page">
                  <h2 class="text-center" translate>No persistent volume claims.</h2>

                  <p class="gutter-top" translate>
                    A <b>persistent volume claim</b> is required to attach to this {{kind | humanizeKind}}, but none are loaded on this project.
                  </p>

                  <div ng-if="project && ('persistentvolumeclaims' | canI : 'create')" class="text-center">
                    <a ng-href="project/{{project.metadata.name}}/create-pvc"
                       class="btn btn-primary" translate>Create Storage</a>
                  </div>

                  <p ng-if="project && !('persistentvolumeclaims' | canI : 'create')" translate>
                    To claim storage from a persistent volume, refer to the documentation on <a target="_blank" ng-href="{{'persistent_volumes' | helpLink}}">using persistent volumes</a>.
                  </p>

                  <p ng-if="attach.resource"><a ng-href="{{attach.resource | navigateResourceURL}}" translate>Back to {{kind | humanizeKind}} {{name}}</a></p>
                </div>

                <div ng-show="pvcs && pvcs.length && attach.resource" class="mar-top-xl">
                  <h1 translate>Add Storage</h1>
                  <div class="help-block" translate>
                    Add an existing persistent volume claim to the template of {{kind | humanizeKind}} {{name}}.
                  </div>
                  <form name="attachPVCForm" class="mar-top-lg">
                    <fieldset ng-disabled="disableInputs">
                      <div class="form-group">
                        <label for="persistentVolumeClaim" class="required" translate>Storage</label>
                        <table style="margin-bottom:0;background-color:transparent;" class="table table-condensed table-borderless">
                          <tbody>
                            <tr ng-repeat="pvc in pvcs track by (pvc | uid)">
                              <td style="padding-left:0;">
                                <input
                                  type="radio"
                                  name="persistentVolumeClaim"
                                  ng-model="attach.persistentVolumeClaim"
                                  ng-value="pvc"
                                  aria-describedby="pvc-help">
                              </td>
                              <td><a ng-href="{{pvc | navigateResourceURL}}">{{pvc.metadata.name}}</a></td>
                              <td ng-if="pvc.spec.volumeName">{{pvc.status.capacity['storage'] | usageWithUnits: 'storage'}}</td>
                              <td ng-if="!pvc.spec.volumeName">{{pvc.spec.resources.requests['storage'] | usageWithUnits: 'storage'}}</td>
                              <td>({{pvc.spec.accessModes | accessModes | join}})</td>
                              <td>
                                {{pvc.status.phase}}
                                <span ng-if="pvc.spec.volumeName" translate>
                                  to volume <strong>{{pvc.spec.volumeName}}</strong>
                                </span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div ng-if="!(project && ('persistentvolumeclaims' | canI : 'create'))" class="help-block" translate>
                        Select storage to use.
                      </div>
                      <div ng-if="project && ('persistentvolumeclaims' | canI : 'create')" class="help-block">
                        <translate>Select storage to use<span ng-if="!outOfClaims"> or <a ng-href="project/{{project.metadata.name}}/create-pvc" >create storage</a>.</span></translate>
                        <span ng-if="outOfClaims" translate>. You cannot create new storage since you are at quota.</span>
                      </div>

                      <h3 translate>Volume</h3>
                      <div class="help-block" translate>
                        Specify details about how volumes are going to be mounted inside containers.
                      </div>

                      <div class="form-group mar-top-xl">
                        <label for="mount-path" translate>Mount Path</label>
                        <input
                            id="mount-path"
                            class="form-control"
                            type="text"
                            name="mountPath"
                            ng-model="attach.mountPath"
                            ng-pattern="/^\/.*$/"
                            osc-unique="existingMountPaths"
                            placeholder="example: /data"
                            autocorrect="off"
                            autocapitalize="off"
                            spellcheck="false"
                            aria-describedby="mount-path-help">
                        <div>
                          <span id="mount-path-help" class="help-block" translate>Mount path for the volume inside the container. If not specified, the volume will not be mounted automatically.</span>
                        </div>
                        <div class="has-error" ng-show="attachPVCForm.mountPath.$error.pattern && attachPVCForm.mountPath.$touched">
                          <span class="help-block" translate>
                            Mount path must be a valid path to a directory starting with <code>/</code>.
                          </span>
                        </div>
                        <div class="has-error" ng-show="attachPVCForm.mountPath.$error.oscUnique">
                          <span class="help-block" translate>
                            Volume mount in that path already exists. Please choose another mount path.
                          </span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="sub-path" translate>Subpath</label>
                        <input
                            id="sub-path"
                            class="form-control"
                            type="text"
                            name="subPath"
                            ng-model="attach.subPath"
                            placeholder="example: application/resources"
                            ng-pattern="RELATIVE_PATH_PATTERN"
                            autocorrect="off"
                            autocapitalize="off"
                            spellcheck="false"
                            aria-describedby="sub-path-help">
                        <div id="sub-path-help" class="help-block" translate>
                          Optional path within the volume from which it will be mounted into the container. Defaults to the volume's root.
                        </div>
                        <div class="has-error" ng-show="attachPVCForm.subPath.$error.pattern && attachPVCForm.subPath.$touched">
                          <span class="help-block" translate>
                            Path must be a relative path. It cannot start with <code>/</code> or contain <code>..</code> path elements.
                          </span>
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="volume-name" translate>Volume Name</label>
                        <!--
                          Volume name must conform to a DNS label
                          https://github.com/kubernetes/kubernetes/blob/master/docs/design/identifiers.md
                          https://github.com/kubernetes/kubernetes/blob/d7a87c228506ed11240049ae95cbb4efb07fd178/pkg/util/validation/validation.go#L61-L70
                        -->
                        <input
                            id="volume-path"
                            class="form-control"
                            type="text"
                            name="volumeName"
                            ng-model="attach.volumeName"
                            osc-unique="existingVolumeNames"
                            ng-pattern="/^[a-z0-9]([-a-z0-9]*[a-z0-9])?$/"
                            maxlength="63"
                            placeholder="(generated if empty)"
                            autocorrect="off"
                            autocapitalize="off"
                            spellcheck="false"
                            aria-describedby="volume-name-help">
                        <div>
                          <span id="volume-name-help" class="help-block" translate>Unique name used to identify this volume. If not specified, a volume name is generated.</span>
                        </div>
                        <div class="has-error" ng-show="attachPVCForm.volumeName.$error.pattern && attachPVCForm.volumeName.$touched">
                          <span class="help-block">
                            <translate>Volume names may only contain lower-case letters, numbers, and dashes.</translate>
                            <translate>They may not start or end with a dash.</translate>
                          </span>
                        </div>
                        <div class="has-error" ng-show="attachPVCForm.volumeName.$error.maxlength">
                          <span class="help-block" translate>
                            Volume names cannot be longer than 63 characters.
                          </span>
                        </div>
                        <div class="has-error" ng-show="attachPVCForm.volumeName.$error.oscUnique">
                          <span class="help-block" translate>
                            Volume name already exists. Please choose another name.
                          </span>
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-model="attach.readOnly" aria-describedby="read-only-help" translate>
                            Read only
                          </label>
                          <div id="read-only-help" class="help-block" translate>
                            Mount the volume as read-only.
                          </div>
                        </div>
                      </div>

                      <!-- Prompt for containers only if there is more than one. -->
                      <div ng-if="attach.resource.spec.template.spec.containers.length > 1">
                        <div ng-if="attach.allContainers" translate>
                          The volume will be mounted into all containers. You can <a href="" ng-click="attach.allContainers = false">select specific containers</a> instead.
                        </div>

                        <div ng-if="!attach.allContainers" class="form-group">
                          <label class="required" translate>Containers</label>
                          <select-containers
                              ng-model="attach.containers"
                              pod-template="attach.resource.spec.template"
                              ng-required="true"
                              help-text="{{'Add the volume to the selected containers.'|translate}}">
                          </select-containers>
                        </div>
                      </div>

                      <pause-rollouts-checkbox
                          ng-if="attach.resource | managesRollouts"
                          deployment="attach.resource">
                      </pause-rollouts-checkbox>

                      <div class="button-group gutter-top gutter-bottom">
                        <button type="submit"
                            class="btn btn-primary btn-lg"
                            ng-click="attachPVC()"
                            ng-disabled="attachPVCForm.$invalid || disableInputs || !attachPVC" translate>Add</button>
                        <a class="btn btn-default btn-lg" role="button" ng-click="cancel()" translate>Cancel</a>
                      </div>
                    </fieldset>
                  </form>
                </div>
              </div><!-- /col-md-* -->
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
