<div class="middle surface-shaded">
  <div class="middle-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
          <div class="mar-top-xl">
            <h1>Create Storage</h1>
            <div class="help-block">
              Create a request for an administrator-defined storage asset by specifying size and permissions for a best fit.
              <a href="{{'persistent_volumes' | helpLink}}" target="_blank"><span class="learn-more-inline">Learn More&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></span></a>
            </div>
            <form name="createPersistentVolumeClaimForm" class="mar-top-lg">
              <fieldset ng-disabled="disableInputs">
                <osc-persistent-volume-claim model="claim" project-name="projectName"></osc-persistent-volume-claim>
                <div class="button-group gutter-bottom">
                  <button type="submit"
                          class="btn btn-primary btn-lg"
                          ng-click="createPersistentVolumeClaim()"
                          ng-disabled="createPersistentVolumeClaimForm.$invalid || disableInputs"
                          value="">Create</button>
                  <a class="btn btn-default btn-lg" href="" ng-click="cancel()" role="button">Cancel</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /middle-content -->
</div><!-- /middle -->
