<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
                <alerts alerts="alerts"></alerts>
                <div class="mar-top-xl">
                  <h1>Request Storage</h1>
                  <div>
                    <span class="help-block">
                      Create a request for an administrator defined storage asset by requesting size and access mode attributes for a best fit.
                    </span>
                  </div>
                  <form name="createPersistentVolumeClaimForm">
                    <div>
                      <fieldset ng-disabled="disableInputs">
                        <osc-persistent-volume-claim
                          model="claim">
                        </osc-persistent-volume-claim>
                        <div class="button-group gutter-top gutter-bottom">
                          <button type="submit"
                                  class="btn btn-primary btn-lg"
                                  ng-click="createPersistentVolumeClaim()"
                                  ng-disabled="createPersistentVolumeClaimForm.$invalid || disableInputs"
                                  value="">Create</button>
                          <a class="btn btn-default btn-lg" href="" back>Cancel</a>
                        </div>
                      </fieldset>
                    </div>
                  </form>
                </div>
              </div>
            </div><!-- /row -->
          </div><!-- /container -->
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
