<div class="middle landing-page">
  <div class="middle-content">
    <overlay-panel show-panel="ordering.panelName" handle-close="closeOrderingPanel">
      <process-template-dialog ng-if="template" template="template" on-dialog-closed="closeOrderingPanel"></process-template-dialog>
      <deploy-image-dialog ng-if="ordering.panelName === 'deployImage'" on-dialog-closed="closeOrderingPanel"></deploy-image-dialog>
      <from-file-dialog ng-if="ordering.panelName === 'fromFile'" on-dialog-closed="closeOrderingPanel"></from-file-dialog>
      <process-template-dialog ng-if="ordering.panelName === 'fromProject'" use-project-template="true" on-dialog-closed="closeOrderingPanel"></process-template-dialog>
    </overlay-panel>
    <landing-page base-project-url="project" on-template-selected="templateSelected">
      <landingsearch>
        <catalog-search catalog-items="catalogItems" base-project-url="project"></catalog-search>
      </landingsearch>
      <landingheader>
        <div class="build-applications-view">
          <saas-list saas-offerings="saasOfferings"></saas-list>
        </div>
      </landingheader>
      <landingbody>
        <services-view catalog-items="catalogItems"
                       base-project-url="project"
                       on-deploy-image-selected="deployImageSelected"
                       on-from-file-selected="fromFileSelected"
                       on-create-from-project="fromProjectSelected">
        </services-view>
      </landingbody>
      <landingside>
        <projects-summary base-project-url="project" projects-url="projects" start-tour="startGuidedTour" view-edit-membership="viewMembership" catalog-items="catalogItems"></projects-summary>
      </landingside>
    </landing-page>
  </div><!-- /middle-content -->
</div><!-- /middle -->
