<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle landing-page">
    <div class="middle-content">
      <overlay-panel show-panel="template" show-close="true" handle-close="templateDialogClosed">
        <process-template-dialog ng-if="template" template="template" on-dialog-closed="templateDialogClosed"></process-template-dialog>
      </overlay-panel>
      <landing-page base-project-url="project" on-template-selected="templateSelected">
        <landingsearch>
          <catalog-search catalog-items="catalogItems" base-project-url="project"></catalog-search>
        </landingsearch>
        <landingheader>
          <div class="build-applications-view">
            <saas-list saas-offerings="saasOfferings"></saas-list>
          </div>
        </landingheader>
        <landingbody>
          <services-view catalog-items="catalogItems" base-project-url="project"></services-view>
        </landingbody>
        <landingside>
          <projects-summary base-project-url="project" projects-url="projects" start-tour="startGuidedTour" view-edit-membership="viewMembership" catalog-items="catalogItems"></projects-summary>
        </landingside>
      </landing-page>
    </div><!-- /middle-content -->
  </div><!-- /middle -->
</div><!-- /wrap -->
