<project-header class="top-header"></project-header>
<project-page class="membership" ng-if="project">

  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header">
        <div class="container-fluid">
          <div class="page-header page-header-bleed-right page-header-bleed-left">
            <h1>
              <a
                class="pull-right btn btn-default"
                href=""
                ng-if="canUpdateRolebindings"
                ng-click="toggleEditMode()">
                <span ng-if="!(mode.edit)">Edit Membership</span>
                <span ng-if="mode.edit">Done Editing</span>
              </a>
               Membership
               <span class="page-header-link">
                 <a ng-href="{{'roles' | helpLink}}" target="_blank">
                   Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
                 </a>
               </span>
            </h1>
          </div>
        </div>
      </div>
      <div class="middle-content" persist-tab-state>
        <div class="container-fluid">
          <alerts alerts="alerts"></alerts>
          <div class="row">
            <div class="col-md-12">

            </div>
          </div>
          <div  ng-if="!('rolebindings' | canI : 'list')">
            <p>You do not have permission to view roles in this project.</p>
          </div>



          <uib-tabset
            ng-if="'rolebindings' | canI : 'list'">
            <uib-tab
              ng-repeat="subjectKind in subjectKindsForUI | orderBy: 'sortOrder'"
              active="selectedTab[subjectKind.name]"
              select="selectTab(subjectKind.name)">
              <uib-tab-heading>
                {{subjectKind.name | startCase}}s&nbsp;({{subjectKind.subjects | hashSize}})
              </uib-tab-heading>
              <div ng-if="subjectKind.description">
                <p>
                  {{subjectKind.description}}
                  <a
                    ng-if="subjectKind.helpLinkKey"
                    target="_blank"
                    ng-href="{{subjectKind.helpLinkKey | helpLink}}"
                    class="learn-more-inline">
                    Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </p>
              </div>
              <div
                column
                class="content-pane"
                ng-class="'content-' + subjectKind.name.toLowerCase()">

                <div
                  class="col-heading item-row"
                  row mobile="column" flex-collapse-fix>
                  <div class="col-name" flex conceal="mobile" ng-class="{ 'half-width': !mode.edit }">
                    <h3>Name</h3>
                  </div>
                  <div class="col-roles" flex conceal="mobile">
                    <h3>Roles</h3>
                  </div>
                  <div ng-if="mode.edit" class="col-add-role" conceal="tablet" flex-collapse-fix>
                    <h3>
                      Add Another Role
                    </h3>
                  </div>
                </div>

                <div ng-if="(subjectKind.subjects | hashSize) === 0">
                  <p>
                    <em>There are no {{ subjectKind.name | humanizeKind }}s with access to this project.</em>
                  </p>
                </div>
                <div
                  ng-repeat="subject in subjectKind.subjects"
                  class="item-row highlight-hover"
                  row mobile="column">
                  <div class="col-name" row flex cross-axis="center" ng-class="{ 'half-width': !mode.edit }">
                    <a
                      ng-if="subject.namespace"
                      target="_blank"
                      ng-href="project/{{project.metadata.name}}/browse/other?kind=ServiceAccount">
                      <span>
                        {{subject.namespace}} /
                      </span>
                      <strong>
                        {{subject.name}}
                      </strong>
                    </a>
                    <span ng-if="!subject.namespace">
                      <strong>
                        {{subject.name}}
                      </strong>
                      <span
                        class="current-user"
                        ng-if="subject.name === user.metadata.name">
                        (you)
                      </span>
                    </span>
                  </div>
                  <div
                    class="action-set"
                    flex row tablet="column" mobile="column">
                    <div
                      class="col-roles"
                      row tablet="column" flex wrap axis="start">
                      <action-chip
                        ng-repeat="role in subject.roles"
                        key="role.metadata.name"
                        key-help="roleHelp(role)"
                        show-action="mode.edit"
                        action="confirmRemove(subject.name, subjectKind.name, role.metadata.name)"
                        action-title="Remove role {{role.metadata.name}} from {{subject.name}}"></action-chip>
                    </div>
                    <div
                      ng-if="mode.edit"
                      class="col-add-role">
                      <div row>
                        <ui-select
                          ng-if="filteredRoles.length"
                          ng-model="subject.newRole"
                          theme="bootstrap"
                          search-enabled="true"
                          title="Select a new role for {{subjectKind.name}}"
                          class="select-role"
                          flex>
                          <ui-select-match
                            placeholder="Select a role">
                            <span ng-bind="subject.newRole.metadata.name"></span>
                          </ui-select-match>
                          <ui-select-choices
                            repeat="role as role in filteredRoles | filter: excludeExistingRoles(subject.roles) | filter: $select.search | orderBy: 'metadata.name'">
                            <div>{{ role.metadata.name }}</div>
                            <div ng-if="role | annotation : 'description'">
                              <small>{{role | annotation : 'description'}}</small>
                            </div>
                          </ui-select-choices>
                        </ui-select>
                        <button
                          ng-disabled="disableAddForm || (!subject.newRole)"
                          ng-click="addRoleTo(subject.name, subjectKind.name, subject.newRole)"
                          class="btn btn-default add-role-to">
                          Add
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <ng-form
                  class="new-binding"
                  novalidate
                  name="forms.newBindingForm"
                  ng-if="newBinding">
                  <div
                    ng-if="mode.edit"
                    class="item-row form-new-role" row mobile="column">
                    <div class="col-name pad-bottom-none" row mobile="column" tablet="column">
                      <label
                        ng-attr-for="newBindingName"
                        class="sr-only">
                        Name
                      </label>

                      <!-- name entry field for everything but service accounts -->
                      <input
                        ng-if="newBinding.kind !== 'ServiceAccount'"
                        type="text"
                        class="form-control input-name"
                        placeholder="Name"
                        ng-model="newBinding.name"
                        autocorrect="off"
                        autocapitalize="none"
                        spellcheck="false">
                      <!-- namespace entry/picker for service accounts -->
                      <div
                        ng-if="newBinding.kind === 'ServiceAccount'"
                        class="service-account-namespace"
                        aria-hidden="true">
                        <ui-select
                          ng-model="newBinding.namespace"
                          on-select="selectProject($item, $model)"
                          theme="bootstrap"
                          search-enabled="true"
                          title="Select a project"
                          class="select-role pad-bottom-sm">
                          <ui-select-match
                            placeholder="Select a project">
                            <span>{{newBinding.namespace}}</span>
                          </ui-select-match>
                          <ui-select-choices
                            repeat="projectName in projects | filter: $select.search"
                            refresh="refreshProjects($select.search)"
                            refresh-delay="200">
                            <div ng-bind-html="projectName | highlight : $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>

                      <span
                        ng-if="newBinding.kind === 'ServiceAccount'"
                        class="mar-left-md mar-right-md hidden-xs">/</span>

                      <!-- name entry/picker for service accounts -->
                      <div
                        ng-if="newBinding.kind === 'ServiceAccount'"
                        class="service-account-name">
                        <ui-select
                          ng-model="newBinding.name"
                          theme="bootstrap"
                          search-enabled="true"
                          title="Select a service account"
                          class="select-role">
                          <ui-select-match
                            placeholder="Service account">
                            <span>{{newBinding.name}}</span>
                          </ui-select-match>
                          <ui-select-choices
                            repeat="saName in serviceAccounts | filter: $select.search"
                            refresh="refreshServiceAccounts($select.search)"
                            refresh-delay="200">
                            <div ng-bind-html="saName | highlight : $select.search"></div>
                          </ui-select-choices>
                        </ui-select>
                      </div>
                    </div>
                    <div
                      class="action-set"
                      flex row tablet="column" mobile="column">
                      <div class="col-roles" flex row tablet="column">&nbsp;</div>
                      <div class="col-add-role">
                        <div ng-show="mode.edit" row>
                          <ui-select
                            ng-if="filteredRoles.length"
                            ng-model="newBinding.newRole"
                            theme="bootstrap"
                            search-enabled="true"
                            title="new {{subjectKind.name}} role"
                            class="select-role"
                            flex>
                            <ui-select-match
                              placeholder="Select a role">
                              <span ng-bind="newBinding.newRole.metadata.name"></span>
                            </ui-select-match>
                            <ui-select-choices
                              repeat="role as role in filteredRoles | filter: $select.search | orderBy: 'metadata.name'">
                              <div>{{ role.metadata.name }}</div>
                              <div ng-if="role | annotation : 'description'">
                                <small>{{role | annotation : 'description'}}</small>
                              </div>
                            </ui-select-choices>
                          </ui-select>
                          <button
                            ng-disabled="disableAddForm || (!newBinding.name) || (!newBinding.newRole)"
                            ng-click="addRoleTo(newBinding.name, newBinding.kind, newBinding.newRole, newBinding.namespace)"
                            class="btn btn-default add-role-to">
                            Add
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-form>

                <div
                  ng-if="mode.edit"
                  row mobile="column">
                  <div class="col-name hidden-xs">&nbsp;</div>
                  <div
                    class="action-set"
                    flex row tablet="column" mobile="column">
                    <div class="col-roles hidden-xs" flex>&nbsp;</div>
                    <div class="col-add-role" row>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" class="toggle-hidden" ng-click="showAllRoles($event)">
                          Show hidden roles</label>&nbsp;<a href=""
                                                            class="action-inline"
                                                            data-toggle="popover"
                                                            data-trigger="hover focus"
                                                            data-content="System roles are hidden by default and do not typically need to be managed."><i class="pficon pficon-help"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-tab>
          </uib-tabset>




          <uib-tabset
            ng-if="'rolebindings' | canI : 'list'">
            <uib-tab
              ng-repeat="subjectKind in subjectKindsForUI | orderBy: 'sortOrder'"
              active="selectedTab[subjectKind.name]"
              select="selectTab(subjectKind.name)">
              <uib-tab-heading>
                {{subjectKind.name | startCase}}s&nbsp;({{subjectKind.subjects | hashSize}})
              </uib-tab-heading>

              <div
                class="row"
                ng-if="subjectKind.description">
                <p>
                  {{subjectKind.description}}
                  <a
                    ng-if="subjectKind.helpLinkKey"
                    target="_blank"
                    ng-href="{{subjectKind.helpLinkKey | helpLink}}"
                    class="learn-more-inline">
                    Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </p>
              </div>

              <div
                class="content-pane"
                ng-class="'content-' + subjectKind.name.toLowerCase()">

                <div class="container-fluid">
                  <div class="row">

                    <div class="list-view-pf">
                      <div
                        ng-repeat="item in [
                          { name: 'developer', roles: ['admin'], is: { expanded: true} },
                          { name: 'sue', roles: ['view', 'edit', 'and two others'], is: { expanded: false} }
                        ]">
                        <div
                          class="list-group-item list-group-item-expandable"
                          ng-class="{'expanded': item.is.expanded}">

                          <div
                            class="list-view-pf-checkbox"
                            ng-click="item.is.expanded = !item.is.expanded">
                            <button class="sr-only">{{item.is.expanded ? 'Collapse' : 'Expand'}}</button>
                            <span ng-if="item.is.expanded">
                              <span class="fa fa-angle-down"></span>
                            </span>
                            <span ng-if="!item.is.expanded">
                              <span class="fa fa-angle-right"></span>
                            </span>
                          </div>

                          <div class="list-view-pf-main-info">
                            <div class="list-view-pf-body">
                              <div class="list-view-pf-description">
                                <div class="list-group-item-heading">
                                  <strong>{{item.name}}</strong>
                                </div>
                                <div class="list-group-item-text">
                                  <span ng-repeat="role in item.roles">
                                    {{role}}<span ng-if="!$last">,</span>
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>

                        <div
                          class="list-group-expanded-section"
                          ng-show="item.is.expanded"
                          ng-class="{'expanded': item.is.expanded}">
                          Other things go in here.
                        </div>
                      </div>

                    </div>
                  </div>
                </div>


              </div>

            </uib-tab>
          </uib-tabset>



        </div>
      </div>
    </div>
  </div>
</project-page>
