<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <div class="row">
              <div class="col-md-12">
                <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
                <div ng-hide="template">
                  Loading...
                </div>
                <div class="osc-form" ng-show="template">
                  <alerts alerts="alerts"></alerts>
                  <div class="row">
                    <div class="col-md-2 icon hidden-sm hidden-xs">
                      <custom-icon resource="template" kind="template"></custom-icon>
                    </div>
                    <div class="col-md-8">
                      <fieldset ng-disabled="disableInputs">
                        <osc-image-summary resource="template"></osc-image-summary>
                        <div ng-if="templateImages.length" class="images">
                          <h2>Images</h2>
                          <ul class="list-unstyled" ng-repeat="image in templateImages">
                            <li>
                              <i class="pficon pficon-image" aria-hidden="true"></i>
                              <span class="name">
                                {{ image.name }}
                              </span>
                              <span ng-if="image.usesParameters.length" class="text-muted small">
                                <span ng-if="!image.name">Image value set</span>
                                from parameter<span ng-if="image.usesParameters.length > 1">s</span>
                                <span ng-repeat="parameterName in image.usesParameters">
                                  {{parameterDisplayNames[parameterName]}}<span ng-if="!$last">,</span>
                                </span>
                              </span>
                            </li>
                          </ul>
                        </div>
                        <form name="templateForm">
                          <template-options parameters="template.parameters" expand="true" can-toggle="false"></template-options>
                          <label-editor
                              labels="labels"
                              system-labels="systemLabels"
                              expand="true"
                              can-toggle="false"
                              help-text="Each label is applied to each created resource.">
                          </label-editor>
                          <alerts alerts="quotaAlerts"></alerts>
                          <div class="buttons gutter-top-bottom">
                            <button class="btn btn-primary btn-lg" ng-click="createFromTemplate()" ng-disabled="templateForm.$invalid || disableInputs">Create</button>
                            <a class="btn btn-default btn-lg" href="{{projectName | projectOverviewURL}}">Cancel</a>
                          </div>
                        </form>
                      </fieldset>
                    </div>
                  </div>
                </div><!-- /osc-form -->
              </div><!-- /col-* -->
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
