<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <div class="row">
              <div class="col-md-12">
                <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
                <div ng-hide="template">
                  Loading...
                </div>
                <div ng-if="template">
                  <process-template
                      template="template"
                      project="project"
                      alerts="alerts"
                      prefill-parameters="prefillParameters">
                  </process-template>
                </div>
              </div><!-- /col-* -->
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
