<project-header class="top-header"></project-header>
<project-page class="overview">

  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-content surface-shaded">
        <div class="container-fluid surface-shaded">
          <tasks></tasks>
          <alerts alerts="alerts"></alerts>
          <div class="row">
            <div class="col-md-12">
              <!-- Empty states -->
              <div ng-if="renderOptions.showGetStarted">
                <!-- Getting started -->
                <div class="empty-project text-center">
                  <div ng-if="project.metadata.name | canIAddToProject">
                    <h2>Get started with your project.</h2>
                    <p class="gutter-top">
                      Use your source or an example repository to build an application
                      image, or add components like databases and message queues.
                    </p>
                    <p class="gutter-top">
                      <a ng-href="project/{{projectName}}/create" class="btn btn-lg btn-primary">
                        Add to Project
                      </a>
                    </p>
                  </div>
                  <div ng-if="!(project.metadata.name | canIAddToProject)">
                    <h2>Welcome to project {{projectName}}.</h2>
                    <ng-include src="'views/_request-access.html'"></ng-include>
                  </div>
                </div>
              </div>
              <div ng-if="renderOptions.showLoading" class="loading-message">
                Loading...
              </div>
              <div class="service-group-with-route-row" ng-repeat="service in topLevelServices"
                   ng-if="service.metadata.labels.app || routesByService[service.metadata.name].length || childServicesByParent[service.metadata.name].length">
                <overview-service-group></overview-service-group>
              </div>

              <div row wrap class="standalone-service-row">
                <div
                    ng-repeat="service in topLevelServices"
                    ng-if="!service.metadata.labels.app && !routesByService[service.metadata.name].length && !childServicesByParent[service.metadata.name].length"
                    class="standalone-service">
                  <overview-service-group></overview-service-group>
                </div>
              </div>

              <!-- Unserviced DCs, RCs, and pods -->
              <div row wrap ng-if="hasUnservicedContent()" class="unserviced-row">
                <!-- unserviced DC -->
                <div ng-repeat="(dcName, deploymentConfig) in deploymentConfigsByService[''] track by (deploymentConfig | uid)" class="no-service">
                  <overview-deployment-config class="overview-tile-wrapper"></overview-deployment-config>
                </div>
                <!-- /unserviced DC -->

                <!-- unserviced deployment -->
                <div ng-repeat="(deploymentName, deployment) in deploymentsByService[''] track by (deployment | uid)"
                    class="no-service"
                    ng-if="replicaSets = visibleRSByDeploymentAndService[''][deploymentName]"> <!-- Must be an ng-if, an ng-init will not re-evaluate properly -->
                  <overview-deployment class="overview-tile-wrapper"></overview-deployment>
                </div>
                <!-- /unserviced deployment -->

                <!-- unserviced RC -->
                <div ng-repeat="set in replicationControllersByService[''] | toArray | orderBy : 'metadata.name' track by (set | uid)"
                    ng-if="!(set | annotation : 'deploymentConfig') || !deploymentConfigs[(set | annotation : 'deploymentConfig')]"
                    class="no-service">
                  <overview-set class="overview-tile-wrapper"></overview-set>
                </div>
                <!-- /unserviced RC-->

                <!-- unserviced RS -->
                <div ng-repeat="set in replicaSetsByService[''] | toArray | orderBy : 'metadata.name' track by (set | uid)"
                     ng-if="!(set | annotation : 'deployment.kubernetes.io/revision')"
                     class="no-service">
                  <overview-set class="overview-tile-wrapper"></overview-set>
                </div>
                <!-- /unserviced RS-->

                <!-- unserviced RS -->
                <div ng-repeat="set in statefulSetsByService[''] | toArray | orderBy : 'metadata.name' track by (set | uid)" class="no-service">
                  <overview-set class="overview-tile-wrapper"></overview-set>
                </div>
                <!-- /unserviced RS-->

                <!-- unservice monopods -->
                <div ng-repeat="pod in monopodsByService[''] | toArray | orderBy : 'metadata.name' track by (pod | uid)"
                    class="no-service">
                  <overview-pod class="overview-tile-wrapper"></overview-pod>
                </div>
                <!-- /unserviced monopods -->
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</project-page>
