<project-header class="top-header"></project-header>
<project-page>

  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header header-toolbar">
        <div class="container-fluid">
          <div class="page-header page-header-bleed-right page-header-bleed-left">
            <h1>
              <translate>Pods</translate>
              <span class="page-header-link">
                <a ng-href="{{'pods' | helpLink}}" target="_blank">
                  <translate>Learn More</translate> <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
              </span>
            </h1>
          </div>
          <div ng-if="!renderOptions.showGetStarted" class="data-toolbar">
            <div class="data-toolbar-filter">
              <project-filter></project-filter>
            </div>
          </div>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content">
        <div class="container-fluid">
          <alerts alerts="alerts"></alerts>
          <div class="row">
            <div class="col-md-12">
              <pods-table pods="pods" empty-message="emptyMessage|translate"></pods-table>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
</project-page>
