<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded"> <!-- Safari needs surface-shaded at mobile -->
            <div class="row">
              <div class="col-md-12">
                <div ng-if="alerts" class="alerts">
                  <alerts alerts="alerts"></alerts>
                </div>

                <div ng-if="!showGetStarted">
                  <div ng-if="loading" class="empty-state-message">
                    <h2 class="text-center">Loading...</h2>
                  </div>
                  <div ng-if="!loading">
                    <div class="projects-header">
                      <div class="projects-bar">
                        <h1>Projects</h1>
                        <div class="projects-options">
                          <div class="projects-add" ng-if="canCreate">
                            <a href="create-project" class="btn btn-md btn-primary">
                              New Project
                            </a>
                          </div>
                          <div class="projects-search">
                            <form role="form" class="search-pf has-button">
                              <div class="form-group has-clear">
                                <div class="search-pf-input-group">
                                  <label for="search-projects" class="sr-only">Search</label>
                                  <input
                                    type="search"
                                    class="form-control"
                                    placeholder="Search"
                                    id="search-projects"
                                    ng-model="search.text">
                                  <button
                                    type="button"
                                    class="clear"
                                    aria-hidden="true"
                                    ng-if="search.text"
                                    ng-click="search.text = ''">
                                    <span class="pficon pficon-close"></span>
                                  </button>
                                </div>
                              </div>
                            </form>
                            <span class="vertical-divider"></span>
                            <span class="projects-sort-label">Sort by</span>
                            <div class="projects-sort">
                              <div pf-sort config="sortConfig" class="sort-controls"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div ng-if="!projects.length" class="h3">
                      The current filter is hiding all projects.
                      <a href="" ng-click="search.text = ''" role="button">Clear Filter</a>
                    </div>
                    <div class="list-group list-view-pf projects-list">
                      <div ng-repeat="project in projects" class="list-group-item project-info tile-click">
                        <div row class="list-view-pf-actions project-actions" ng-if="project.status.phase == 'Active'">
                          <span class="fa-lg project-action-item" title="View and Edit Membership">
                            <a ng-href="project/{{project.metadata.name}}/membership" class="action-button">
                              <i class="pficon pficon-users" aria-hidden="true"></i>
                              <span class="sr-only">View and Edit Membership</span>
                            </a>
                          </span>
                          <span class="fa-lg project-action-item" title="Edit Display Name and Description">
                            <!-- Return to the web console root URL (this page) after editing. -->
                            <a ng-href="project/{{project.metadata.name}}/edit?then=./" class="action-button">
                              <i class="fa fa-pencil" aria-hidden="true"></i>
                              <span class="sr-only">Edit Display Name and Description</span>
                            </a>
                          </span>
                          <span title="Delete Project">
                            <delete-link
                              class="fa-lg project-action-item"
                              kind="Project"
                              resource-name="{{project.metadata.name}}"
                              project-name="{{project.metadata.name}}"
                              display-name="{{(project | displayName)}}"
                              type-name-to-confirm="true"
                              stay-on-current-page="true"
                              alerts="alerts"
                              button-only>
                            </delete-link>
                          </span>
                        </div>
                        <div class="list-view-pf-main-info">
                          <div class="list-view-pf-description project-names">
                            <div class="list-group-item-heading project-name-item">
                              <h2 class="h1">
                                <a class="tile-target" ng-href="project/{{project.metadata.name}}" title="{{project | displayName}}"><span ng-bind-html="project | displayName | highlightKeywords : keywords"></span></a>
                                <span ng-if="project.status.phase != 'Active'"
                                  data-toggle="tooltip"
                                  title="This project has been marked for deletion."
                                  class="pficon pficon-warning-triangle-o"></span>
                              </h2>
                              <small>
                                <span ng-if="project | displayName : true"><span ng-bind-html="project.metadata.name | highlightKeywords : keywords"></span> &ndash;</span>
                                created
                                <span ng-if="project | annotation : 'openshift.io/requester'">by <span ng-bind-html="project | annotation : 'openshift.io/requester' | highlightKeywords : keywords"></span></span>
                                <span am-time-ago="project.metadata.creationTimestamp"></span>
                              </small>
                            </div>
                            <div class="list-view-pf-additional-info project-additional-info">
                              <span class="list-group-item-text project-description">
                                <truncate-long-text ng-if="!keywords.length" content="project | description" limit="265" newline-limit="10" use-word-boundary="true"></truncate-long-text>
                                <span class="highlighted-content" ng-if="keywords.length" ng-bind-html="project | description | truncate : 1000 | highlightKeywords : keywords"></span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p class="projects-instructions" ng-if="canCreate === false" ng-include="'views/_cannot-create-project.html'"></p>
                  </div>
                </div>

                <div ng-if="showGetStarted">
                  <div class="empty-state-message empty-state-full-page text-center">
                    <h1>Welcome to OpenShift.</h1>
                    <p>
                      OpenShift helps you quickly develop, host, and scale applications.<br>
                      <span ng-if="canCreate">Create a project for your application.</span>
                    </p>
                    <a ng-if="canCreate" href="create-project" class="btn btn-lg btn-primary">New Project</a>
                    <p>To learn more, visit the OpenShift <a target="_blank" ng-href="{{'' | helpLink}}">documentation</a>.</p>
                    <p class="projects-instructions" ng-if="canCreate === false" ng-include="'views/_cannot-create-project.html'"></p>
                  </div>
                </div>

              </div><!-- /col -->
            </div><!-- /row -->
          </div><!-- /container -->
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
