<div class="middle">
  <div class="middle-header">
    <div class="container-fluid">
      <div class="page-header page-header-bleed-right page-header-bleed-left">
        <div class="pull-right" ng-if="project && ('secrets' | canI : 'create') && secrets.length">
          <a ng-href="project/{{project.metadata.name}}/create-secret" class="btn btn-default">Create Secret</a>
        </div>
        <h1>
          Secrets
          <span class="page-header-link">
            <a ng-href="{{'secrets' | helpLink}}" target="_blank">
              Learn More <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
          </span>
        </h1>
      </div>
    </div>
  </div><!-- /middle-header-->
  <div class="middle-content">
    <div class="container-fluid">
      <div ng-if="!secretsLoaded" class="mar-top-xl">Loading...</div>
      <div ng-if="secretsLoaded" class="row">
        <div class="col-md-12">
          <div ng-if="!secrets.length">
            <div class="empty-state-message text-center">
              <h2>No secrets.</h2>
              <p>
                No secrets have been added to project {{projectName}}.
              </p>
              <p ng-if="project && ('secrets' | canI : 'create') && !secrets.length">
                <a ng-href="project/{{project.metadata.name}}/create-secret" class="btn btn-primary">Create Secret</a>
              </p>
            </div>
          </div>
          <table ng-if="secrets.length" class="table table-bordered table-mobile secrets-table table-layout-fixed">
            <colgroup>
              <col class="col-sm-5">
              <col class="col-sm-5">
            </colgroup>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Created</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="secret in secrets track by (secret | uid)">
                <td data-title="Name">
                  <a ng-href="{{secret | navigateResourceURL}}">{{secret.metadata.name}}</a>
                </td>
                <td data-title="Type">
                  {{secret.type}}
                </td>
                <td data-title="Created">
                  <span am-time-ago="secret.metadata.creationTimestamp"></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /col-* -->
      </div>
    </div>
  </div><!-- /middle-content -->
</div>
