<project-header class="top-header"></project-header>
<project-page>

  <!-- Middle section -->
  <div class="middle-section">
    <div class="middle-container">
      <div class="middle-header header-light">
        <div class="container-fluid">
          <div class="page-header page-header-bleed-right page-header-bleed-left">
            <div class="pull-right" ng-if="project && ('secrets' | canI : 'create')">
              <a ng-href="project/{{project.metadata.name}}/create-secret" class="btn btn-default">Create Secret</a>
            </div>
            <h1>Secrets</h1>
          </div>
          <alerts alerts="alerts"></alerts>
        </div>
      </div><!-- /middle-header-->
      <div class="middle-content">
        <div class="container-fluid">
          <div ng-if="!loaded">Loading...</div>
          <div ng-if="loaded" class="row">
            <div class="col-md-12">
              <h3>Source Secrets</h3>
              <table class="table table-bordered table-hover table-mobile secrets-table">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Created</th>
                  </tr>
                </thead>
                <!-- message doesnt show right when there are both dcs and rcs and they are all filtered -->
                <tbody ng-if="secretsByType.source.length === 0">
                  <!-- If there are no deployment configs and no replication controllers owned by a deployment config -->
                  <tr><td colspan="3"><em>No secrets</em></td></tr>
                </tbody>
                <tbody ng-repeat="secret in secretsByType.source | orderBy : 'name'">
                  <tr ng-if="secret">
                    <td data-title="Name">
                      <a ng-href="{{secret | navigateResourceURL}}">{{secret.metadata.name}}</a>
                    </td>
                    <td data-title="Type">
                      {{secret.type}}
                    </td>
                    <td data-title="Created">
                      <relative-timestamp timestamp="secret.metadata.creationTimestamp"></relative-timestamp>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div ng-if="secretsByType.images.length !== 0">
                <h3>Image Secrets</h3>
                <table class="table table-bordered table-hover table-mobile secrets-table">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Created</th>
                    </tr>
                  </thead>
                  <tbody ng-repeat="secret in secretsByType.image | orderBy : 'name'">
                    <tr>
                      <td data-title="Name">
                        <a ng-href="{{secret | navigateResourceURL}}">{{secret.metadata.name}}</a>
                      </td>
                      <td data-title="Type">
                        {{secret.type}}
                      </td>
                      <td data-title="Created">
                        <relative-timestamp timestamp="secret.metadata.creationTimestamp"></relative-timestamp>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div><!-- /col-* -->
          </div>
        </div>
      </div><!-- /middle-content -->
    </div><!-- /middle-container -->
  </div><!-- /middle-section -->
</project-page>
