<default-header class="top-header"></default-header>
<div class="wrap no-sidebar">
  <div class="sidebar-left collapse navbar-collapse navbar-collapse-2">
    <navbar-utility-mobile></navbar-utility-mobile>
  </div>
  <div class="middle surface-shaded">
    <!-- Middle section -->
    <div class="middle-section">
      <div class="middle-container">
        <div class="middle-content">
          <div class="container surface-shaded">
            <breadcrumbs breadcrumbs="breadcrumbs"></breadcrumbs>
            <div class="row">
              <div class="col-md-12">
                <div ng-show="!containers.length">Loading...</div>
                <form ng-if="containers.length" name="form" class="set-limits-form">
                  <h1 translate>Resource Limits: {{name}}</h1>
                  <div class="help-block">
                    <translate>Resource limits control how much <span ng-if="!hideCPU">CPU and</span> memory a container will consume on a node.</translate>
                    <div class="learn-more-block" ng-class="{ 'gutter-bottom': showPodWarning }">
                      <a href="{{'compute_resources' | helpLink}}" target="_blank"><translate>Learn More</translate> <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    </div>
                  </div>
                  <div ng-if="showPodWarning" class="alert alert-warning">
                    <span class="pficon pficon-warning-triangle-o" aria-hidden="true"></span>
                    <translate>Changes will only apply to new pods.</translate>
                  </div>
                  <fieldset ng-disabled="disableInputs">
                    <div ng-repeat="container in containers"
                         ng-init="formName = container.name + '-form'">
                      <h2 ng-if="containers.length > 1" translate>Container {{container.name}}</h2>
                      <edit-request-limit
                          resources="container.resources"
                          type="cpu"
                          limit-ranges="limitRanges"
                          project="project">
                      </edit-request-limit>
                      <edit-request-limit
                          resources="container.resources"
                          type="memory"
                          limit-ranges="limitRanges"
                          project="project">
                      </edit-request-limit>
                    </div>
                    <div ng-repeat="problem in cpuProblems" class="has-error">
                      <span class="help-block">{{problem}}</span>
                    </div>
                    <div ng-repeat="problem in memoryProblems" class="has-error">
                      <span class="help-block">{{problem}}</span>
                    </div>

                    <pause-rollouts-checkbox
                        ng-if="object | managesRollouts"
                        deployment="object">
                    </pause-rollouts-checkbox>

                    <div class="button-group gutter-top gutter-bottom">
                      <button type="submit"
                        class="btn btn-primary btn-lg"
                        ng-click="save()"
                        ng-disabled="form.$pristine || form.$invalid || disableInputs || cpuProblems.length || memoryProblems.length"
                        value="" translate>Save</button>
                      <button class="btn btn-default btn-lg" ng-click="cancel()" translate>Cancel</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
        </div><!-- /middle-content -->
      </div><!-- /middle-container -->
    </div><!-- /middle-section -->
  </div><!-- /middle -->
</div><!-- /wrap -->
