<div class="copy-webhook-url">
  <copy-to-clipboard clipboard-text="$ctrl.buildConfigName | webhookURL : $ctrl.triggerType : $ctrl.secret : $ctrl.projectName : $ctrl.webhookSecrets"></copy-to-clipboard>
  <span
    ng-if="$ctrl.showSecretsWarning()"
    class="pficon pficon-warning-triangle-o webhook-secrets-warning"
    data-toggle="tooltip"
    data-trigger="hover"
    title="The URL for this webhook contains secret information that you do not have access to."
    aria-hidden="true">
  </span>
</div>